[2019-03-22 19:04] rraadd88 commented on #345
Hi, I could not locate the example for the demo: https://datatables.net/extensions/buttons/examples/print/select.html on github repos of datatables.
I found most of the other demos in the github repo and they are very helpful.
Does the example for [Export options - row selector](https://datatables.net/extensions/buttons/examples/print/select.html) or [Select integration - export selected rows](htt

[2019-03-23 04:41] ajayinfyom commented on #537
@dhcmega Once read this blog
https://blog.infyom.com/how-to-display-relationship-data-into-yajra-datatables-with-infyom-laravel-generator

**$appends** attribute  working fine in the new version of the generator as well

**Your Solution:**
On **query()** function need to return query like this
    ` $model->newQuery()->with(['event.user']); `

and need to add this one while getting datatable colum

[2019-03-23 09:08] #453 closed

[2019-03-23 09:13] mitulgolakiya commented on #623
Then probably you should read more here. https://laravel.com/docs/5.8/validation#customizing-the-error-messages

Also, maybe in case of APIs, you will need to customize report function in `app/Exceptions/Handler.php`, handle `ValidationException` and send the response you want. As this validation has been sent by `FormRequest` class from `failedValidation` function.

[2019-03-23 09:14] mitulgolakiya commented on #548
yes.

[2019-03-23 09:14] #537 closed

[2019-03-23 09:16] #586 closed

[2019-03-25 11:01] mitulgolakiya opened #630 "Made with InfyOm Generator"
## Add your website to [Made with InfyOm Generator List](https://github.com/InfyOmLabs/laravel-generator/blob/develop/made-with-generator.md)

I just came to the idea that why don't we have a list of websites/projects which were built or already using InfyOm generator.

I came across lots of websites and admin panel which is using this generator. so preparing one list will be great motivation for

[2019-03-25 11:19] #516 closed

[2019-03-25 11:20] #371 closed

[2019-03-25 11:25] mitulgolakiya commented on #516
After this fix, anyone who wants to fix this will need to delete `config/infyom/laravel_generator.php` and run `php artisan vendor:publish` command to publish a new file.

If you have modified config file then take a back of that file first, then apply those changes again to `config/infyom/laravel_generator.php`

[2019-03-25 12:01] mitulgolakiya commented on #607
@gmancoder can you post some more data, please? We are not able to reproduce the issue or we are missing something. Can you post some exact steps and request params that you are passing into POST?

[2019-03-25 13:20] mitulgolakiya commented on #630
Mentioning some contributors:

@dhcmega @NightZpy @phillipmadsen @jschlies @alexanderreiff @claudiobastos @motia @remxcode @Katenkka @xiaohuilam @uniconstructor @JosueMOsunaG12 @rascoop @jeffschuler

[2019-03-27 10:52] #545 closed

[2019-03-28 07:25] mitulgolakiya commented on #301
we do not generate `all` function in the latest code.

[2019-03-28 07:25] #301 closed

[2019-03-28 09:19] #207 closed

[2019-03-29 10:22] #292 closed

[2019-04-01 10:37] mitulgolakiya commented on #617
@LarryTX CoreUI templates: https://github.com/InfyOmLabs/coreui-templates

[2019-04-03 09:03] #551 closed

[2019-04-03 11:48] LunarDevelopment commented on #596
Just a quick thank you to @laravelcoder this saved me a fair amount of investigation.

[2019-04-03 12:19] pakcybershagufta commented on #623
If you want to customize validation response only for selected Request class, you need to add failedValidation() message to this class:

protected function failedValidation(\Illuminate\Contracts\Validation\Validator $validator)
{
    $response = new JsonResponse(['data' => [],
             'meta' => [
                'message' => 'The given data is invalid',
                'errors' => $validator-

[2019-04-13 10:40] mitulgolakiya commented on #525
I would leave this up to the developer, because a developer may have a pretty good idea, what other complex validations he should put. so after the CRUD generation, it should be managed manually.

[2019-04-13 10:40] #525 closed

[2019-04-14 02:09] japc-74 commented on #539
Hello @mitulgolakiya I'm facing the same issue, I'd used php artisan infyom:api_scaffold $MODEL_NAME --datatables=true --fromTable --tableName=$TABLE_NAME where $MODEL_NAME and $TABLE_NAME are properly setted. the result is:

Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Class 'InfyOm\Generator\Controller\AppBaseController' not found

On the controller I have:

use App\

[2019-04-14 05:27] mitulgolakiya commented on #539
@japc-74 did you published and customized the templates?

[2019-04-14 16:36] japc-74 commented on #539
@mitulgolakiya I ran php artisan infyom:publish

[2019-04-14 16:41] japc-74 commented on #539
@mitulgolakiya you mean if I made changes to the templates provided by your generator, the response is nope.

[2019-04-15 07:19] mitulgolakiya commented on #539
@japc-74 not sure, what laravel version you are using, but something is really wrong with your templates. Because, the line,

`use InfyOm\Generator\Controller\AppBaseController;`

should not come as this is not where the current template which is here. https://github.com/InfyOmLabs/laravel-generator/blob/develop/templates/scaffold/controller/datatable_controller.stub#L11

In my opinion, you should

[2019-04-15 11:29] dhcmega commented on #539
@japc-74 I hope this will guide you instead of adding more confusion.

AppBaseController is there only to add JSON responses for APIs, so if you are not using APIs, you don't need it and you can just extend Controller.

AppBaseController should be present in your Http/Controllers directory.
If your namespaces are ok, you don't need the "use" line.
If you need to add it, then the "use" line should

[2019-04-15 16:21] japc-74 commented on #539
@mitulgolakiya @dhcmega thank you both guys!
The issue was because templates, I did change to CoreUI by using the BoilerPlate and works just great!

is an amazing tool, saves me a lot of time.

[2019-04-20 07:29] maulikvora commented on #630
@mitulgolakiya https://app.reantamchet.com/ Thanks for the awesome work!

[2019-04-22 20:02] thiagobraga opened #658 "Docs: change service provider for CoreUI template"
In the documentation, under [Add Service Providers](http://labs.infyom.com/laravelgenerator/docs/5.8/installation#service-providers) section, there should be the provider for CoreUI template if the user has changed it in `composer.json`.

[code]

[2019-04-23 04:05] androidedev opened #659 "More than one relation in generator"
I don't know if can be done otherwise but I don't saw it in documentation nor code.

It could be usefull to have a 'relations' field in json file that can generate more than one relation in the Model, I have done it and can make a pull request if you want, you can take look [here](https://github.com/androidedev/laravel-generator/commit/2d5105c9d47988128bd2b9423325f6eab884d43a
)

Is not a breaking

[2019-04-23 04:12] ShaileshInfyom commented on #658
@thiagobraga you can see here http://labs.infyom.com/laravelgenerator/docs/5.8/coreui-templates#service-provider

http://labs.infyom.com/laravelgenerator/docs/5.8/installation#service-providers Adminlte is default. so, doc is fine.

[2019-04-23 12:20] thiagobraga commented on #658
Hi @ShaileshInfyom, thanks for your response.

I agree with you, however, partially. For a beginner user wanting to use CoreUI, it will follow the installation pages, configure CoreUI in `composer.json` and include AdminLTE in service providers. But this will not work.

It could have a link to the Core UI template installation section just below the "Add service providers" box, just like the expla

[2019-04-23 12:24] ShaileshInfyom commented on #658
@thiagobraga  adminlte is default template. now you want use coreUI then you need to follow core template doc. already `Remove existing template` section given in doc. you can see [here ](http://labs.infyom.com/laravelgenerator/docs/5.8/coreui-templates#remove-existing-templates). so any one want to use coreUI template need to follow this [doc](http://labs.infyom.com/laravelgenerator/docs/5.8/core

[2019-04-23 12:36] #658 closed

[2019-04-23 12:42] vishalinfyom commented on #659
@androidedev we already support `relations` into fields file, look https://github.com/InfyOmLabs/laravel-generator/blob/develop/samples/fields_sample.json#L89

and if you want to pass more than one relations you just need to follow this : https://github.com/InfyOmLabs/laravel-generator/blob/develop/samples/fields_sample.json#L92

[2019-04-23 14:38] androidedev commented on #659
Thank you @vishalinfyom I don't saw it, I close this then.

[2019-04-23 14:38] #659 closed

[2019-04-26 20:26] rabol opened #660 "How to allow null"
How can I specify that a field is nullable?

[2019-04-27 04:05] ShaileshInfyom commented on #660
yes, you can do like `user_id integer:unsigned:nullable`. some example given here http://labs.infyom.com/laravelgenerator/docs/5.8/getting-started#generator-inputs for `unique`, `unsigned`.. same for nullable

[2019-04-27 04:06] #660 closed

[2019-04-27 04:07] mitulgolakiya commented on #658
@thiagobraga I will update something in docs to make it more clear.

[2019-04-29 09:46] rabol opened #661 "Auto discover"
Hi

why not make installation easier by allowing Laravel to auto discover the service providers ?

[2019-05-02 23:48] Luismij opened #663 "route:list error"
Hi
i'm getting this error when i run route:list:

In Container.php line 779:

  Class App\Http\Controllers\API\HomeController does not exist

How can i fixed?

laravel-generator v. 5.7
laravel 5,7

thanks

[2019-05-03 00:31] androidedev opened #664 "Is possible to config the function names for the relations in models?"
AFAIK if you have something like this :
[code]
the "GeneratorFieldRelation" class takes the model name ("Categorias" in this example) to name the relation function in the model, and gives an outputs some like this :

[code]
Is possible to customize that function name "categorias()" ?

I'm looking for (and need) some more control over domain model names that just the model name for relations.

PS:

[2019-05-03 05:54] mitulgolakiya commented on #663
@Luismij Do you have a file `HomeController` on the given folder path? Like `app/Http/Controllers/API`?

Also, did you changed any configuration and performed all steps of installation?

[2019-05-05 13:56] vipertecpro commented on #401
I resolved this issue, let's see what i did first, from my local system to server I've updated everything including vendor folder with all the packages but i forget to update `composer.json`, VERY VERY SILLY OF ME.
I hope I'm not the only one silly :p

[2019-05-08 13:05] henriquerdd opened #665 "Events generated twice"
I'm currently using infyom-generator 5.7.x-dev version with laravel  5.7.

Problem:

Events related to model 'creating', 'created', 'updating' and 'updated' are being generated twice, once by \InfyOm\Generator\Common\BaseRepository and another by it's parent class \Prettus\Repository\Eloquent\BaseRepository.

This happens because both classes update and create methods invoke the model's save metho

[2019-05-08 14:27] perezale commented on #665
Hi, I've seen this behavior too!
I'd really like to fix this.

An example of the problem is [here](https://github.com/InfyOmLabs/laravel-generator/blob/2dc3d4d62f735e3216fcda242f70c9e073154312/src/Common/BaseRepository.php#L37). This is the update case firing saving/save/etc events twice.

There you'll see double calls to update and save, each firing model events.

I think one of those, either upd

[2019-05-09 02:32] mariovalney opened #666 "How to integrate Users with scaffold?"
[code]

Requires a lot of customization like:

- Merge `User.php` with `Models\User.php` (and change all references)
- Create a way to add a random password if empty and hash the provided one (editing repository)
- Remove password from list

Is there a better way or Users are not intended to be managed?

[2019-05-13 10:25] vishalinfyom commented on #665
@perezale update events are firing only once at [here](https://github.com/InfyOmLabs/laravel-generator/blob/2dc3d4d62f735e3216fcda242f70c9e073154312/src/Common/BaseRepository.php#L37),
 while `$model->save()` no events are fired.

You can use our latest version with laravel 5.8 in which we are publishing `BaseRepository` into application.

[2019-05-13 15:45] #663 closed

[2019-05-16 03:34] #665 closed

[2019-05-16 09:07] annettaws opened #672 "Changing path migration"
Hi,
i changed the path.migration config value. The migrations file are correctly created on the specified folder but the table are not created.
The command migrate don't take the value of the specified path.

file src/Commands/BaseCommand.php

 public function performPostActions($runMigration = false)
    ....
        if ($runMigration) {
            $this->call('migrate');
....

How can i fix?
I

[2019-05-16 15:15] annettaws commented on #672
I solved with this code and by adding an other config value ( path.migrate ):

src/Commands/BaseCommand.php

public function performPostActions($runMigration = false)
    {
        if ($this->commandData->getOption('save')) {
            $this->saveSchemaFile();
        }

        if ($runMigration) {
            $path = config('infyom.laravel_generator.path.migrate','/database/migrations/');

[2019-05-16 15:15] #672 closed

[2019-05-18 15:05] abdullaheid opened #673 "Contribution to the project"
Hi,
During my navigation to the tree of the project, I have noticed that there is no **CONTRIBUTING** file. However, explaining the steps of contribution in that file will increase the number of contributors, enhance the contribution process itself, and save a lot of time and effort for you.

Maybe there are some reasons for that, but **I think it's time to create one and explain the contribution

[2019-05-19 01:50] karneaud commented on #371
@mitulgolakiya @illuminate3 @arieltoledo @shemgp seems this guy may have a solutions https://github.com/dsielab/generator-module

[2019-05-20 18:50] abdullaheid commented on #673
Good job!

I know that the developers, sometimes, don't have enough time to deal with the documentation, but I think you can find a way to make that step easier. However,  if you would like **to accelerate the process**, **you can use a ready-made template for the CONTRIBUTING.md file**. However, **I think** [contributing-template](https://github.com/nayafia/contributing-template) is an excellent

[2019-05-21 23:24] abdullaheid opened #682 "About HTMLFieldGenerator class"
Hi,

From time to time, I pick one open-source project to read and learn from, and if I have something to contribute to that project, whatever that thing, I will do.

However, during my reading for `HTMLFieldGenerator` class, I came with an idea of contribution for this class, and because **I didn't read everything related to the structure of this project that helps me to** `fork` **it**, I will t

[2019-05-28 05:39] #664 closed

[2019-06-08 15:10] sefsinalas opened #683 "CoreUI styles"
Hi. I follow installation instructions for CoreUI templates but every time I use the generator it creates a datatables view that is...ugly.

I expect something like this: https://coreui.io/demo/#tables/datatables.html
But I'm getting this:
![2019-06-08_11-59](https://user-images.githubusercontent.com/1595040/59148943-7716a680-89e5-11e9-8ba3-1d1e7ce33c22.png)

I think that the problem is that there

[2019-06-10 04:40] ShaileshInfyom commented on #683
@sefsinalas you getting break of datatable pagination becuase coreui provide datatable in Pro version not in free version.. you can see in coreui demo. https://coreui.io/demo/#tables/datatables.html
![image](https://user-images.githubusercontent.com/28335166/59172846-cf75b180-8b67-11e9-8759-86ede92a759a.png)
 so, if you expect  like coreUi demo then you need pro version and need to added missing d

[2019-06-10 05:09] #683 closed

[2019-06-14 13:27] Grashee opened #684 "Security in InfyOm | Securing API through API-Keys"
Hey guys,

is there a plugin for securing up the API.
For example with API-Keys or user:password authentication?

Thanks for anyone who can help!
Best regards,
Grashee

[2019-06-14 13:30] ShaileshInfyom commented on #684
you can you https://github.com/tymondesigns/jwt-auth for api authentication

[2019-06-14 13:46] mitulgolakiya commented on #684
@Grashee The aim of this package is not to lock users to specific security packages, you are free to use any package for your api security based on your need. The main goal of this package is to save time in api development.

[2019-06-14 13:46] #684 closed

[2019-06-20 02:37] ahmadsyamim opened #685 "API Filter - like condition not working as expected"
When i want to filter API using:
http://localhost/laravel/api/controller?column1=value1

Where ModelRepository.php,
[code]

The result will showed every list.
If i change$fieldSearchable to:
[code]
It's working, but i want to use 'like' filter.

[2019-06-20 05:24] ahmadsyamim commented on #685
Solved.

My workaround is to modify the allQuery() in Repositories/BaseRepository.php to:-

[2019-06-20 05:24] #685 closed

[2019-07-01 22:37] dhcmega commented on #517
Ok, something really weird is happening now.
[code]
Line 51 is the line above, in my first post.
[code]
It's actually calling the method. I don't understand why or how. But this is very risky as this `updateRelations` would be calling all methods?

This is happening with version 5.5.x-dev

[2019-07-11 16:24] farshadff opened #686 "fail to recognize dingo api routes"
in my project i am using dingo api package but after installing and configuring the swaggervel and the documentation said and after editing my routes like below :
[code]
then i vendor publish and finally ;
[code]
it detects the crud of model and place them there in swagger ui now  my question is what will happen to my custom methods that i wrote in some controller ?? shouldn't this package detect

[2019-07-13 05:27] mitulgolakiya commented on #686
@farshadff first of all, I think there is some typo in command that you wrote. we do not have any command like `php artisan infyom:publish model name`.

But if your swagger is working and swagger ui is fine. Then for any custom method in the controller, if it has swagger annotation written, then it will appear in swagger UI.

This package does not manage swagger annotations, swaggervel manage that

[2019-07-13 05:27] #686 closed

[2019-07-13 06:30] mitulgolakiya commented on #666
@mariovalney Unfortunately I don't think so. I will add it as a feature.

[2019-07-23 07:13] biholaindrasinh opened #688 "GET API SQLSTATE[42000]: Syntax error or access violation: SQL: select from `my_table_name` where `my_table_name`.`deleted_at` is null"
Windows 7 Wamp Server
infyomlabs/laravel-generator "5.8.x-dev"
php artisan infyom:api MyTableName
field1_id integer text s
field2_id integer text s
field3_id text textarea s, ii
Running GET API /api/v1/myTableNames

[2019-07-23 07:44] mitulgolakiya commented on #688
@biholaindrasinh can you post a full error or the table schema that you have?

Seems like you have some SoftDelete problem.

[2019-07-23 07:47] biholaindrasinh commented on #688
I can't share my table schema that's why I have added a general description regarding it. Let me know if any specific you want to know.

[2019-07-23 07:49] biholaindrasinh commented on #688
![image](https://user-images.githubusercontent.com/5697078/61693089-8dd24c00-ad4c-11e9-934f-b9c08e2a8778.png)

[2019-07-23 08:25] biholaindrasinh commented on #688
Here is a stack trace:
https://gist.github.com/biholaindrasinh/9f3a3e77ce02fe640403e9a31e9f9c97

[2019-07-23 12:40] biholaindrasinh commented on #688
![image](https://user-images.githubusercontent.com/5697078/61712927-051bd600-ad75-11e9-9d06-9b0e3df686e3.png)
If I remove this 3 request parameters then it's working.

[2019-07-26 13:40] mitulgolakiya commented on #688
@biholaindrasinh are you passing any query parameter while calling the API?

[2019-07-26 15:03] biholaindrasinh commented on #688
No, I was not passing any parameters but it should return all the resources if we don't pass any parameters.

[2019-07-29 08:37] mitulgolakiya commented on #688
@biholaindrasinh I think you are using an old base repository. Can you paste a code of BaseRepository somewhere?

Also did you set up a fresh project? or it's an old project? And you made some upgrade?

[2019-07-29 10:07] biholaindrasinh commented on #688
It's an ongoing project. It looks like a problem in prettus/l5-repository: ~2.6

[2019-07-29 10:11] mitulgolakiya commented on #688
Yes, I would say for your new generated files, you the BaseRepository that we published. Give it a try with a fresh new project and you will get an idea how new BaseRepository works and we are no longer need old `prettus/l5-repository`.

[2019-07-29 10:11] #688 closed

[2019-07-30 15:09] timoteo7 opened #692 "having to manually put $table->timestamps();"
in `config/infyom/laravel_generator.php`

i do:
`php artisan infyom:migration 	example   --fieldsFile="resources/js/example.json"`

the result in my migration is:

i'm having to manually put
`$table->timestamps();`

i did something wrong not to go automatically?

[2019-07-30 15:10] mitulgolakiya commented on #692
@timoteo7 Can you paste your `resources/js/example.json` here? Also, specify which version of laravel and generator you are using?

[2019-07-30 15:17] timoteo7 commented on #692
Laravel is 5.8
"infyomlabs/laravel-generator": "5.8.x-dev",
"infyomlabs/swagger-generator": "dev-master",

[2019-07-31 03:16] mitulgolakiya commented on #692
@timoteo7 when you are generating crud from files, it needs to have timestamps fields. But if are using CLI then timestamps are not needed, but when we save a file, we store timestamp fields there. so add timestamps fields in your JSON file and it should work.

[code]

[2019-07-31 03:16] #692 closed

[2019-08-03 10:13] quangtynu opened #699 "Document for generator should clear some step."
http://labs.infyom.com/laravelgenerator/docs/5.8/boilerplates
I read the guide is not clear about step buy step for install fress copy.
Pls show some step in detail for beginner

[2019-08-03 10:14] mitulgolakiya commented on #699
@quangtynu boilerplates do not need any setup. All installation steps are already done in that.

[2019-08-03 10:18] quangtynu commented on #699
So pls di like that.
1. Git clone... Command
2. Cd to ... Command
3. Run update... Command
5. Run php artisan serve .. Commanf
6. Login user, pass
Localhost:8000????
I mean for beginner.

[2019-08-03 11:04] mitulgolakiya commented on #699
Yes. do not forget to setup your env.

[2019-08-03 11:04] #699 closed

[2019-08-06 11:13] #673 closed

[2019-08-16 17:32] tecnoe opened #706 "Relationships method name."
I have the following issue when I generate a model from a table duplicate relationships methods.
Example I have contacts table with 2 foreignkeys.
Table contacts:
    created_by
    owner
both columns references id on users table. If I run.

[code]

[code]

It is possible to add the the foreignkey as a method name, for example owner and createdBy, with the related columns to avoid this issue.

[2019-08-17 08:05] mitulgolakiya commented on #706
@tecnoe We pushed a fix. Try to update packages by composer update and see if it works and let us know.

[2019-08-17 08:05] #706 closed

[2019-08-17 08:10] #661 closed

[2019-08-20 17:36] rabrowne85 opened #708 "Documentation Improvement: Prefix Option Comma Separation"
I've been trying to get to grips with the laravel-generator and one of the things I was struggling with was the `--prefix` option for the generator commands. It's not clear from the documentation that you can generate nested structures by using `--prefix=First,Second,Third`. I had to find this by digging into the code.

It's also a little counter intuitive that you have to use the `,` and not `/`

[2019-08-21 13:13] mitulgolakiya commented on #708
Yes, I think prefix should be separated by slash instead of a comma. will look into it.

[2019-08-21 16:01] rabrowne85 commented on #708
If that’s the case, I’m happy to look at the code and push a pull request with the required changes. Can try and make it backward compatible as well. Just let me know if you want me to help.

[2019-08-23 06:34] mitulgolakiya commented on #708
@rabrowne85 yes, you are most welcomed to do that.

[2019-08-24 15:56] nielsdrost7 opened #709 "Strange issue with generating models with many hasmany relationships"
Hi mitul,

So I generated lots of models from my table. Some of the models have multiple hasmany relationships in them.
When you look at that model it repeats the same function name for all the hasmany relationships and it will generate errors.

I took a look at the closed issues and it's very similar to #475
I did a really fresh project with the coreui boilerplate.

[2019-08-26 06:10] veed76 opened #710 "File not getting upload"
Hi @mitulgolakiya

Thank you for this awesome generator.
Here, I have an api_scaffold "Influencer". In **model_schemas/Influencer.json** I added all these fields.

[code]

After performing the migration, I see the CRUD in the admin panel.
I created one record with uploading **vendor_image** and the record successfully created: https://prnt.sc/oxidzo. I checked the storage directory but I can't see

[2019-08-26 12:54] mitulgolakiya commented on #710
@veed76 Thanks. But right now generator does not support file upload by default. You need to modify your controllers + repository by your self to handle file upload.

[2019-08-26 12:56] mitulgolakiya commented on #710
Duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/103

[2019-08-26 12:56] #710 closed

[2019-08-26 12:57] mitulgolakiya commented on #709
@nielsdrost7 are you using the latest code with that bug fix. Also, can you share some tables with schema, where you are getting this problem?

[2019-08-28 19:52] dyatana opened #711 "Invalid argument supplied for foreach()"
hi everyone,

I want to fill my select fields with information from database table, but I have this error
Invalid argument supplied for foreach() (View: C:\xampp\htdocs\webportal\resources\views\departements\fields.blade.php) (View: C:\xampp\htdocs\webportal\resources\views\departements\fields.blade.php)

fields.blade.php

<div class="form-group col-sm-6">
    {!! Form::label('deptsection_id', 'Se

[2019-08-30 13:33] SamuelNata commented on #709
Same Here, I created a empty laravel project, and started requiring things.
Since I don't know what you guys need to know, here I go:

That's my composer.json requires: (only the relevant lines, I believe)
- laravel/framework: 5.8.*
- infyomlabs/adminlte-templates: 5.8.x-dev
- infyomlabs/generator-builder: dev-master
- infyomlabs/laravel-generator: 5.8.x-dev
- infyomlabs/swagger-generator: dev-mas

[2019-08-31 05:32] mitulgolakiya commented on #709
@SamuelNata it looks like you are already using the latest version. Can you share the schema of your table? so we can try it on our end?

[2019-09-01 03:10] SamuelNata commented on #709
I have created a smaller case using 3 tables `a`, `b` and `c` where `b` has many `a` and many `c`. The following is the SQL generated by mysql workbench to create my DB:

[code]

Once db was created, I run for each table:

[code]
And now that i have the json schema, I run for each table:

[code]

The result is a B model class like this (2 methods named bs):

[code]

It apears to be using the fk co

[2019-09-01 18:21] unomasmas opened #714 "Little mistake on coreui-templates/templates/scaffold/views/blade_table_body.stub"
File: /vendor/infyomlabs/coreui-templates/templates/scaffold/views/blade_table_body.stub
At lines 14 and 15 you have:
[code]
In order to get PrimaryKey setted (if different from id) there should be:
[code]

[2019-09-01 18:27] SamuelNata opened #715 "Lose nullable/not nullable and default value when generating from table"
Hello

So in short, I need more **information about the json schema** and may have found some **lacks  on generating form table**:

The following is the step-by-step to reproduce:

1. Create the tables ([SQL to reproduce](https://gist.github.com/SamuelNata/109f000b3e33fe7be65f4c29b63f2ddc))
2. Generate ONLY the json schema from the tables:
[code]
3.  Generate all the rest (controllers, models, req

[2019-09-01 18:49] SamuelNata commented on #715
Finded out that if I remove `model` from skip parameter when generating json Schema, it add a `required` for `int` validations, but still has no default value `varchar(45)`.

[2019-09-02 08:14] unomasmas commented on #714
Also at **line 12**. Must be replaced **id** with **$PRIMARY_KEY_NAME$**.
`{!! Form::open(['route' => ['$ROUTE_NAMED_PREFIX$$MODEL_NAME_PLURAL_CAMEL$.destroy', $$MODEL_NAME_CAMEL$->$PRIMARY_KEY_NAME$], 'method' => 'delete']) !!}`
Otherwise, it will throw an exception: "The DELETE method is not supported for this route. Supported methods: GET, HEAD, POST."

The same happens on the file **/vendor/in

[2019-09-04 05:44] ShaileshInfyom commented on #714
changes done [ here](https://github.com/InfyOmLabs/coreui-templates/pull/16)

[2019-09-04 12:24] #714 closed

[2019-09-04 12:27] #709 closed

[2019-09-04 14:02] luisaureliocasoni opened #719 "I don't save any data on POST create request"
Hello everyone,

I have using the Laravel Generator on the 5.8 branch. I have generated the API routes, repositories, migrations and controllers on all tables.

After creating the routes, I tested if the routes are working. The GET and DELETE works well. But, whan I submitting an POST request from the route, with any data (I have tried form-data, x-www-form-urlencoded, Json plain request etc), but

[2019-09-04 17:47] luisaureliocasoni commented on #719
I have discovered the problem.

I must to include the header "Accept: application/json". I have fixed the problem.

Thanks for great package!

[2019-09-04 17:47] #719 closed

[2019-09-11 18:14] sbolognini opened #720 "Model/Controller Override"
Is there a way for generating models, controllers as base classes and provide the related inherited classes?

I explain my doubt:
- I generate the full scaffold
- I change some stuff, like required fields or something else in the generated classes
- I make a small change in the db (for example I add a new column in a table)
- I regenerate the scaffold
- I lost the previous changes I applied to the

[2019-09-11 18:18] sbolognini opened #721 "Primary key required when generating from existing tables"
I generated a full scaffold starting from an existing table.
This table has a primary key with autoincrement.
The generated views (and model) require the id upon saving or updating.

[2019-09-11 19:46] TokkenSchneider opened #722 "Generate from table api_scaffold infyom version 6"
![20190911_154358](https://user-images.githubusercontent.com/15619210/64729373-0763fc00-d4ab-11e9-8d36-c675a19e16f8.jpg)
I got this errors when i try to generate scaffold from table. When i skip model, everything works well. With model included, got this pluralizer error

[2019-09-11 20:39] TokkenSchneider commented on #722
Please someone  help me

[2019-09-11 21:11] Victor1015 commented on #722
x2 have the same issue too!

[2019-09-11 21:12] johnvargasosornio commented on #722
somebody know what happened?

[2019-09-12 03:39] mitulgolakiya commented on #722
@TokkenSchneider can you post a full error? I can not see full error in screenshot.

[2019-09-12 03:41] mitulgolakiya commented on #721
@sbolognini Can you explain it in little bit more details? we are not able to get it.
Your primary key in the existing table has a different name than `id`? that's what you mean?

[2019-09-12 03:43] mitulgolakiya commented on #720
@sbolognini No. currently there is no way to do this. How generator work is, it gets templates and fields OR if you are generating from the table, then it detects new fields added in the table and generates CRUD for that again.
But it can not detect your manual changes in your existing files. I can keep it in the future roadmap.

[2019-09-12 03:43] #720 closed

[2019-09-12 05:26] mitulgolakiya commented on #722
@TokkenSchneider @johnvargasosornio @Victor1015 can you give us a schema of users table with which this error is coming?

[2019-09-13 10:01] ManhThangIT opened #724 "Argument 1 passed to Doctrine\Common\Inflector\Inflector::pluralize() must be of the type string"
![image](https://user-images.githubusercontent.com/46208783/64854578-25b32e80-d648-11e9-9209-4634acac74cb.png)

[2019-09-13 10:04] mitulgolakiya commented on #724
@ManhThangIT Can you run a command with `-v` option and send an output again?

[2019-09-13 10:06] ManhThangIT commented on #724
I do not understand what you say

[2019-09-13 10:11] mitulgolakiya commented on #724
@ManhThangIT run command `php artisan infyom:scaffold StaticPage --fromTable --tableName=static_pages -v`

[2019-09-13 10:13] ManhThangIT commented on #724
![image](https://user-images.githubusercontent.com/46208783/64855279-b9d1c580-d649-11e9-93b0-5077350a8dc5.png)
![image](https://user-images.githubusercontent.com/46208783/64855295-c5bd8780-d649-11e9-8a66-109fa411583e.png)
![image](https://user-images.githubusercontent.com/46208783/64855313-cd7d2c00-d649-11e9-9c7b-a1fc3d71881e.png)

[2019-09-13 10:23] vishalinfyom commented on #724
@ManhThangIT can you please share your  `static_pages` table schema here.

[2019-09-13 10:25] ManhThangIT commented on #724
@vishalinfyom
![image](https://user-images.githubusercontent.com/46208783/64856135-855f0900-d64b-11e9-9b77-8a6955aacb50.png)

[2019-09-13 10:35] vishalinfyom commented on #724
@ManhThangIT `static_pages` does not referenced any others table Right ?

[2019-09-13 10:36] ManhThangIT commented on #724
@vishalinfyom  Yes

[2019-09-13 11:06] vishalinfyom commented on #724
@ManhThangIT we are unable to re-produce this issue with `6.0`, can you please share your `composer.lock` file

[2019-09-13 11:08] ManhThangIT commented on #724
`{
    "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#installing-dependencies",
        "This file is @generated automatically"
    ],
    "content-hash": "e51c54f4a2ae6c69117cc609bb2bc5af",
    "packages": [
        {
            "name": "appointer/swaggervel",
            "vers

[2019-09-13 11:09] ManhThangIT commented on #724
@vishalinfyom
[composer.zip](https://github.com/InfyOmLabs/laravel-generator/files/3609746/composer.zip)

[2019-09-13 13:24] mitulgolakiya commented on #724
@ManhThangIT Can you get a db schema dump? we do not need to have Data in that. but just export MySQL dump with schema only.

[2019-09-13 13:27] mitulgolakiya commented on #724
@ManhThangIT Also it, static_pages.id is referenced in any other table?

[2019-09-13 13:33] ManhThangIT commented on #724
@mitulgolakiya  static_pages.id not is referenced in any other table

[2019-09-13 13:34] ManhThangIT commented on #724
The problem I'm having is hard to solve! hope you help

[2019-09-13 14:12] mitulgolakiya commented on #724
@ManhThangIT Can you get a db schema dump? we do not need to have Data in that. but just export MySQL dump with schema only.

[2019-09-13 14:17] ManhThangIT commented on #724
@mitulgolakiya
[viettelca.zip](https://github.com/InfyOmLabs/laravel-generator/files/3610392/viettelca.zip)

[2019-09-13 14:20] mitulgolakiya commented on #724
@ManhThangIT thanks. we will check it and will come back to you.

[2019-09-13 14:36] johnvargasosornio commented on #722
Schema::create('users', function (Blueprint $table) {
$table->bigIncrements('id');
$table->string('name');
$table->string('email')->unique();
$table->timestamp('email_verified_at')->nullable();
$table->string('password');
$table->rememberToken();
$table->timestamps();

and my composer.json:

{
    "name": "laravel/laravel",
    "type": "project",
    "description": "The Laravel Framework.",
    "k

[2019-09-13 14:39] ManhThangIT commented on #724
@mitulgolakiya  thanks.

[2019-09-14 08:26] choiks14 commented on #724
same here

[2019-09-14 15:15] oualaeddine commented on #724
same problem

[2019-09-15 06:08] mitulgolakiya commented on #724
Issue Fixed. Everyone, Please verify let report/re-open the issue if you still have the problem.

[2019-09-15 06:08] #724 closed

[2019-09-15 06:12] mitulgolakiya commented on #722
Issue Fixed. Everyone, Please verify let report/re-open the issue if you still have the problem.
Also, do not forget to pull the latest code via composer update.
Also, if you are using the generator and made something from Generator then you can list your project here #631 if you want. @TokkenSchneider @johnvargasosornio @Victor1015

Happy Coding :)

[2019-09-15 06:12] #722 closed

[2019-09-15 06:16] mitulgolakiya commented on #721
@sbolognini Issue is fixed and the primary key is no longer required field when using `fromTable` option.
Thanks for catching it out. Also, do not forget to list your project under #631 list (if you want). :)

[2019-09-15 06:16] #721 closed

[2019-09-15 08:42] choiks14 opened #728 "file_get_contents error"
![image](https://user-images.githubusercontent.com/13622941/64918965-254d9b80-d7e0-11e9-9ff9-497c1ea6d7a6.png)

my composer.json

[code]

[2019-09-15 08:42] choiks14 commented on #728
[code]

[2019-09-15 12:39] mitulgolakiya commented on #728
@choiks14 I think you have swagger enabled and a swagger package is not installed. Also, swagger package is not available for laravel 6 yet. so you need to disable `add_on => swagger => false` in `config/infyom/laravel_generator.php`

[2019-09-15 14:07] ManhThangIT commented on #724
@mitulgolakiya  thanks

[2019-09-16 11:18] sbolognini opened #729 "Timestamps disabled but still processed in model insert/update"
I disabled timestamps from generator config

[code]

then I generated model, but when inserting/updating records this error is shown

**Column not found: 1054 Unknown column 'updated_at' in 'field list'**

The issue can be solved adding

`public $timestamps = false;`

in the model definition, but the generator should add it automatically when timestamps are disabled in the config.

[2019-09-16 13:17] sbolognini opened #730 "Checkbox unwanted label when generating from .json file"
[code]

result:
![Schermata 2019-09-16 alle 15 16 20](https://user-images.githubusercontent.com/4761746/64961084-f9d8b880-d894-11e9-92c2-4861ad46122b.png)

The value of the checkbox should not be printed unless specified.

[2019-09-16 13:51] sbolognini opened #731 "Relationships in views"
Relationships are not managed in view generation.
I know that Relationships are in Beta and I would like to be sure about that.
If I generate scaffold from a .json file where I added a relation, the generated view doesn't reflect the data (eg. Select for selecting related records).
Is that right or am I missing something?

Thanks

[2019-09-18 13:14] sbolognini opened #733 "String length not being considered when generating from model schema"
{
        "name": "name",
        "dbType": "string,30",
        "htmlType": "text",
        "validations": "required",
        "searchable": true,
        "fillable": true,
        "primary": false,
        "inForm": true,
        "inIndex": true
    },

if I generate scaffold from this schema the html field have not the length size and validation doesn't consider that lenght.
What's the point in

[2019-09-18 15:27] sbolognini commented on #733
Solved by myself

[2019-09-18 15:32] sbolognini opened #734 "View form not considering the inForm attribute"
When generating from a .json file that, for example, contains this record

    {
        "name": "name",
        "dbType": "string,30",
        "htmlType": "text",
        "validations": "required|max:30",
        "searchable": true,
        "fillable": true,
        "primary": false,
        "inForm": false,
        "inIndex": false
    },

the index and edit/create form correctly do not show the

[2019-09-18 16:00] sbolognini commented on #221
Are there updates on this issue?

[2019-09-19 11:54] mitulgolakiya commented on #729
Fixed.

[2019-09-19 11:54] #729 closed

[2019-09-19 13:35] ShaileshInfyom commented on #730
Fixed in both template (admin-adminlte, core-ui)
https://github.com/InfyOmLabs/adminlte-templates/pull/44
https://github.com/InfyOmLabs/coreui-templates/pull/18

[2019-09-19 14:20] sbolognini opened #735 "Updating unique fields"
I found an old thread marked as "in-progress", but it's more than 3 years old #221
This should be addressed because, otherwise, people will always be obliged to fix this issue in the controller and then add this fix manually every time the scaffold is re-generated due to database changes.
Is there a chance it will be fixed?

I solved the issue looking into the old linked thread:

**JSON SCHEMA**

[2019-09-20 06:00] mitulgolakiya commented on #731
@sbolognini Yes, we do not have support yet to generate views for relation.

[2019-09-20 06:03] mitulgolakiya commented on #509
@mostadev I think this more of user-defined things that how you want to store your data. so closing it. If any particular or more specific general use case is there, which I'm missing then re-open the issue with specific example.

[2019-09-20 06:03] #509 closed

[2019-09-20 10:00] ShaileshInfyom commented on #734
implemented [here ](https://github.com/InfyOmLabs/laravel-generator/pull/737)

[2019-09-20 12:30] sbolognini opened #738 "Form enctype="multipart/form-data""
If the schema contains a file field, the related generated view should add support to enctype.
Files edit.blade.php and create.blade.php should add
`files => true`
parameter in the
`Form::model`
call

[2019-09-21 06:50] ShaileshInfyom commented on #711
@dyatana

Tested and working fine at our end. make sure you passing proper array?

[2019-09-21 06:50] #711 closed

[2019-09-23 09:22] ShaileshInfyom commented on #733
@sbolognini `dbType` only deal with database not html and validation. and validation option already there. i think you already used in your solution.

Thanks

[2019-09-23 09:26] sbolognini commented on #733
Yes, that part of the issue was solved.
Anyway, when adding a max limit in validations, the resulting field in the generated view should have a "size" attribute to reflect the max value

[2019-09-25 04:58] #730 closed

[2019-09-26 13:40] #734 closed

[2019-09-26 13:40] #715 closed

[2019-09-27 10:25] #462 closed

[2019-09-27 12:00] mitulgolakiya commented on #480
@chriscalip can we get some more information on this, what is the exact requirement?
@dmassiani @VictorGorban

[2019-09-27 12:01] #51 closed

[2019-09-27 12:55] #738 closed

[2019-09-29 19:34] dyatana opened #743 "File uploading issues"
Hi everyone,
i'm laravel beginer and i want to know how to configure Controller and Repository files to make upload file to my local path

thanks.

[2019-09-30 07:03] harish81 opened #744 "InfyOm Laravel GUI Schema Generator"
As we know Infyom's `laravel-generator` remove headache while working with `laravel`, I have made `InfyOm Laravel GUI Schema Generator` Where you can generate schema file easily.
Try it out at here : https://harish81.github.io/infyom-schema-generator/
Feel Free to contribute: https://github.com/harish81/infyom-schema-generator

[2019-09-30 11:11] #116 closed

[2019-09-30 11:18] mitulgolakiya commented on #744
Great work!!

[2019-09-30 11:18] #744 closed

[2019-09-30 14:20] samuk190 opened #745 "I Dont want admin panel, only the GUI Scaffold generator"
When I make a crud it says -> layouts.datatables_css not found and
'layouts.datatables_js not found and it doesnt show any result of created "persons" for example.

I read that if I publish layout it will fix, but I dont want to generate a auth controller and admin panel views because I have one already.

Using: data tables
package: Generator GUI Interface

[2019-10-01 09:16] vishalinfyom commented on #745
@samuk190 if you just want GUI scaffold generator then you can follow the steps from our official documentation site : http://labs.infyom.com/laravelgenerator/docs/6.0/gui-interface

[2019-10-01 09:19] vishalinfyom commented on #743
@dyatana Right now generator does not support file upload by default. You need to modify your controllers + repository by your self to handle file upload.

Duplicate : https://github.com/InfyOmLabs/laravel-generator/issues/710

[2019-10-01 09:37] #743 closed

[2019-10-03 12:24] samuk190 commented on #745
I did, well, I used the publish layout and it replaced my login files so I had to reimport then from backpack and it worked fine.

There's a way to create search box with the gui scaffold generator?

[2019-10-04 05:48] vishalinfyom commented on #745
@samuk190 can you explain this in more brief

[2019-10-04 09:07] falaFulani commented on #429
After running php artisan infyom:publish. I get "There are no commands defined in the "infyom" namespace. Kindly help out

[2019-10-05 05:16] Luismij opened #749 "Change Color CoreUI"
Hi,
how can i change the primary color for CoreUI template?
I want to change the variables, but i do not know how.
Thanks

[2019-10-06 18:41] VictorGorban opened #752 "Can't properly do anything with --skip=views option"
I've tried it with api_scaffold, api and scaffold.
Quick used commands example:
1.    `php artisan infyom:api_scaffold --fromTable --tableName=categories --skip=views  Category`
1.1  all created, but in the end I got the `Exception`:  `ErrorException  : file_get_contents(/home/victorgorban2/Desktop/WEB/Laravel Angular Ecommerce/backend/resources/views/layouts/menu.blade.php): failed to open stream

[2019-10-07 04:31] mitulgolakiya commented on #749
@Luismij Right now, we use CDN URLs of coreui. If you want to change the colors then you should install coreui with npm package and then you will be able to override their scss and that's how you can do it.

Maybe you will need to use laravel mix and then include the final output to `app.blade.php`.

[2019-10-07 04:31] #749 closed

[2019-10-07 06:43] ShaileshInfyom commented on #752
@VictorGorban Working fine.

**API Scaffold**

![image](https://user-images.githubusercontent.com/28335166/66289799-4c891b80-e8fb-11e9-8261-2d1f579d72fc.png)

**Scaffold**
![image](https://user-images.githubusercontent.com/28335166/66289944-9a058880-e8fb-11e9-8a20-c35ccf73d6d9.png)

**Rollback API Scaffold**

![image](https://user-images.githubusercontent.com/28335166/66290008-ccaf8100-e8fb-11e9-9

[2019-10-07 06:43] #752 closed

[2019-10-07 06:45] mitulgolakiya commented on #752
@VictorGorban Let us know what version of generator and templates you are using. Or try to provide some more steps and re-open the issue again.

We are closing this as of now, since its working as per our testing.

[2019-10-07 11:50] mitulgolakiya commented on #735
Issue Completed.

[2019-10-07 11:50] #735 closed

[2019-10-07 12:41] #221 closed

[2019-10-07 13:02] #728 closed

[2019-10-07 13:05] #630 closed

[2019-10-08 08:14] Mina-R-Meshriky opened #754 "Does the package support events?"
Dears, great job on that package.
I wonder if there is any event listeners for before model generation, after model generation, before update, and after update.?
as I want to make some checks before actually generating a model and some database insertions and a git commit after creating it.

[2019-10-08 09:27] vishalinfyom commented on #754
@Mina-R-Meshriky you can user laravel model events : https://laravel.com/docs/5.8/eloquent#events

you can define this events into your specific model's into `boot()` method

e.g.
`
model::creating(..` before model generation
`model::created(..` after model generation

[2019-10-08 09:59] Mina-R-Meshriky commented on #754
Sorry, poor words choice I guess, What I mean is before the (api, web) scaffolding and after that.
I see on the generate method's last line `return Response::json("Files created successfully");` but isn't there any custom event triggered so I can hook some more actions after the scaffolding is done ?

[2019-10-08 12:37] mitulgolakiya commented on #754
@Mina-R-Meshriky The question looks little bit confusing to me. Are you looking for events at model level or at the generator level?

so what I mean to Model level is, something like when model is created in the database.
And Generator level is when Generator command is generating files.

Clarify this and then maybe we can help.

[2019-10-08 13:06] Mina-R-Meshriky commented on #754
sorry for any inconvenience. Actually I mean an event on the Generator Level, when generating files. What I need is to add the name of the generated model to my database and if I rolled the model back (deleting the files) I want to delete it from my database in both cases I also will perform a git commit committing the files that has just been added or deleted.

[2019-10-08 13:29] mitulgolakiya commented on #754
@Mina-R-Meshriky it's not available at this point in time, but I can add it to the future scope.

[2019-10-08 21:48] Luismij commented on #749
@mitulgolakiya can you be more specific with the instructions?
Thanks

[2019-10-09 12:45] samuk190 commented on #745
In other's components like Laravel BackPack, the search box comes by default on CRUDS.
I don't see a reliable way of implementating that search box on Infyom

[2019-10-10 10:18] vishalinfyom commented on #745
@samuk190 we are not giving search box for simple views (Without Datatables), by using datatables you are able to search records, will consider this as feature.

[2019-10-10 10:50] samuk190 commented on #745
Thanks

[2019-10-10 10:50] #745 closed

[2019-10-11 12:10] mitulgolakiya commented on #749
@Luismij maybe this can help: https://coreui.io/v1/docs/getting-started/options/

[2019-10-12 13:46] 16isaac89 opened #764 "Reduce on the size of the table"
How do i reduce the number of elements returned and rendered on the table because incase of multiple values, others are hidden like in the image
![snipping](https://user-images.githubusercontent.com/23630466/66702389-e263e280-ed0f-11e9-8919-9fb52e04f5d2.PNG)

[2019-10-14 09:45] #733 closed

[2019-10-14 10:03] mitulgolakiya commented on #57
Added new option `selectTable`.
Read docs here: http://labs.infyom.com/laravelgenerator/docs/6.0/fields-input-guide

[2019-10-14 10:03] #57 closed

[2019-10-14 10:03] mitulgolakiya commented on #395
Added new option `selectTable`.
Read docs here: http://labs.infyom.com/laravelgenerator/docs/6.0/fields-input-guide

[2019-10-14 10:03] #395 closed

[2019-10-14 11:39] ajayinfyom commented on #764
@16isaac89 you can skip being displayed in index view by using `ii`  option

ex.  `body text textarea ii`

more info read document: http://labs.infyom.com/laravelgenerator/docs/5.8/getting-started

[2019-10-14 11:39] #764 closed

[2019-10-14 11:51] mitulgolakiya commented on #764
@16isaac89 or you can even remove fields from DataTable class that is created. There will be a function `getColumns`. Keep only those columns that you want want to display.

[2019-10-15 03:40] sarjandesai commented on #429
i am trying to install it on Laravel 5.4 and i have followed all the depicted steps
@ http://labs.infyom.com/laravelgenerator/docs/6.0/installation
'
Only changes i made is to version from  6.0.x to 5.4.x  .

"laravelcollective/html": "^5.4.0",
"infyomlabs/laravel-generator": "5.4.x-dev",
"infyomlabs/adminlte-templates": "5.4.x-dev"

Still getting  " There are no commands defined in the "infyom" n

[2019-10-15 03:41] mitulgolakiya commented on #429
@sarjandesai you are following 6.0 docs for 5.4 installations. Try to follow these steps: http://labs.infyom.com/laravelgenerator/docs/5.4/installation

[2019-10-16 20:17] jszoja opened #766 "ModelGenerator has missing namespace import for Str class"
I got the fatal error when generating model in PHP 7.0.33 using laravel-generator 5.5 branch.
Will provide the fix.

[2019-10-16 20:31] jszoja commented on #766
I suspect it was introduced in revision 1ff70059

[2019-10-17 08:46] ajayinfyom commented on #766
Issue fixed

[2019-10-17 08:46] #766 closed

[2019-10-19 11:19] #168 closed

[2019-10-20 19:32] rabol commented on #265
I get this error as  well - I followed the installation
Any hint?

[2019-10-21 06:06] vishalinfyom commented on #265
@rabol if you are using core-ui templates then you need to add following provider to config
[code]
if you are using admin-lte templates then you need to add following provider to config
[code]
i hope this helps

[2019-10-21 07:19] JonathanGuo opened #768 "Missing prettus/l5-repository as required dependency."
## Fatal Error
Class `Prettus\Repository\Eloquent\BaseRepository` not found

## Description

Since the commit 7cf8946ba70fd27ca065146d91fcf0be5baa84a0, it drops the dependency `prettus/l5-repository`.

However the `InfyOm\Generator\Common\BaseRepository` still extends `\Prettus\Repository\Eloquent\BaseRepository`. The workaround is the devs need to install `prettus/l5-repository` in the projects.

[2019-10-21 19:36] samuk190 opened #772 "How to generate a crud with a crud input field type?"
I tried following the docs but It didnt work. Someone have examples of how to do it?

[2019-10-22 03:51] mitulgolakiya commented on #772
@samuk190 which docs? Be more specific about the issue. What do you mean by CRUD Input field type?

[2019-10-22 03:53] mitulgolakiya commented on #768
@JonathanGuo after Laravel 6 support, published BaseRepository does not use `prettus/l5-repository`.
https://github.com/InfyOmLabs/laravel-generator/blob/develop/templates/base_repository.stub

Let us know which version you are using of Laravel and you did a fresh installation or upgraded your project?

[2019-10-22 04:29] mitulgolakiya commented on #265
@rabol CoreTemplates is deprecated. Try to use CoreUI Templates or AdminLTE Templates.
If you are using CoreUI Templates then service provider will be, `InfyOm\CoreUITemplates\CoreUITemplatesServiceProvider`.

[2019-10-22 04:52] JonathanGuo commented on #768
Yes, the code base was upgraded from Laravel 5.8, which was originally started from 5.3 anyway.

Just had a quick look on the website, I can't find any upgrade guide. Do I miss something?

[2019-10-24 12:21] MaryTabbs opened #774 "drop down menu"
How do I create a dropdown menu .....am using the infyom generator

[2019-10-25 04:23] vishalinfyom commented on #774
@MaryTabbs Please read this fields input guide to generate different types of fields.
http://labs.infyom.com/laravelgenerator/docs/5.8/fields-input-guide

For dropdown you can use option `select` for pre-defined value OR you can use `selectTable` to select records from some table, you can find more details on above docs.

[2019-10-25 04:24] #774 closed

[2019-10-26 05:55] mitulgolakiya commented on #768
Laravel 5.3 was not managed anymore and deprecated since months. so there was no upgrade guide when this dependency was removed.

[2019-10-26 05:55] #768 closed

[2019-10-26 19:14] leerlemoniii opened #775 "documentation possible update needed for install"
after installing via cloning I found a few things that are not addressed in the documentation for install.
1. you need to change the file .env.example to .env
2. you need to generate application keys
php artisan key:generate

while this is normal for laravel install it is not clear that this needed to be done, thus leading to several hours trying to diagnose getting 500 errors for me anyways.

[2019-10-27 08:58] mitulgolakiya commented on #775
@leerlemoniii these are not steps to be performed for this package. Those are laravel installation step which needs to be performed while laravel application setup.

And installation of this package is initialized after laravel installation. That's why they are not included in docs.

[2019-10-27 08:58] #775 closed

[2019-10-27 21:00] leerlemoniii commented on #775
not to be picky about this, but doing a laravel install is not required for building from the steps here
http://labs.infyom.com/laravelgenerator/docs/6.0/boilerplates
In fact I am not even sure how you would clone this into a intalled laravel project without screwing up that project.

Though I do kinda see the point, but then the docs should state that you need to follow laravel install guide "aft

[2019-10-28 12:26] xwiz opened #776 "Drop Prettus as Base Repository"
Hi, great work with Laravel 6 compatibility. I'm an avid use of laravel-generator and I've always thought that the dependency on prettus l5 repository is needless. The Base Repository included in infyom with a few additional methods is enough as a repository. I can create a pull request using the repository class we always use in our projects. Repositories are supposed to be just data layers and P

[2019-11-06 14:33] collinsNick opened #777 "multi word scaffold name"
my apppologies if this is a noob issue, but when i run the below script:

php artisan infyom:scaffold SomeName --fromTable --tableName=some_name

 everything is generated fine except that the url name comes like this:

Route::resource('SomeName', 'SomeNameController');

currently i have to rename all the routes to be  :  some_name instead of SomeName

is there a way to do this automatically

[2019-11-07 03:22] mitulgolakiya commented on #776
@xwiz in Laravel Generator 6.x branch, we already dropped the support, but the old versions were using it, so we just leave that as it is.
`src/Common/BaseRepository.php` was kept for someone if he is migrating the code from lower to 6.x. Otherwise, it's not used anywhere.
We are planning to remove it very soon.

[2019-11-07 03:22] #776 closed

[2019-11-07 03:25] mitulgolakiya commented on #775
@leerlemoniii The use of boilerplate is not intended to support and install in existing projects. Documentation straightly says, if you are setting up a fresh new laravel project then only you should plan to use boilerplates.

https://labs.infyom.com/laravelgenerator/docs/6.0/boilerplates#introduction

If you are planning to install it in a project then follow standard installation steps.

I see t

[2019-11-08 03:02] mitulgolakiya commented on #777
@collinsNick I think your routes will be something like this:

`Route::resource('someName', 'SomeNameController');`

in camelCase.

If you want it to be changed to snake_case, then you can use PublishTemplates command as describe here. https://labs.infyom.com/laravelgenerator/docs/6.0/publish-templates

It will publish all the templates in `resources/infyom/infyom-generator-templates` directly. Wh

[2019-11-08 03:02] #777 closed

[2019-11-11 17:01] collinsNick commented on #777
Hi sorry for the late reply, I will give it a go and provide feedback. Thanks for the headsup

[2019-11-17 11:15] #772 closed

[2019-11-17 22:11] rattfieldnz opened #781 "getfreebitco.in uses InfyOmLabs / laravel-generator."
This was a hobby site I refurbished in December 2017, and it has been using the generator ever since. The generator is a great development tool for me, especially with front-end implementations.

[2019-11-19 03:50] mitulgolakiya commented on #781
@rattfieldnz added to the list.

[2019-11-19 03:50] #781 closed

[2019-11-20 03:52] HtooWaiKhant opened #782 "Can't Auto Migrated From Generator builder"
Hi,

I try to create crud from generator builder. And then add model and fill all of table field from there. Even though successfully generated crud, but can't auto migrate to database. So that i have to type with laravel migrated command. It was little confused.

[2019-11-25 14:50] christiantigre opened #783 "How custom messages validations rules"
public $fillable = [
        'name',
];

protected $casts = [
        'name' => 'string',
];

public static $rules = [
        'name' => 'required|max:11',
];

I need add custom messages
I try
1)
public static messages()
    {
        return [
            'name.required' => 'Name is required please',
            'name.max' => 'Name max limit 11',
        ];
    }

2)
public static $messages = [

[2019-11-26 04:22] vishalinfyom commented on #783
@christiantigre Please add `messages()` method in your form request, e.g. :

[code]

You can find more details [here ](https://laravel.com/docs/6.x/validation#customizing-the-error-messages)

[2019-11-26 13:28] ajayinfyom commented on #682
@abdullaheid its good idea. but i see its too lengthy process here.

right now we generate HTML from **ViewGenerator.php**.  its generated html for each fields directly (one line of code).

if we implement to your idea firstly need to create generateHTML  for each html type than
while generating view to check each field type and go to its related FieldGenerator class.

also now added support of Lo

[2019-11-27 04:59] ajayinfyom commented on #243
**Localization** Support added.

Setup Localization docs : https://labs.infyom.com/laravelgenerator/docs/6.0/localization

[2019-11-27 04:59] #243 closed

[2019-11-27 05:04] ajayinfyom commented on #666
Added Support to Publish User Crud with default fields.

Check its docs from here: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-commands#default-users-model-crud

[2019-11-27 05:04] #666 closed

[2019-11-27 12:14] mariovalney commented on #666
Awesome work, guys. Thank you!

[2019-11-30 04:14] ajayinfyom commented on #782
Support added to Force Migrate in Generator builder.

[2019-11-30 04:14] #782 closed

[2019-12-07 07:42] #783 closed

[2019-12-08 05:30] ShaileshInfyom commented on #666
see the demo here https://youtu.be/V7PCL6HCdXo

[2019-12-08 05:32] ShaileshLadumor commented on #666
see demo here https://youtu.be/V7PCL6HCdXo

[2019-12-12 17:53] naysumyat opened #785 "MongoDB Support status"
Does this package currently support mongodb or integration with jenssegers/laravel-mongodb ?

[2019-12-13 08:40] mitulgolakiya commented on #785
@naysumyat there is no support for mongodb yet.

[2019-12-13 17:02] 7dir opened #786 "Don`t delete after rollback from migrations(SQL) table"
[code]

[2019-12-14 21:21] FreddyCrugger opened #787 "How to reload a generated CRUD into the Visual builder?"
Hello,

I could not find a forum where I could ask questions so I came here.
I just downloaded your latest version and was trying the Visual builder(generator).
It looks good but I just created a table and made a mistake(forgot 2 fields), How to reload the crud fields into the generator please?

Thank you.

[2019-12-15 03:46] #785 closed

[2019-12-16 04:40] ajayinfyom commented on #787
@FreddyCrugger You can use Rollback Command for rollback all generated files and generate new crud.
rollback docs: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-commands#rollback

[2019-12-16 04:40] #787 closed

[2019-12-16 04:58] ajayinfyom commented on #786
we already mention that things in docs: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-commands#rollback

`If you have run migration on database, then better you rollback that migration first and then run infyom:rollback command, since it will delete migration file as well. Otherwise laravel can throw error about missing migration files.`

[2019-12-16 04:58] #786 closed

[2019-12-21 09:50] vishalinfyom commented on #497
@zhekaus We are using `doctrine/dbal` package to get tables columns and its types, the package it self return type `boolean` for datatype `tinyint` thats why its happen.

[2019-12-21 10:17] #497 closed

[2019-12-22 17:02] FreddyCrugger commented on #731
Has this changed since September 20 or not?

[2019-12-23 04:19] ajayinfyom commented on #731
@FreddyCrugger there's no any changes yet.

[2019-12-23 04:22] ajayinfyom commented on #708
Now prefix separated by slash instead of a comma,

prefix docs: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-options#prefix-option

[2019-12-23 04:22] #708 closed

[2019-12-23 10:35] FreddyCrugger commented on #731
ok thanks

[2020-01-10 02:46] MatheusRV opened #789 "Support MySQL (dbtype) data type: SET"
Enum is used for radio box, but if yout list has less than 64 items you could use SET for the checkboxs. This is a elegant MySQL solution instead of use all varchar 255.

[2020-01-20 09:22] anuj509 commented on #449
how to get this in API ?

[2020-01-21 11:36] Extractivity opened #793 "Incorrect references to language variables in localized files"
Hello. First of all, great idea for a package; could be an immense time saver for me, thank you.

**Problem**

After creating localized api-scaffolding from an existing table, the created blade files contain incorrect references to language variables, i.e. instead of the actual translated term `Bezeichnung` I get a path to the translation like `models/BenutzerRolle.fields.Bezeichnung` in CRUD view

[2020-02-02 04:25] erbaafidotama opened #795 "Cant Input Date"
I use AdminLTE for template infyom. I use scaffold and one field have date type. When I try input data in form, I cant input field date type. always blank. This is code in my project:
`@section('scripts')
    <script type="text/javascript">
        $('#tgl_lahir').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            useCurrent: false
        })
    </script>
@endsection`

I did

[2020-02-04 08:21] ShaileshInfyom commented on #795
@erbaafidotama as a quick fix replace input type date to text.

`{!! Form::text('tgl_lahir', null, ['class' => 'form-control','id'=>'tgl_lahir']) !!}`

we will fix it soon.

[2020-02-04 08:57] ShaileshInfyom commented on #795
here fixed https://github.com/InfyOmLabs/adminlte-templates/pull/55

[2020-02-08 05:39] ajayinfyom commented on #795
issue Fixed.

[2020-02-08 05:39] #795 closed

[2020-02-08 06:59] ajayinfyom commented on #452
From 5.6+,  We published our custom Base Repository pattern and removed use of Prettus/l5-repository pattern.

[2020-02-08 07:16] ajayinfyom commented on #404
We are not maintaining VueJs Generator in this package from last few versions.

[2020-02-08 07:18] ajayinfyom commented on #361
We are not maintaining VueJs Generator in this package from last few versions.

[2020-02-08 07:19] #452 closed

[2020-02-08 07:27] ajayinfyom commented on #517
We published our custom Base Repository pattern and removed use of Prettus/l5-repository pattern.

[2020-02-08 07:28] mitulgolakiya commented on #361
In the latest version, we have given the support to customize templates. so you can publish the templates and customize the way you want as per your need to a theme.

so if anyone interested in this, then he can develop his own packages as well for these templates.

[2020-02-08 07:28] #361 closed

[2020-02-08 07:29] mitulgolakiya commented on #404
Yes, even we are planning to remove that source code starting from Laravel 7.0 support in this package. so closing this issue.

[2020-02-08 07:29] #404 closed

[2020-02-08 07:30] mitulgolakiya commented on #256
Presttus removed.

[2020-02-08 07:30] #256 closed

[2020-02-08 07:30] #517 closed

[2020-02-08 07:35] ajayinfyom commented on #171
We are not maintaining VueJs Generator in this package from last few versions.

[2020-02-08 07:44] ajayinfyom commented on #130
Issue fixed in the latest version and removed Presttus repository pattern.

[2020-02-08 07:44] #130 closed

[2020-02-08 07:46] #171 closed

[2020-02-08 08:09] ajayinfyom commented on #321
we are displaying generated files in the console already.
and added support of localization and its separate docs/instructions here https://labs.infyom.com/laravelgenerator/docs/5.8/localization

[2020-02-17 08:35] rajkumarpb opened #797 "Created By field using id of logged in user"
As mentioned in title, I would like to add the id of logged in user to be added in created_by field in table for every insert and in modified_by field if edit. How can I achieve this with infyom generator? Sorry if it's very basic question but I'm a noob in Laravel.

[2020-02-18 05:11] HtooWaiKhant opened #798 "Auto declare primary key in generate model"
I generated a full scaffold starting from an existing table. And Primary key in the existing table has a different name than id. so how can i declare when auto generate model.
Eg - protected $primaryKey = 'hello_id';

[2020-02-18 05:21] ajayinfyom commented on #798
@HtooWaiKhant you can do with passing  `--primary=custom_name_id`

Already its mention in docs: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-options#custom-primary-key

[2020-02-18 05:21] #798 closed

[2020-02-18 06:41] HtooWaiKhant commented on #798
but i have to generate from generator builder.

[2020-02-18 13:37] ajayinfyom commented on #798
@HtooWaiKhant  oh sry but you didn't mention that thing in the issue. ok, I will check it with generator builder.

[2020-02-19 12:57] skys215 commented on #471
I think it's possible with  `php artisan infyom.publish:templates` in new versions.

[2020-02-19 17:17] skys215 commented on #250
Any progress?

[2020-02-20 08:33] HtooWaiKhant commented on #798
yeah! i forgot to mention. thanks for your help.

[2020-02-21 12:37] meetthosar opened #799 "Core UI stopped working"
Login page lost its CSS and drop down is not working after login.

Yesterday, coreui unpkg is updated to 3.0.0. It is creating problem.

Any help?? Little urgent!

[2020-02-21 12:42] vishalinfyom commented on #799
@meetthosar we already updated it today, please re-publish layouts files by hittiing command :

```php artisan infyom.publish:layout ```

[2020-02-21 12:53] monkeybanana550 opened #800 "Suggestion - allow decimal numbers in htmlType"
I was searching for ways to dynamically accept values in which contain decimal values. Currently, InfyOms only allow numeric `htmlType,` and to allow such values (the only approach I knew so far) is to disable the numeric and apply `required|numeric|max:5|regex:/^-?[0-9]+(?:\.[0-9]{1,2})?$/` in the `public static $rules` within your desired `model` name.

[2020-02-21 13:12] meetthosar commented on #799
Yeah, worked. You guys are doing great job!

[2020-02-22 04:13] #799 closed

[2020-02-24 13:29] monkeybanana550 opened #801 "infyOm JSON generator fails to create nullable database field for database, nullable doesn't fail on $rules"
Steps to recreate:
1. Generate a JSON file with `"validations": "nullable"`.
2. Run `php artisan infyom:scaffold Model --fieldsFile=Model.json`. Select "No" for JSON override, "Yes" for migration.
3. Check generated `Model` and enter a value for the field.
4. The system will output an error. `SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'column_test' cannot be null (SQL: insert int

[2020-02-25 03:03] genesiscz opened #802 "PHPDoc not generated in Models when Swagger generated"
Hey, I guess that is not a wanted feature to not generate the @property fields when you enable swagger. The generateSwagger function replaces the DOCS so php doc is not placed correctly. Could we have a possibility to have them both?

PS: Also, how do I get the relations within the repository, eg. address in the users table marked by address_id in the Api resource?

[2020-02-25 08:44] skys215 commented on #802
For the second question, use `load()` method to get the relations.

[2020-02-25 08:49] skys215 commented on #250
After trying to integrate, found out that they are using different repository and it is using coreui now(I assumed that they were using adminlte before? I'm not sure). So integrating it will need to change also the adminlte-templates I guess. It would be a huge project and it won't have capability for older version.
I suggest to write a brand new package rather than transforming this package.

[2020-02-25 11:02] akshay13aac commented on #175
@gsc89 Hi How i can generate row children data?

[2020-02-25 11:30] gsc89 commented on #175
sorry @akshay13aac its been 4 years I can't remember haven't used larvel for a long long time now.

[2020-02-25 11:43] akshay13aac commented on #175
Thanks @gsc89. @mitulgolakiya Can you help to generate row children data.

[2020-02-25 20:20] tolu-six commented on #797
Hi rajkumarpb,
You can get the logged in user id, by using the auth middleware, which you then map with the created_by or modified_by and finally save

[2020-02-27 14:00] ajayinfyom commented on #797
@rajkumarpb  currently, there is no way to do this, will add support for it.

[2020-02-27 14:03] ajayinfyom commented on #801
@monkeybanana550 Can you pls past you Model.json here.

[2020-03-01 07:05] skys215 opened #803 "Factory files not removing when rolling back"
Hi.

I found out that the factory files are not deleted when rolling back.
Is it on purpose or forget to rollback?

Thank you.

[2020-03-01 12:40] arif-sb opened #804 "DataTables not listing records"
Hi,
i have installed the package and every things goes well except datatables, when ever i use --datatables=true listing page shows nothing.

like
php artisan infyom:scaffold Invoice --fromTable --tableName=invoices --ignoreFields= --datatables=true

without datatables every thing is working as expected - i am using infyomlabs laravel-generator 6.0 with laravel 6.0 on php 7...
i will be great full

[2020-03-02 03:41] shailesh-ladumor commented on #804
@arif-sb watch this tutorial https://www.youtube.com/watch?v=YC0YXrAF4SA&list=PL0wCC44AhrC3JHzcB5qmjYkm70OaoKegghow to use datatable with generator. hope it's help..

[2020-03-05 01:28] EmmanuelAcuna opened #805 "Are you planning to implement React instead blade?"

[2020-03-07 07:49] ajayinfyom commented on #805
Not as of now, will think about that.

[2020-03-07 08:47] #804 closed

[2020-03-07 12:22] king1254 opened #807 "Not Found The requested resource /services was not found on this server."
Not Found
The requested resource /services was not found on this server.
![Capture](https://user-images.githubusercontent.com/40822571/76143291-5f10a800-6087-11ea-9ac9-a3686459a0cc.JPG)
![ROUTE](https://user-images.githubusercontent.com/40822571/76143304-794a8600-6087-11ea-8ff7-14edb6fbba0a.JPG)

[2020-03-08 08:06] king1254 opened #808 "Not Found The requested resource /services was not found on this server"
Not Found The requested resource /services was not found on this server. #807

[2020-03-09 09:51] slamgundam commented on #776
it is safe that i upgrade L5.8 to L6.x?

currently laravel-generator is using l5-repository as backboned

[2020-03-13 15:16] skys215 commented on #807
It seems not laravel-generator's problem.
Did you enabled Rewrite module on your nginx/apache/IIS?
Goggle has more answer.

[2020-03-13 15:20] skys215 opened #809 "Template not synced to field name changes"
I found out that the `toggle-switch` is renamed as `toggle_switch` here:
https://github.com/InfyOmLabs/laravel-generator/commit/5a5fc19463259c71ad24ef65d864b4b2fb4e535e#diff-565f0798385c7246ec36d01b2f4f67be

But both in `adminlte-templates` and `coreui-templates` remains `toggle-switch.stub`.
This causes the fields uses toggle switch won't generate.

P.S. The related part of document also need to

[2020-03-14 05:51] #807 closed

[2020-03-14 05:56] ajayinfyom commented on #808
this is not generated the related issue.

[2020-03-14 05:56] #808 closed

[2020-03-14 07:04] ajayinfyom commented on #809
Fixed to generate a toggle switch.

[2020-03-14 07:04] #809 closed

[2020-03-14 07:24] ajayinfyom commented on #776
@slamgundam laravel-generator no more using l5-repository.
we have created custom BaseRepository.

[2020-03-14 08:52] mitulgolakiya commented on #776
@slamgundam yes, probably you can still use l5-repository for your old controllers and create new CRUD with a new based repository. Or if you are not using any complex things of l5-repository then you can update all your existing repositories to use new BaseRepository.

[2020-03-18 00:43] gillguy81 opened #813 "How to generate swagger annotations for your apis? Please help"
'add_on.swagger' => true this is true ,
but still swagger annotations not getting in API Controllers

I am using this command to generate : api_scaffold
php artisan infyom:api_scaffold Project --fromTable --tableName=projects

My composer.json
{
  "name": "laravel/laravel",
  "type": "project",
  "description": "The Laravel Framework.",
  "keywords": [
    "framework",
    "laravel"
  ],
  "licens

[2020-03-19 17:58] skys215 commented on #250
I have written a new package to use under laravel-boilerplate.
It's right [here](https://github.com/labolagen/laravel-generator)

[2020-03-20 10:27] skys215 opened #814 "`schema_files` has no default values in CommandData.php"
I found that default value of `path.schema_files` attribute is not set in [here, CommandData.php](https://github.com/InfyOmLabs/laravel-generator/blob/211584cd0326ef770983d281833100a305f1e139/src/Common/CommandData.php#L225).

Which will cause that if config file is not published via `vendor:publish`, it will failed to get field file when using `--fieldsFile` option.

[2020-03-20 20:46] ayman-elmalah opened #815 "Swagger package is archived"
https://github.com/appointer/swaggervel

this package is archived right now, you can use l5 swagger package instead

https://github.com/DarkaOnLine/L5-Swagger

[2020-03-21 06:53] ajayinfyom commented on #814
added default value for `schema_files` path

[2020-03-21 06:53] #814 closed

[2020-03-21 06:55] ajayinfyom commented on #815
we will update Swagger package soon.

[2020-03-26 03:25] lomotech commented on #768
did you have any upgrade guide from using prettus package to without using prettus package?

[2020-04-05 11:05] aydinbulut commented on #813
Enabling Swagger is not enough only, you need to install Swagger Specs Generator & Swagger UI package mentioned in the documentation but the required package is archived.

Documentation for [Enabling Swagger](https://labs.infyom.com/laravelgenerator/docs/7.0/generator-options#swagger)

I installed L5-Swagger mentioned in #815 and it worked well so far.

[2020-04-05 11:09] aydinbulut commented on #815
I am using L5-Swagger and it works well so far.

[2020-04-05 11:44] rabrowne85 opened #828 "Locale Table Headers Lang Not Found"
There appears to be a discrepancy with how the locale is templated. In most the of the `coreui-templates` package template files it uses the reference to: `@lang('models/$MODEL_NAME_PLURAL_CAMEL$.singular')`.

However in the generation of the index table headers in the `helpers.php` file within the `laravel-generator` package, it uses: `$template = str_replace($variable, "@lang('models/$tableName.

[2020-04-06 06:07] #813 closed

[2020-04-08 06:04] rabol opened #830 "php artisan infyom.publish:generator-builder"
Just trying to follow the documentation:

this command does not work:

php artisan infyom.publish:generator-builder

[2020-04-08 06:40] vishalinfyom commented on #830
Hey @rabol please make sure you are performing all steps, or there are some config:cache issue, because its working totally fine for us.

![image](https://user-images.githubusercontent.com/33887755/78752550-f1131580-7991-11ea-9ff1-ba5883ce752a.png)

[2020-04-08 06:42] #830 closed

[2020-04-08 06:43] rabol commented on #830
I found the issue... the service provider is not auto discovered - which is normal for all packages nowadays :)

[2020-04-08 07:58] rabol opened #831 "use Illuminate\Support\Facades\Schema missing"
In the generated migration files this is missing:

use Illuminate\Support\Facades\Schema;

[2020-04-08 08:28] rabol opened #832 "infyom:rollback does not cleanup everything"
The rollback command does not do a rollback of the db migration and it does not delete the migration file

[2020-04-08 08:32] rabol opened #833 "--fieldsFile want to create a new schema file"
When using the --fieldsFile the scaffold command still want to overwrite the input file

e.g.

php artisan infyom:api_scaffold --fieldsFile=test.json Test

then at the end the command asks to do migration and asks if you want to overwrite the test.json file

[2020-04-08 08:45] ajayinfyom commented on #832
we already mention that things in docs:  https://labs.infyom.com/laravelgenerator/docs/6.0/generator-commands#rollback.

you must be rollback migration by manually.

[2020-04-08 08:45] #832 closed

[2020-04-08 08:53] rabol commented on #832
https://labs.infyom.com/laravelgenerator/docs/7.0/generator-commands

from the doc:

"If you have run migration on database, then better you rollback that migration first and then run infyom:rollback command, since it will delete migration file as well. Otherwise laravel can throw error about missing migration files."

as you can see,it is say that the migration file will be deleted, but the file

[2020-04-08 09:11] aydinbulut opened #834 "[Enhancement]: "use Illuminate\Http\Response;" instead of "use Response;" because phpstan throws error"
Can we use the below suggestion in the controllers or wherever it is being used?

`"use Illuminate\Http\Response;" instead of  "use Response;"`

I am using PHPStan to analyze the code and `use Response;` fails.

![image](https://user-images.githubusercontent.com/2726365/78766729-4f3ff880-7992-11ea-97f8-00fb276d2cb3.png)

I put it to the `ignoredErros` list for now but it would be great to do so. B

[2020-04-08 09:18] aydinbulut commented on #833
The tool generates all files from scratch in each attempt even if you specify `--fieldsFile`, that is why it asks. It will generate the same test.json you have even if it overwrites.

[2020-04-08 09:36] rabol opened #835 "FactoryGenerator does not have rollback method"
In V7, the FactoryGenerator does not have a rollback() method, so the factory class will not be deleted when using the artisan command: php artisan infyom:rollback

[2020-04-08 09:40] mitulgolakiya commented on #833
@aydinbulut @rabol The purpose of that is, we support multiple locations for input files, but only one destination location to save file and even that can be configured.

That's why it asks for confirmation if file exists.

So IMO, it's fine.

[2020-04-08 09:40] #833 closed

[2020-04-08 09:43] mitulgolakiya commented on #830
@rabol thanks for reporting. we will consider that.

[2020-04-08 09:47] rabol commented on #833
I would agree if the --fieldsFile was not specified on the command line as a parameter, but since it is specified, there is no need to generate/save it again - It was just used as input so nothing has changed

[2020-04-08 09:50] ajayinfyom commented on #835
duplicate Issue: #803

[2020-04-08 09:50] #835 closed

[2020-04-08 13:11] aydinbulut commented on #731
In my project, users have many projects, so while adding a project I can select a user from select input.

If this is what you need you can look at `select from existing table` in **Supported HTML Input Types & Formats** in the document.
https://labs.infyom.com/laravelgenerator/docs/7.0/fields-input-guide

[2020-04-10 16:28] alamin209 commented on #539
Did  you  try to publish  your  my artisan command
php artisan infyom:publish
and this
php artisan vendor:publish
.I try and it work  fine

[2020-04-11 20:09] aydinbulut opened #836 "[Bug]: If model has 2 words in the name PhpDoc and route paths are generated different."
My JSON file is UserRole.json

I did run
`php artisan infyom:api_scaffold --fieldsFile=UserRole.json UserRole`

routes/api.php
`Route::resource('user_roles', 'UserRoleAPIController');`

routes/web.php
`Route::resource('userRoles', 'UserRoleController');`

The first difference is different route paths for API and WEB. Hence, API endpoints don't match the generated paths.

![image](https://user-imag

[2020-04-17 03:39] ShaileshInfyom commented on #548
here is [tutorial](How to display relationship data into Yajra DataTables with InfyOm Laravel Generator)

[2020-04-17 03:40] shailesh-ladumor commented on #548
here is [tutorial](https://youtu.be/sJrDpFl3Pcw)

[2020-04-17 22:47] egyleader opened #840 "Multi language support for api & content"
there is instructions for making a multi language ui by adding localization option to laravel ,,
but what if I want to have a mlti language website data ??

for example : `example.com/api/ar/post`

is such thing possible with the current version ?? and if not can you add it to requested features ??

[2020-04-22 08:21] halmelar opened #842 "Illuminate\Contracts\Container\BindingResolutionException"
- PHP Version 7.1.3
- Laravel Version 7.7.1
- Infyom Laravel-Generator: 7.0
- Laravel-Datatables Version latest (v9.9.0)

On my production server i get from Illuminate/Container/BoundMethod.php:
`Unable to resolve dependency [Parameter #0 [ <required> $query ]] in class App\DataTables\TestDataTable`

Same code works fine on my development system with same php and laravel version.
No problems with

[2020-04-23 06:12] halmelar commented on #842
It seems to be a problem of datatables-buttons and Laravel 7.7:
[https://github.com/yajra/laravel-datatables-buttons/pull/105]
fixed in v4.9.1

[2020-04-23 06:12] #842 closed

[2020-05-08 17:35] Saneesh opened #843 "[L7] Datatables is not showing for the table"
Hello,
I want to list my records with datatables.
step 1: `add_on.datatabled = true`
step 2:  executed the command `php artisan infyom:api_scaffold Product`

But when I checked in the admin panel after adding a product it is not showing data with datatables.

Am I missing something?

Regards,
Saneesh

[2020-05-08 18:39] noxeone opened #844 "No primary key is created for a non-standard key name"
I created the API from the file, wrote in it a non-standard name id
When requested through /api/{model_name}/{id} error:

It is necessary to add to the model class:

`protected $primaryKey = "{my_id}";`

[2020-05-09 04:05] ShaileshInfyom commented on #843
@Saneesh Have you installed datatable packages? here is a [tutorial ](https://www.youtube.com/watch?v=YC0YXrAF4SA&list=PL0wCC44AhrC3JHzcB5qmjYkm70OaoKegg) maybe help.

[2020-05-09 04:06] ShaileshInfyom commented on #843
also, one more thing is your command should be `php artisan infyom:scaffold Product`  not `php artisan infyom:api_scaffold Product`

[2020-05-09 09:41] Saneesh commented on #843
Hello @ShaileshInfyom,
Thank you so much for your quick reply.
In composer
[code]
In providers of app.php
[code]
In aliases of app.php
`'DataTables' => Yajra\DataTables\Facades\DataTables::class,`

in laravel_generator.php
`add_on.datatabled = true`

`php artisan infyom:scaffold Car`

I have followed the video as well. But still I'm not able to see the Datatables.
Note: I'm using `Laravel 7`

[2020-05-09 09:58] Saneesh commented on #843
`table.blade.php` is created as follows
[code]

But the records added to the table is not showing

[2020-05-12 05:55] ShaileshInfyom commented on #843
@Saneesh do not specify `--datatables=true` because you already enabled in config.
try  `php artisan infyom:scaffold News` also check console

[2020-05-12 13:23] Saneesh commented on #843
Im using Laravel 7
if I'm not giving `--datatables=true` in the command it wont creates datatables related code even though I have added it in the config.

Is there any other settings I'm missing?

for datatables do I need to give something extra?

[2020-05-15 08:56] ShaileshInfyom commented on #840
@egyleader can you please provide some more detail?

[2020-05-16 06:24] ajayinfyom commented on #843
Hello @Saneesh

Have you published Data tables tags ??
maybe that's a problem in your case.
let me know its work or not after published vendor.

![image](https://user-images.githubusercontent.com/30411745/82112538-59140300-976b-11ea-9380-340132489b9a.png)

[2020-05-16 09:13] Saneesh commented on #843
Thank you so much for your effort!
I have published with `0`, same results.
I'm not seeing anything related to datatables(like table sort actions).

![Screenshot from 2020-05-16 14-37-21](https://user-images.githubusercontent.com/1501763/82115922-88cf0500-9783-11ea-9dbb-7ea16923bc4b.png)

Regards,
Saneesh.

[2020-05-16 09:56] ajayinfyom commented on #828
same issue: #793

[2020-05-16 09:56] #828 closed

[2020-05-16 10:08] ajayinfyom commented on #844
Fixed.

[2020-05-16 10:08] #844 closed

[2020-05-16 10:27] ajayinfyom commented on #843
I'm sure you are missing something, I have just tested a data table with Laravel 7.0.

Please try with all steps in a new project.

![image](https://user-images.githubusercontent.com/30411745/82117458-a6a16780-978d-11ea-86ff-cf2b0210c85d.png)

[2020-05-16 10:27] #843 closed

[2020-05-16 10:30] ajayinfyom commented on #843
@Saneesh  if you have the same issue in a new project then you can report here.

[2020-05-16 15:44] noxeone commented on #844
I found new problems with non-standard key name!
Create new issue or write here?

[2020-05-16 16:27] noxeone opened #849 "Another problem with non-standard key name"
I also found errors associated with a non-standard key name.

In the scaffold template files located: \resources\views\ {model_name}
table.blade.php and edit.blade.php need to replace

`$modelName->id`
to
`$modelName->new_id`

[2020-05-17 11:21] fatihmert opened #850 "[5.8] wrong/missing HTML class names"
Hi;

When I noticed I couldn't create with relationship column on generate builder.

HTML render;
![html render](https://i.hizliresim.com/bJjmfA.png)

_resources\views\infyom\generator-builder\builder.php_

[code]

You can see that the HTML output is wrong according to the codes above. _drdRelationType_, _txtForeignModel_ etc..

My composer require section following this;
[code]

[2020-05-18 22:26] noxeone opened #851 "After rollback, not all data is deleted"
After rollback, not all data is deleted

Not deleted:
migrations,
information about migrations in DB table "migrations",
DB tables,
model schemas (/resources/model_schemas/{modelName.json},
in file ViewServiceProvider.php inside the function boot() not deleted relations functions like this: View::composer(['{DB_table_name}.fields'], function ($view) {.....

[2020-05-19 08:42] perfectwebtech opened #852 "api"
hello

i have query regarding this

1) how i can use uuid any document or guidance ? regarding api i want to use uuid

2) as well for backend is there way i can done  backend on rest api ? something crud operation via rest api

3) is there relationship  menu each other auto generator look like in users have few table relationship so in menu activity can be possible there they user activity log use

[2020-05-19 21:36] noxeone opened #853 "The problem with the model, whose name is "Goods""
When the model name ends in "S", sometimes there may be problems:
In the file ViewServiceProvider.php created a line
`use App\Models\Good;`
Without "S"!
And in the same file the model call looks like:
`$goodItems = Good::pluck('name','goods_id')->toArray();`
_Good_ without "S".

[2020-05-20 06:24] mitulgolakiya commented on #853
@noxeone can you let me know what command you are running and what model name and fields you are giving?

[2020-05-20 06:27] mitulgolakiya commented on #852
1) you can customize the templates and update them to use UUID. Find the docs here: https://labs.infyom.com/laravelgenerator/docs/7.0/publish-templates

2) I don't understand the question properly. But you can generate two things. Either full CRUD with blade files or just Api.

3) There is not support like that as of now.

4) I think you will be missing something in the swagger setup. Check the ex

[2020-05-20 06:27] #852 closed

[2020-05-20 06:35] mitulgolakiya commented on #851
@noxeone

Let me know which version you are using of the generator, because for me it's deleting the migration file, check the below screenshot.

![image](https://user-images.githubusercontent.com/1908535/82412911-18312c80-9a92-11ea-964c-8880448e425f.png)

The model schema file is not deleted purposefully, consider this case, you are generating a scaffold for Doctor. and you made a typo. now what

[2020-05-20 06:35] #851 closed

[2020-05-20 13:57] noxeone commented on #851
Thanks for the answer!
After updating the generator, migrations files are deleted during rollback.
The rest is clear too

About ViewServiceProvider:
In this file generator registers a request to the table from which data is taken for a related table. It appears after creating a relation.
Example:
Part of the schema from the model Goods:
`{
        "name": "unit_id",
        "dbType": "integer:unsi

[2020-05-20 14:05] noxeone commented on #853
Thanks for the answer!

Model Goods was created from schema file, with command:

These lines appear in the file ViewServiceProvider.php after creation relation with another database table
from schema file SaleGoods.json:

[2020-05-20 14:08] noxeone commented on #853
In a neighboring Issue, I answered in more detail:
https://github.com/InfyOmLabs/laravel-generator/issues/851

[2020-05-21 20:28] medioseureka commented on #815
Question, the L5-Swagger is working with no additional configuration or do I have to write some Swagger notation because I have
`ErrorException : Required @OA\Info() not found`
and I have referred to [this](https://github.com/DarkaOnLine/L5-Swagger/issues/273) but it just no generate the API documentation, just the main controller.

[2020-05-22 13:12] aydinbulut commented on #815
I am using Swagger 2.0 but with a fresh install it uses 3.0 and as far as I remember you have to specify @OA\Info() in one of the PHP classes under app/ directory. I faced this problem when I installed the first time.

[2020-05-23 14:12] ajayinfyom commented on #831
#Fixed

[2020-05-23 14:12] #831 closed

[2020-05-23 16:13] medioseureka commented on #815
Sorry if my question is dumb but, would you please give me an example, because InfyOmLabs generates `@SWG\Get` tag but the above package needs `@OA\` tag, it only generates the main controller where I put `@SWG\Get`.

[2020-05-30 04:59] ajayinfyom commented on #815
@ayman-elmalah  @medioseureka @aydinbulut
Added support for laravel 7 in Generator Swagger package.

please refer Updated docs: https://labs.infyom.com/laravelgenerator/docs/6.0/generator-options

also, you can check the video from here: https://www.youtube.com/watch?v=5ILtqB1aR9g

[2020-05-30 04:59] #815 closed

[2020-05-30 05:29] ajayinfyom commented on #849
@noxeone Can you please try with the latest code.
Its already fixed.  #844

[2020-05-30 08:59] #853 closed

[2020-05-30 09:42] ajayinfyom commented on #853
@noxeone you can pass model name in htmlType.

"htmlType": "selectTable:goods,Goods:name,goods_id",

[2020-05-30 09:47] #849 closed

[2020-05-30 09:50] ajayinfyom commented on #849
If you getting still issue then you can report here.

[2020-05-30 14:31] ajayinfyom commented on #803
Fixed.

[2020-05-30 14:31] #803 closed

[2020-06-02 00:15] xwiz commented on #13
@daniel-huang Can you mention precisely what you expect from such integration?

@mitulgolakiya I'm available to help with this if needed. Have been using Dingo with laravel-generator for some years now. The major addition is probably in the generation/scaffolding of transformers.

[2020-06-02 00:19] xwiz commented on #815
@ajayinfyom Sorry for reopening, why does the docs prefer swaggervel archived package instead of `darkaonline/l5-swagger` ? I'm curious because I want to check it out and wondering what might break.

[2020-06-02 04:17] Fionajeremychik commented on #157
I can't add toggle switch

[2020-06-02 05:54] mitulgolakiya commented on #13
@xwiz Great. so yes, if someone can highlight a brief plan here, what kind of integration is needed or will be useful as an optional feature/add-on (as all users will not be using it). then we can plan something.

[2020-06-02 06:04] mitulgolakiya commented on #815
@xwiz there is no preference here, it was like, we have support for that package and it was working well. But not I see that for some reason it was archived. so I already forked the repo and now we are using our own forked version. But we can plan to move to some better package in the future.

Or you can do that and put a PR. :)

[2020-06-02 06:04] mitulgolakiya commented on #157
Post some description of what exactly you are trying.

[2020-06-02 10:09] xwiz commented on #13
@mitulgolakiya  So basically the idea of transformers is mostly about [fractals/includable](https://fractal.thephpleague.com/) resources.

For example, assuming you want to retrieve a project model, you also want to retrieve the task models, and possible the time logs related to it, etc. With transformers, we can load all that extra information as needed by client without needing to write extra AP

[2020-06-03 11:37] Fionajeremychik commented on #157
In your online doc, should be toggle-switch but not toggle switch. Now, I can add toggle switch
How can I change the name of ON/OFF to be Approve/Reject?

[2020-06-03 18:24] mitulgolakiya commented on #157
It's already `toggle-switch` in the examples column. Maybe you are looking into a valid format column. Check it here: https://labs.infyom.com/laravelgenerator/docs/7.0/fields-input-guide

Also to customize toggle switch, you can publish the templates and do whatever changes you want. https://labs.infyom.com/laravelgenerator/docs/7.0/publish-templates

Just keep toggle-switch if you want to customi

[2020-06-04 10:59] Fionajeremychik commented on #157
How to customize one template. Any information

[2020-06-05 04:14] Fionajeremychik commented on #50
how to rename column name in datatable

[2020-06-05 07:59] quannetwork commented on #843
@ajayinfyom Can I have one small question? For now, the generated datatable doesn't have the show button, as we can see on your screenshot. So how can I add that show button, similar to the [demo of datatable](https://datatables.yajrabox.com/eloquent/basic).

![image](https://user-images.githubusercontent.com/8580008/83851518-b1bc3780-a73c-11ea-82af-42596f68f8e6.png)

[2020-06-06 08:37] ajayinfyom commented on #850
@fatihmert Can you please explain whats exactly problem.

`You can see that the HTML output is wrong according to the codes above. drdRelationType, txtForeignModel etc..` what its meaning ??
there already given all classes name in HTML code.

btw, I have tested with crud with a relationship. seem to look it's working perfectly.

[2020-06-07 03:17] joaocarlos opened #862 "Table attribute 'id' does not exist. With Datatables"
I am trying to use InfyOm in my project. I have an existing database. It worked with normal tables, but when I use DataTables it keeps me giving this error:

`Facade\Ignition\Exceptions\ViewException
Table attribute 'id' does not exist. (View: /vagrant/myproject/laravel/adminlte/resources/views/predios/table.blade.php)`

The table has an id column as a primary key. I have also another laravel inst

[2020-06-07 20:31] fmgrafikdesign opened #863 "infyom.publish:layout generates empty menu.blade.php"
I followed the tutorial from https://labs.infyom.com/laravelgenerator/docs/7.0/boilerplates with the core-ui theme but ended up with an empty menu.blade.php file. Regenerating does not fix the problem.

[2020-06-07 21:08] fmgrafikdesign commented on #863
I just found out regenerating is what *causes* the problem. Is there a way besides scaffolding every model again to recreate the correct menu.blade.php file from existing models?

[2020-06-21 07:15] thewebartisan7 commented on #666
Is missing the generated model_schema User.json when you generate for User model.

[2020-06-21 08:07] thewebartisan7 opened #864 "Generate scaffold for users with custom fields using artisan infyom.publish:user"
Hi,

For generate scaffold of users I see there is command `php artisan infyom.publish:user`

But how to include custom fields because there is only default Laravel fields running this command.

Thanks

[2020-06-21 09:54] thewebartisan7 opened #865 "Get validated() from request instead of all()"
Would be better to get $request->validated() fields from request instead of $request->all()

For better security and also for check validation.

Now:

[code]

After:

[code]

[2020-06-21 12:12] thewebartisan7 opened #866 "Add public $timestamps = false; when there is NOT timestamps"
Add `public $timestamps = false;` when there is NOT timestamps

[2020-06-21 21:58] medioseureka commented on #815
Hey awsome, thanks for the great job.

[2020-06-27 06:26] ajayinfyom commented on #866
@thewebartisan7 you can set timestamps false from laravel_generator config file.

https://labs.infyom.com/laravelgenerator/docs/7.0/generator-options#timestamps

[2020-06-27 13:35] ajayinfyom commented on #864
@thewebartisan7  there's not support yet to publish user module with custom fields.
you can modify after published.

[2020-06-27 13:50] ajayinfyom commented on #862
@joaocarlos what steps performance for DataTables ?.
and Can you please share table.blade.php file.

[2020-07-02 17:22] thewebartisan7 commented on #865
You must also add for all fields used in forms almost one rule "nullable"
So validated() method will return it.

[2020-07-07 22:13] mrahmadt opened #870 "Support WYSIWYG editor"
Hello Team,

I tried to search for this in the online documentation without any result, is it possible to auto generate WYSIWYG field with laravel generator or I have to code it myself?

[2020-07-08 03:29] mitulgolakiya commented on #870
@machour no, right now it doesn't support that kind of field. You will need to add that manually after you generate the CRUD.

[2020-07-08 22:53] ruanpepe opened #871 "Translation files names format"
When I generate codes for a table consisting of more than one word like "posts_comments", the translation file is generated with the name "postsComments", but the references to translations for fields look for "posts_comments".

Command:
`php artisan infyom:scaffold PostsComment --fromTable --tableName=posts_comments`

My laravel_generator.php:
`
return [

    /*
    |-----------------------------

[2020-07-08 23:38] ruanpepe commented on #871
I found a method "saveLocaleFile()" at "infyomlabs\laravel-generator\src\Commands\BaseCommand.php".

250 `$fileName = $this->commandData->config->mCamelPlural.'.php';`
I guess at that line is where the issue can be solved

[2020-07-15 19:36] rebootcode opened #872 "Replace "InfyOm Generator" with "config('app.name')"?"
Is there any specific REASON to use "InfyOm Generator" and not "config data" in all login, register, reset blade view file?

[2020-07-17 03:26] ruanpepe commented on #793
Could anyone solve this?

[2020-07-17 03:34] ruanpepe commented on #871
Duplicate #793

[2020-07-17 03:34] #871 closed

[2020-07-17 03:41] ruanpepe commented on #836
Same error from #793

[2020-07-17 03:43] ruanpepe commented on #607
Same error #793

[2020-07-17 04:51] mitulgolakiya commented on #872
@rebootcode there was no reason. I think that was a default thing. We will plan to change it. Thanks for highlighting it.

[2020-07-18 09:43] #872 closed

[2020-07-22 11:01] ajayinfyom commented on #793
Fixed.

[2020-07-22 11:01] #793 closed

[2020-07-22 11:02] ajayinfyom commented on #828
Fixed

[2020-07-22 14:07] koningstein opened #874 "prefix not in ViewServiceProvider"
When using a prefix for route, path and views there was no problem, until making a dropdown with data from another table

![image](https://user-images.githubusercontent.com/38209467/88185946-d5780600-cc34-11ea-8366-a00c059376b0.png)

![image](https://user-images.githubusercontent.com/38209467/88186081-05270e00-cc35-11ea-960a-6b7e642e66bb.png)

getting this:

![image](https://user-images.githubuser

[2020-07-25 12:53] #874 closed

[2020-07-25 13:26] ajayinfyom commented on #862
Maybe this video can help you: https://www.youtube.com/watch?v=YC0YXrAF4SA

Or re-open the issue with more details please.

[2020-07-25 13:26] #862 closed

[2020-07-25 13:52] ajayinfyom commented on #863
No, there's no any way to regenerate all menus  and also its not good to recreate all menus on every generated scaffold.

[2020-07-25 13:52] #863 closed

[2020-07-25 21:45] muffaddal opened #876 "Infyom Generator fails to publish config files, in case of using other ui apart from admin-lte"
Hi Guys! Thanks for the awesome package! Really enjoying it. It seems there is a problem while generating basic scaffolding for the core-ui templates. For admin-lte it works fine as it is set to default. But fails for coreui.

I followed step by step procedure as mentioned in the docs. The base command works properly and publishes the files in the app Directory, but then layout publish fails.

```

[2020-07-26 01:06] Logatto commented on #862
to solve this problem check if you have `{!! $dataTable->table(['id'=>'predios', ... ` in /views/predios/table.blade.php

[2020-07-26 14:38] RayhanYulanda opened #877 "Fail! Use of undefined constant STDIN - assumed 'STDIN' (this will throw an Error in a future version of PHP)"
Is it an error or just warning?

[2020-07-26 14:43] RayhanYulanda opened #878 "Infyom view generator stuck in my last input"
I tried to generate another column but it cant, stuck in my last input and cannot force migrate too
Any ideas?
![image](https://user-images.githubusercontent.com/15263594/88482038-ee601e80-cf88-11ea-8314-92a565161fec.png)

[2020-07-27 03:45] mitulgolakiya commented on #878
@RayhanYulanda I think you already have that migration exist. Delete that existing migration and try it again.

[2020-07-27 03:45] #878 closed

[2020-07-27 03:46] mitulgolakiya commented on #877
@RayhanYulanda Can you post more details where you are getting and when?

[2020-07-27 03:46] #877 closed

[2020-07-28 02:05] mitulgolakiya commented on #876
@muffaddal have you changed the `templates` variable to `coreui-templates` in `config/infyom/laravel_generator.php`?

Because the default config is set to `adminlte-templates`. so if you are using coreui-templates then you need to change the config. That's the expected behavior.

That's why this is added in the documentation. https://labs.infyom.com/laravelgenerator/docs/7.0/coreui-templates#updat

[2020-07-28 02:05] #876 closed

[2020-07-30 14:16] fabiomlferreira opened #879 "New features to create dynamic variables and basic validation rules"
I'm a former Yii2 programmer and I miss alot when we generate a model to have some basica validation rules based on the field information from the database, for example if is a string with 255chars and required it should generate the rule like this
`'title' => 'required|string|max:255,`
if is not required should create something like this
`'title' => 'nullable|string|max:255,`

Do you have plans t

[2020-08-01 09:21] sung1asses commented on #499
That's great idea. Do it please. For example sometimes you want set onDelete('set null'), sometimes onDelete('cascade')

[2020-08-01 09:46] sung1asses commented on #499
It's might be not good. Because if you want to use SoftCascade package, you will must redact migration...

[2020-08-04 05:57] mitulgolakiya commented on #879
#858 Merged.

[2020-08-04 05:57] #879 closed

[2020-08-05 10:49] mitulgolakiya commented on #499
Support added. New Syntax,

[code]

[2020-08-05 10:49] #499 closed

[2020-08-06 00:52] cfmorales opened #881 "Bug when generating an scaffod"
Theres a bug after trying to generate an scaffoling
[code]

php version 7.2.33
"laravel/framework": "5.6.*",

[2020-08-06 06:52] thewebartisan7 opened #882 "Feature request: allow custom template to be loaded from all vendor name"
Actually custom theme can only be loaded from infyomlabs vendor, so I can't make make a portable theme inside another vendor namespace.

The only way is to load it using symlink from local folder, example:

[code]

[2020-08-06 08:29] mitulgolakiya commented on #882
@thewebartisan7 Good point. we will check on making this change.

[2020-08-06 08:32] mitulgolakiya commented on #881
@cfmorales we will check it. But soon we are going to deprecate (or no longer giving fixes) to all the versions below 6.x.

Since last 6 is an LTS, 7 is already released months ago and Laravel 8 is also announced to be released in September.

I will also check if the same bug is there in 6.x and 7.x.

[2020-08-07 03:28] thewebartisan7 opened #883 "[Doc] What is config option tables_searchable_default"
For what it's used tables_searchable_default?
Is not on documentation here https://labs.infyom.com/laravelgenerator/docs/7.0/configuration and seem only used in GeneratorForeignKey class added to defaultSearchable.
Thanks

[2020-08-07 04:23] mitulgolakiya commented on #883
@thewebartisan7 that flag makes all fields default searchable except primary key and timestamps. I will update the docs.

Thanks for capturing it.

[2020-08-07 05:04] mitulgolakiya commented on #883
@thewebartisan7 the docs are updated and you can check it here: https://labs.infyom.com/laravelgenerator/docs/7.0/configuration#options

[2020-08-07 05:04] #883 closed

[2020-08-07 05:33] thewebartisan7 opened #884 "Prefixes config model added in prefix folder"
When I add prefixes like so:

[code]

Then also models are prefixes with Admin namespace, example:

`namespace App\Models\Admin;`

I would not expect this behaviour but to leave models without Admin prefixes, because the same model can be used in admin and frontend. On other hand controllers, routes and views are only used by admin so the prefixes should be only for this.

[2020-08-07 05:37] thewebartisan7 commented on #884
I see now that config 'path' actually put controllers, request and models under Admin folder. That is fine for controllers and request, but models I think should not be. Or almost add separated path for models in case someone want to use it.

[2020-08-07 06:13] thewebartisan7 commented on #866
As I understand this is globally for all scaffold. But when I use from JSON without any timestamp, then I expect that $timestamp = false are added automatically. But is not big problem.
Thanks

[2020-08-07 06:13] #866 closed

[2020-08-07 06:15] #864 closed

[2020-08-07 06:18] mitulgolakiya commented on #881
@cfmorales I've just checked it with the latest version of Laravel that we support. I will say you try to reproduce this issue with Laravel 6.0 or great and report us with more inputs.

I tried to generate with your same input and I'm able to run it successfully.

![image](https://user-images.githubusercontent.com/1908535/89615223-bd92ba00-d8a3-11ea-8149-1daa11b4961d.png)

Also, it looks like `isO

[2020-08-07 06:18] #881 closed

[2020-08-07 06:33] thewebartisan7 commented on #884
A workaround for this is to setup custom path and namespace for controllers, requests and views. Example

[code]

But ideally would be better to add custom path for models in prefixes

[2020-08-07 06:36] thewebartisan7 commented on #884
No, previous solution has an issue, the routes are created without namespace Admin:

Route::group(['prefix' => 'admin'], function () {
    Route::resource('articles', 'ArticleController', ["as" => 'admin']);
});

[2020-08-07 08:10] mitulgolakiya commented on #882
Fixed: Check docs here: https://labs.infyom.com/laravelgenerator/docs/7.0/configuration#scaffold-templates

and here: https://labs.infyom.com/laravelgenerator/docs/7.0/publish-templates#custom-templates

[2020-08-07 08:10] #882 closed

[2020-08-07 11:18] thewebartisan7 opened #887 "Get $FIELD_NAME$ in table_header"
I can't find an easy solution to get $FIELD_NAME$ in table_header.stub
Would be possible to add it?
In my case I need to know $FIELD_NAME$ for add sorting/ordering by making <th> clickable with ?sort=$FIELD_NAME$
Thanks

[2020-08-07 14:17] thewebartisan7 opened #888 "Command infyom.publish:templates override customization of infyom-generator-templates"
When I run command:

`php artisan infyom.publish:templates`

This move all templates/scaffold of my custom theme inside resources/infyom/infyom-generator-templates/scaffold and that is fine.

However, this override all existing customization in infyom-generator-templates/ in my case I lost several change in  infyom-generator-templates/model/model.stub (fortunately I have a copy).

Now I move all m

[2020-08-07 16:28] mitulgolakiya commented on #887
support is already there. I just modified `table_header.stub` content to `<th>$FIELD_NAME_TITLE$ - $FIELD_NAME$</th>` and I can see the result as `<th>Title - title</th>`.

[2020-08-07 16:28] #887 closed

[2020-08-07 17:58] thewebartisan7 commented on #356
This would be good idea. Any update on this?

[2020-08-07 18:05] thewebartisan7 commented on #887
Sorry, I forgot to mention that work fine with table_header.stub
But when localized is enabled, the file table_header.stub $FIELD_NAME$ is translated string.
Example of output of $FIELD_NAME$:

`@lang('models/articles.fields.title')`

Also $FIELD_NAME_TITLE$ render:

`@lang('models/articles.fields.title')`

[2020-08-07 18:09] thewebartisan7 commented on #882
Thanks works perfectly now.

[2020-08-08 01:27] mitulgolakiya commented on #356
There is no update on this. We will think to add it soon.

[2020-08-09 04:20] thewebartisan7 commented on #887
@mitulgolakiya not sure if you get notification of my last comment since issue is closed

[2020-08-13 14:35] thewebartisan7 commented on #884
Searching inside code I see that there is an undocumented configuration `ignore_model_prefix` see https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Common/GeneratorConfig.php#L139

That allow to skip prefix for model.

I didn't yet tested but seem do exactly what I need.

In case this feature works I will update here. And then maybe you could add in docs.

[2020-08-18 12:50] Silviobramas opened #889 "Class 'InfyOm\Generator\Common\BaseRepository' not found"
after I updated laravel from 6.x to 7.0 I get the following error.

Class 'InfyOm\Generator\Common\BaseRepository' not found

That happens in all my repository files.
in the repositoryfile is written "use InfyOm\Generator\Common\BaseRepository;"
when I delete this line I get another error:

Symfony\Component\ErrorHandler\Error\FatalError
Class App\Repositories\VersandartRepository contains 1 abstr

[2020-08-19 02:03] #884 closed

[2020-08-19 12:47] mitulgolakiya commented on #889
@Silviobramas From Laravel 7, this has been published as a part of vendor publish. so you will be able to find a BaseRepository class into app/Repositories. so you should replace the use statement with that newly published BaseRepository.php path.

[2020-08-19 13:40] Silviobramas commented on #889
yes I did it

use App\Repositories\BaseRepository;

but there is another problem then:

Symfony\Component\ErrorHandler\Error\FatalError
Class App\Repositories\VersandartRepository contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (App\Repositories\BaseRepository::getFieldsSearchable)

[2020-08-19 13:56] mitulgolakiya commented on #889
Then as the error says, you will need to implement the missing abstract methods. I will suggest you check the generation of Version 7 in separate fresh project and then upgrade the same way.

[2020-08-19 14:03] Silviobramas commented on #889
i added
`
public function getFieldsSearchable()
    {
        return $this->fieldSearchable;
    }
`

Than I have the next error:
Call to undefined method App\Repositories\VersandartRepository::pushCriteria()

How can I update the "resources/infyom" folder? I can see that my templates are different to the github files. But the publish functions doesn't work.

[2020-08-19 17:15] thewebartisan7 commented on #801
I notice the same issue. This happen even with your Fields_Sample.json file, I just add a nullable validation.
Both empty validation or nullable, in database migration is not added.

[code]

Migration created:

[code]

[2020-08-19 17:23] thewebartisan7 commented on #801
Seem that "nullable" is added only when generate from database, searching for word "nullable" there is jut one place where nullable is added in migration,

$columns = $this->schemaManager->listTableColumns($tableName);

....

then

 $field->isNotNull = (bool) $column->getNotNull();

And then is check by this  $field->isNotNull and not by validation "nullable" rule.

[2020-08-20 09:03] Silviobramas commented on #889
Ok it works now.
You need to delete the ->pushCriteria line in each Controller

[2020-08-20 09:03] #889 closed

[2020-08-25 09:59] Silviobramas opened #890 "Relation with Repository"
In my older laravel version i could do something like that in my Controler:
`public function edit($id){
       $bestellung = $this->bestellungRepository
                            ->with('produkte')
                            ->find($id);
}
`
but after updating I get the error that the with methond can't be used. How do you sole it if you want to use eager loading?

[2020-08-26 08:43] thewebartisan7 commented on #887
@see https://github.com/InfyOmLabs/laravel-generator/pull/891
@mitulgolakiya

[2020-08-29 05:16] mitulgolakiya commented on #801
@monkeybanana550 I just tested it with the above file and it's working well and not giving any error while migration. Maybe you should check it with the latest version and it's already fixed.

If you are still facing the issue then re-open it with more details.

[2020-08-29 05:16] #801 closed

[2020-08-29 06:22] mitulgolakiya commented on #890
@Silviobramas Right now there is no way to do that. I think what you can do is, you can add one more method in `app/Repositories/BaseRepository` something like this,

[code]

Maybe that can help.

We are also planning some major releases in probably next month with Laravel 8 where we are planning to add `andersao/l5-repository` again to BaseRepository, but with more control. I'm also going to subm

[2020-08-29 06:22] #890 closed

[2020-09-01 05:42] thewebartisan7 commented on #801
Seem that is required to add

`"dbType": "string:nullable",`

in combinations with `"validations": "nullable"`

Otherwise will create issue explained above

[2020-09-03 03:26] amritms commented on #862
for future viewers:
make sure you have set primaryKey in your model if you have custom primary key. ```protected $primaryKey = '<custom primary key>';```

[2020-09-07 14:36] emmadedayo opened #894 "Where condition"
Hello everyone, please how i can i use where condition statement here
$foloCashouts = $this->foloCashoutRepository->all(
            $request->except(['skip', 'limit']),
            $request->get('skip'),
            $request->get('limit')
        );
and in general $foloCashouts = $this->foloCashoutRepository->where('condition','id'); is not working also I get this error Call to undefined method A

[2020-09-08 05:57] aydinbulut commented on #894
You should use allQuery() instead of all()

[2020-09-09 00:04] djdony opened #895 "Features request."
Hi, I like the generation of code, but have some opinions. Correct me if something wrong.

1. **Requests**:
Scaffolding creating 2 separate files for Update and Create in Model.
There is no difference as i see. My advice to make one request file. For update rules i write something like.
[code]
And i delete rules from model and write logic in request itself.

2. **BaseRepository**.
Did not find any

[2020-09-11 13:58] zkenstein opened #896 "Class notfound"
Hello,
I tried to installing the package following the documentation . But when artisan publish it return the error Class Not found for Flash and InfyOm. Anyone have this issue, I am running on Laravel 6.6.3

[2020-09-18 16:48] faizananwerali opened #898 "Is it compatible with laravel 8?"
Before I start new project, is this compatible with laravel 8? according to docs it's compatible with laravel 7 but no mention of laravel 8.

[2020-09-18 17:43] mitulgolakiya commented on #898
yes, doc is already there for Laravel 8, https://labs.infyom.com/laravelgenerator/docs/8.0/installation

[2020-09-18 17:43] #898 closed

[2020-09-27 20:34] genesiscz commented on #898
Could you make it work for both 7 and 8? I can't update because there's no release for this package so I use dev-develop. Would that break anything?

[2020-09-27 20:36] genesiscz commented on #898
EDIT: Disregard my previous question, I guess I can just use branch 7.0

[2020-10-09 13:54] cpasqualini opened #899 "Route [verification.notice] not defined."
Hi!

I've added `->middleware('verified')` to a route in `routes/web.php`, expecting to require a verified session

This works on another project with Laravel 7.x and LaravelGenerator 7, but in this brand new project, with laravel 8.x and laravelgenerator 8.x throws a `Route [verification.notice] not defined.` exception.

Now, I check'd [Release Notes 8.0](https://labs.infyom.com/laravelgenerator/

[2020-10-09 14:00] cpasqualini opened #900 "Laravel 8.x and API"
Hi!

Using Laravel 8.x with laravel-generator 8.0, the API throws a 500 error:

It gets working if change back suggested change in RouteServiceProvider.php as:

[code]

Thanks

[2020-10-09 14:32] cpasqualini commented on #899
Please nevermind the first part, it was an error mixing 'verified' (wrong) with -middleware('auth'), it seems this was insufficient caffeine issue ;-)

The Laravel 8.x compatibility stands though

[2020-10-09 20:20] cpasqualini opened #901 "Document --localized on installation#publish or make it a default"
Hi again

Please change the documentation on [infyom:publish](https://labs.infyom.com/laravelgenerator/docs/8.0/installation#publish) step, reflecting that if the project needs localization, must be executed with `--localized` as documented in [Advanced Options/Localization](https://labs.infyom.com/laravelgenerator/docs/8.0/localization)

An alert and a link I think will do the job.

(If you ask,

[2020-10-10 03:27] mitulgolakiya commented on #901
@cpasqualini added.

[2020-10-10 03:27] #901 closed

[2020-10-10 04:03] mitulgolakiya commented on #900
@cpasqualini Check out the new docs: https://labs.infyom.com/laravelgenerator/docs/8.0/installation#update-api-routes

Thanks for catching this up.

[2020-10-10 04:03] #900 closed

[2020-10-10 04:04] mitulgolakiya commented on #899
Great. Then closing it.

[2020-10-10 04:04] #899 closed

[2020-10-10 04:05] mitulgolakiya commented on #896
@zkenstein Laravel 6 has been used with lots of developers and nobody has this issue. If you still have an issue then re-open this issue with more details on what you are specifying into your compser.json.

Thanks.

[2020-10-10 04:05] #896 closed

[2020-10-10 04:06] mitulgolakiya commented on #894
@emmadedayo we are going to add repository support again. so this will work after that. Right now you can use the solution that @aydinbulut suggested.

[2020-10-10 04:06] #894 closed

[2020-10-10 11:48] cpasqualini commented on #901
Thanks Mitul

Yes, you added in [Run Publish Layout Command](https://labs.infyom.com/laravelgenerator/docs/8.0/publish-layout#publish-command)

But not in [Installation -> Publish](https://labs.infyom.com/laravelgenerator/docs/8.0/installation#publish)

May be is a misinterpretation, but I execute:

[code]
Note the --localized on both

Thanks!

[2020-10-10 12:12] cpasqualini commented on #900
No, it does not work:

`Illuminate\Contracts\Container\BindingResolutionException: Target class [App\Http\Controllers\API\App\Http\Controllers\API\ModelAPIController] does not exist. in file /path/to/vendor/laravel/framework/src/Illuminate/Container/Container.php on line 811`

[2020-10-10 12:38] mitulgolakiya commented on #900
can you past screenshot here? what you have written in RouteServiceProvider?

[2020-10-14 20:12] FreddyCrugger opened #902 "Support for Laravel 8?"
Hello,

Will you support laravel 8 soon please?

Thank you.

[2020-10-15 03:27] mitulgolakiya commented on #902
Laravel 8 is already supported. Check docs here. https://labs.infyom.com/laravelgenerator/docs/8.0/installation

[2020-10-15 03:27] #902 closed

[2020-10-15 12:09] Silviobramas opened #903 "change parameter before validating"
I want to change a parameter before validating.
in My Controller store function i have following code:
`
public function store(CreateLaborgeraetewartungRequest $request){
$input = $request->all();
$input['pruefer_id']=Auth::user()->id;
...
}
`

But before I get there. The program redirects back to the create route because the required parameter pruefer_id is missing.
Thta hapens because the progra

[2020-10-22 13:40] RayhanYulanda opened #904 "Call to a member function format() on null"
I got this error when i tried to login. Is it a bug? The error on app.blade.php:67

[2020-10-22 15:12] RayhanYulanda commented on #904
I found the problem. The problem is because my record auth user give null on created_at and updated_at

[2020-10-22 15:12] #904 closed

[2020-10-22 15:20] RayhanYulanda commented on #277
6. Add option false for request (because in small project doesn't need it)

BTW Thanks a lot for this awesome package!

[2020-10-23 12:32] lucasgrana opened #905 "API tests template factory call"
In the API test template (templates/api/test/api_test.stub), version 8.0, the factories are called the Laravel 7 way, e.g.:

$$MODEL_NAME_CAMEL$ = factory($MODEL_NAME$::class)->make()->toArray();
$edited$MODEL_NAME$ = factory($MODEL_NAME$::class)->make()->toArray();

I think it should be replaced by

$$MODEL_NAME_CAMEL$ = $MODEL_NAME$::factory()->make()->toArray();
$edited$MODEL_NAME$ = $MODEL_NAM

[2020-10-29 08:23] gcnu1 commented on #167
@mitulgolakiya bumping on this.... lets say in json, i added a new key with name `label` and passed some value for each field and i tried to customize above one with something like this
https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Generators/Scaffold/ViewGenerator.php#L384

i have replaced ` Str::title(str_replace('_', ' ', $field->name)),` with `Str::title($field->label),` how

[2020-10-29 12:07] Rasoul-Karimi opened #907 "repository"
in older version when i install infyom package, automatically install the repository package! but after version 7 why dont install repository package!?

[2020-10-31 04:17] mitulgolakiya commented on #907
We have published our own repository file to have more flexibility, but in the next version that we are planning with the compatibility of AdminLTE 3 and CoreUI 3, we are planning to add it back.

[2020-10-31 04:17] #907 closed

[2020-10-31 04:23] mitulgolakiya commented on #167
@abdullaheid that is handled over here: https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Common/CommandData.php#L130

From here, we are taking input, either from File or From Console Input or From Database.

[2020-10-31 04:24] mitulgolakiya commented on #167
But I like the idea, we can consider adding that functionality of Label

[2020-11-01 18:21] berteh opened #908 "how to add fields to model and "re"-scaffold ?"
Hello.
I love your generator tool, thanks a lot for the hard work.

I would like to add a few fields and relations to the current model (eg add some relations on your default  ``User`` model _after_ initial scaffolding: Roles, Picture, Title,...), and have the generated interfaces (admin, crud, api) update accordingly... but the current ``infyom:scaffold`` command does not (seem to) update the cur

[2020-11-11 03:42] RayhanYulanda opened #909 "Override controller infyom from my template controller"
Can i customize the controller from mine? I want to add such as `Gate::authorize('profile_read')` for permission. and how to add parameter?

[2020-11-11 03:46] RayhanYulanda commented on #522
If you want to ask about Generator GUI  Builder you should ask [here ](https://github.com/InfyOmLabs/generator-builder)

[2020-11-11 04:45] RayhanYulanda commented on #843
What datatable version do you used? Because there is big different from current version with old version. The current version not using button array anymore but using the button class

[2020-11-11 05:02] RayhanYulanda commented on #250
Please consider make permission feature and role @ajayinfyom

[2020-11-12 08:25] RayhanYulanda commented on #909
I have tried using `php artisan infyom.publish:templates` but after run it, it give an error
Fail! file_get_contents(D:\__Boilerplate\adminlte-generator-7.0-tes\vendor/infyomlabs/swagger-generator/templates/model_docs/model.stub): failed to open stream: No such file or directory

[2020-11-12 08:42] mitulgolakiya commented on #909
@RayhanYulanda you can publish templates and then make changes into templates based on your needs. Here you can find docs for that. https://labs.infyom.com/laravelgenerator/docs/8.0/publish-templates

[2020-11-12 08:45] mitulgolakiya commented on #843
@RayhanYulanda I think we previously tested it with Yajra Datatables 7.

[2020-11-12 09:56] RayhanYulanda commented on #909
Thanks! @mitulgolakiya

[2020-11-12 09:56] #909 closed

[2020-11-15 18:30] dhcmega opened #910 "Is it possible to publish the common.errors blades?"
Hi
I want to use this package with `--no-dev`, so they are not installed in production.
The only limitation is that the blades for errores are not installed so I get: No hint path defined for [adminlte-templates]

I solved it by copying them to views/vendor/adminlte-templates/ and then adding this line to my AppServiceProvider:
[code]

Is there a better/cleaner way?

Thanks!

[2020-11-20 11:39] mitulgolakiya commented on #910
The cleaner way will be, you publish templates and customize them to use your errors.blade.php.

I think the only templates you need to publish will be `create.stub` and `edit.stub`.

Where you can remove this line,

`@include('adminlte-templates::common.errors')`

And put a line to include your view. After doing this, whatever new CRUD you create, that will be created with your modified include s

[2020-11-20 11:39] #910 closed

[2020-11-20 11:42] mitulgolakiya commented on #908
Hi @berteh , current that is not a scope of generator to modify the existing models of files. The main goal of this tool is to generate CRUDs and give scaffolding to save the time. so all this stuff needs to be done manually. Because it's really hard to track what was changed and what needs to be skip while creating a new model.

[2020-11-20 11:42] #908 closed

[2020-11-20 12:10] mitulgolakiya commented on #905
Just pushed the update.

[2020-11-20 12:10] #905 closed

[2020-11-20 12:11] mitulgolakiya commented on #903
I think this is kind of out of scope question from generator. Maybe you need to customize the code after generation if you have that kind of custom requirements.

[2020-11-20 12:11] #903 closed

[2020-11-20 12:16] mitulgolakiya commented on #888
@thewebartisan7 I am not able to get the issue properly.

`This move all templates/scaffold of my custom theme inside resources/infyom/infyom-generator-templates/scaffold and that is fine.`

This will copy `vendor/infyomlabs/laravel-generator/templates` to `resources/infyom/infyom-generator-templates/scaffold`.

How it will copy your custom theme templates to resources folder?

And when you again

[2020-11-20 12:21] mitulgolakiya commented on #865
@thewebartisan7 @ajayinfyom can someone tell me why we need this exactly? Because we have validation rules in the Custom Request file. so if validations are not passed then it will not reach the controller at all.

So can anyone highlight here why this is needed? Because IMO, this change forces us to add rule `nullable` for all the fields, otherwise as said, it will not return that input field.

F

[2020-11-20 12:21] #865 closed

[2020-11-20 12:56] mitulgolakiya commented on #887
@thewebartisan7 PR merged. Thanks for your effort 👍

[2020-11-20 17:56] thewebartisan7 commented on #865
@mitulgolakiya the `validated()` method will not validate again the request but will return only validated fields, while `request()->all()` will return all.

As you know a mass assignment is secure *only* when you correctly set `$fillable` and `$guarded`, which is pretty fine way to prevent unwanted assignaments.

Another example could be that you have set `$fillable` or `$guarded` but there are t

[2020-11-20 18:07] thewebartisan7 commented on #888
There are stubs files for theme (views) and there are stubs files for controllers, models, etc. Themes files are separated in package for allow multiple themes, but not controllers, models, etc.

When I said to allow publish all stubs files, I mean to keep also controllers, models, and other stubs.

Of course I use Git to track changes, we are in 2020 :)

If I remember correctly each times I publi

[2020-11-21 06:22] RayhanYulanda opened #911 "Fail! file_get_contents(D:\Tes\__Boilerplate\Infyom-AdminLTE\resources\views/admin/layouts/admin/menu.blade.php): failed to open stream: No such file or directory"
I tried to set prefix to my layouts but it sent different path. I got an error `Fail! file_get_contents(D:\Tes\__Boilerplate\Infyom-AdminLTE\resources\views/admin/layouts/admin/menu.blade.php): failed to open stream: No such file or directory`

I need to put my layouts to /resources/views/layout/admin/

[code]

[2020-11-21 08:52] RayhanYulanda opened #912 "Feature Request"
It would be nice if generator builder GUI has
- Route add middleware auth
- Select connect to model
- Multiple select and connect to model

[2020-11-21 11:13] RayhanYulanda opened #913 "Auth::user given null"
I've tried put middleware web and auth but still didn't work
[code]

[2020-11-24 10:11] Sanjeev-Singla opened #914 "php artisan infyom:rollback $MODEL_NAME$ $COMMAND_TYPE"
This command is not working properly. Givin error file_get_contents(C:\xampp\htdocs\laravel-infyom\resources\views/layouts.menu.blade.php): failed to open stream: No such file or directory

Which is not creating menu in layouts/menu.blade.php, so we did changes in /vendor/infyomlabs/laravel-generator/src/Common/GeneratorConfig.php at line :542 to $this->addOns['menu.menu_file'] = config('infyom.la

[2020-11-28 07:21] vishalinfyom commented on #914
Hello @Sanjeev-Singla

we have just tested it and its working fine for us.

![image](https://user-images.githubusercontent.com/33887755/100496195-3762f200-3178-11eb-9f67-9e872e76f03c.png)

may be you have did custom changes, that's why its not working

[2020-11-28 07:21] #914 closed

[2020-11-28 07:23] vishalinfyom commented on #913
Hello @RayhanYulanda

Please make sure you have logged in, because Auth::user() only returns null when user is not logged in.

[2020-11-28 07:23] #913 closed

[2020-12-04 00:22] C0kkie opened #918 "Add php 8 support"
Hello,

is it possible to add support for php 8?

[2020-12-04 18:42] mitulgolakiya commented on #918
@C0kkie have you tried this package with PHP 8? Are you facing any error in installation or CRUD generation with PHP 8?

[2020-12-04 18:47] C0kkie commented on #918
If i want to update my packages with composer i get

  Problem 1
    - Root composer.json requires infyomlabs/adminlte-templates 8.0.x-dev -> satisfiable by infyomlabs/adminlte-templates[8.0.x-dev].
    - infyomlabs/adminlte-templates 8.0.x-dev requires php ^7.3 -> your php version (8.0.0) does not satisfy that requirement.
  Problem 2
    - Root composer.json requires infyomlabs/laravel-generator

[2020-12-04 18:48] C0kkie commented on #918
@mitulgolakiya

[2020-12-05 04:54] valoma opened #919 "Test cases with scaffold"
Hi,

Is there a way to generate test cases without generating the api? I am using only scaffold with the repository pattern.

[2020-12-05 15:16] lorvent commented on #918
a solution like https://github.com/laravel/laravel/blob/develop/composer.json#L11 could help.

[2020-12-05 15:18] C0kkie commented on #918
yep should be enough

[2020-12-05 16:06] C0kkie commented on #918
https://github.com/InfyOmLabs/laravel-generator/pull/920 @mitulgolakiya

[2020-12-05 16:08] C0kkie commented on #918
Also https://github.com/InfyOmLabs/adminlte-templates/pull/63

[2020-12-10 19:18] wikiccu opened #922 "Translation for persian language farsi"
Hello
I would ask you is there any plan for translation to the Persian/farsi language
is it ok if I send a new language and translation files for this project?

[2020-12-12 04:45] mitulgolakiya commented on #922
@wikiccu you're most welcome to do that. We use .md files that we have internally, but you send us a readme file for that and we can plan for the translations.

[2020-12-12 09:10] wikiccu commented on #922
Thank you, dear @mitulgolakiya
I was about sending translation for locale/en files and if there are documentation files such as :
Readme.MD or other MD files I can translate them to Persian too.
I'll send my PR for it as soon as possible

[2020-12-16 04:12] mitulgolakiya commented on #918
PHP 8 Support added.

[2020-12-16 04:12] #918 closed

[2020-12-17 12:31] Tetrafarmakos opened #925 "Date value initialisation in edit form"
The date field in edit form does not get the selected FORMAT.
The create works fine, but in the format: 'DD-MM-YYYY' a 08-12-2020 date appears as 20-12-2008 in edit form.

[2021-01-06 00:40] noud opened #929 "[Feature]: API-Platform client-generator"
**Description**

Generate React/Redux client against an InfyOm Laravel Generator API end-point.
Still generate against an API-Platform API end-point.
And sanitize front end urls.

InfyOm Laravel Generator API end-points are (plain) JSON Swagger,
no JSON-LD no Hydra.

(todo: React Native against an InfyOm Laravel Generator API end-point.)

I like input on this all, so this issue, and will move to a

[2021-01-06 00:55] phillipmadsen opened #930 "Feature request"
Make the swagger prefix configurable in the config.

[code]
If we make it configurable it can tie into other already made systems easier. For instance I use this:
[code]

[2021-01-06 17:40] mitulgolakiya commented on #930
We are planning to move it to OpenAPI Spec 3 and will try to stick to it.

It has been discussed here. https://github.com/InfyOmLabs/swagger-generator/issues/5

We are planning to get it released by next week.

[2021-01-06 17:40] #930 closed, assigned to nobody

[2021-01-07 01:56] mitulgolakiya commented on #929
@noud I'm not react expert, so not can give comments here. I will keep this issue open for few days if someone shares his/her feedback.

[2021-01-07 06:06] noud commented on #929
@mitulgolakiya  as you see at https://github.com/api-platform/client-generator it gives multiple client types:
- Quasar Framework
- Next.js
- React/Redux
- React Native
- TypeScript Interfaces
- Vue.js
- Vuetify.js

React/Redux was my pick for a 'proof of concept'.

[2021-01-08 04:23] bitsjuanleal opened #931 "Email template, no such file or directory"
error when running
`php artisan infyom.publish:layout`

Error:
`\vendor/infyomlabs/adminlte-templates/templates/scaffold/auth/email.stub): failed to open stream: No such file or directory`

With package:
`"infyomlabs/adminlte-templates": "^2.0"`

I also get an error to reset, password and verify templates.

only works with the package:
`"infyomlabs/adminlte-templates": "^1.0"`

[2021-01-08 12:55] mitulgolakiya commented on #931
@bitsjuanleal Can you let us know which version of generator you are using?

Also the commit hash of laravel-generator from your compsoer.lock file?

[2021-01-08 13:00] mitulgolakiya commented on #919
@valoma Generator generates test cases for APIs and for repositories only. It doesn't generate test cases for scaffolds. so it doesn't make sense to generate test cases without generating APIs.

Can you share a practical use case over here, why you need test cases without API?

[2021-01-08 14:51] rcarvs commented on #931
Hi @mitulgolakiya
The same problem happens with me too. I'm using the version: 8.0.x-dev. A more detailed trace from error:

` ErrorException

  copy(/var/www/vendor/infyomlabs/adminlte-templates/templates/scaffold/auth/email_locale.stub): failed to open stream: No such file or directory

  at vendor/infyomlabs/laravel-generator/src/Commands/Publish/PublishBaseCommand.php:20
     16▕         if (f

[2021-01-08 15:31] bitsjuanleal commented on #931
Hi @mitulgolakiya

I'm using the version 8.0.x-dev in composer.json:
`"infyomlabs/laravel-generator": "8.0.x-dev"
![image](https://user-images.githubusercontent.com/43354754/104032792-acc0da00-519c-11eb-95f6-3cbef6c40757.png)

it is the same version that I have in the composer.lock file
![image](https://user-images.githubusercontent.com/43354754/104032622-666b7b00-519c-11eb-8f53-a15af756444f.png)

[2021-01-09 11:38] rabol opened #932 "adding prefix in the config file produces wrong route in routes.php"
config have

[code]

then the generated route in routes/web.php look like this:

[code]

notice the double Admin

[2021-01-09 14:02] RayhanYulanda commented on #911
Sorry, that problem because of the file not exist. If you have same issue, check again the menu file

[2021-01-09 14:02] #911 closed

[2021-01-09 17:27] mitulgolakiya commented on #931
I just pushed a fix in 8.0 branch. Check it again @bitsjuanleal @rcarvs

[2021-01-09 17:27] #931 closed, assigned to nobody

[2021-01-11 04:52] bappi2097 opened #933 "Document"
I am recently working on Infyom and when I reading your documentation I have seen this
" Support for all Laravel versions 5.5, 5.6, 5.7, 5.8, 6.0 & 7.0"
So, my question is, is there no support for Laravel 8? Or document has not updated yet.

[2021-01-11 05:43] mitulgolakiya commented on #933
It supports 8.0. we will fix it soon. Good catch.

[2021-01-13 13:25] romanstingler opened #934 "wrong indentation in blade"
in the blade views there are some wrong indentations.

https://ibb.co/jLZB0Rq
https://ibb.co/HXSmLKW

[2021-01-13 17:00] romanstingler opened #935 "use imports instead of FNQ"
https://ibb.co/58p27ZZ

[2021-01-14 10:27] romanstingler opened #936 "remove external scrips and css"
don't use external resources
include them and load them with laravel mix and call them locally
[code]

[2021-01-14 11:13] romanstingler opened #937 "float, decimal DB datatype shouldn't result in numeric html5 field"

[2021-01-14 11:14] #937 closed, assigned to nobody

[2021-01-15 09:15] romanstingler opened #938 "[BUG]: change getColumns to be able to work with Relations with underscore DT"
due to bugs

https://github.com/yajra/laravel-datatables/issues/2324
https://github.com/yajra/laravel-datatables-html/pull/123

due to code in
`HasColumns.php`
[code]
the default template doesn't work

[code]

the working solution is to change the returned array and the working function looks like

[code]

so the key is used for the title due to this line
`$this->setTitle($key, $value)`

[2021-01-17 22:13] rebootcode opened #939 "Generate from Table v8.0 missing?"
I could not find https://labs.infyom.com/laravelgenerator/docs/5.8/generator-options#generate-from-table

above option in https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-commands

Thanks

[2021-01-17 22:20] rebootcode commented on #939
Found it - https://www.infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#datatables

[2021-01-17 22:20] #939 closed, assigned to nobody

[2021-01-20 14:01] rebootcode opened #940 "empty `layouts/datatables_css.blade.php` & `layouts/datatables_js.blade.php`"
While running the below command:

[code]

Both the files are empty `layouts/datatables_css.blade.php` & `layouts/datatables_js.blade.php`

Composer.json `require`

[code]

**Edit: I found this issue only in stisla templates.**

[2021-01-24 18:25] rebootcode opened #941 "Multiple Delete Option"
We don't have multiple delete option.

Is it possible to have this feature or can be done using any tweak?

[2021-01-25 04:59] fadymondy commented on #539
@alamin209  Thanks bro it's work fine now.

[2021-01-26 05:22] mitulgolakiya commented on #941
@rebootcode you can publish the templates and then customize controller, route, and repository if needed and add a function for multiple delete options. Find a doc here: https://www.infyom.com/open-source/laravelgenerator/docs/8.0/publish-templates

[2021-01-26 05:22] #941 closed, assigned to nobody

[2021-01-26 05:26] rebootcode commented on #941
RIdiculously answered and doesn't make sense.

[2021-01-26 06:17] mitulgolakiya commented on #941
@rebootcode Read the docs properly and then try to understand how the generator actually works with templates, then it will make sense.

And show some respect to the author who is answering your question here for free and built this whole tool for free to be used. This needs a huge amount of investment of time.
The above comment should have a better way to be made even if it doesn't make sense.

[2021-01-28 03:22] #922 closed

[2021-01-28 09:32] BurningDog opened #945 "Many issues with the generator"
Hi! Firstly, thanks for making an awesome product! I'm finding it quite useful and have recommended it to others.

That said, I found many issues in normal usage when following the installation and usage documentation at https://www.infyom.com/open-source/laravelgenerator/docs/8.0/ which seem to be major bugs. I could list each of these as a new issue on GitHub, but I didn't want to overwhelm the

[2021-02-22 17:15] MrOldham101 opened #946 "Datatables index page seems to be broken"
When scaffolding a new resource either using an existing table, a new table or the GUI (beta) with the datatables option set to true, the produced index view does not seem to load any data. The table renders properly along with any name adjustments however there are no rows listed ( even though there are clearly rows in the database ). I have looked at the back end code and compared it to the yajr

[2021-02-24 16:37] tecnoe opened #947 "Extending Generator"
How can I extend to add my own generator?

[2021-02-25 11:50] MrOldham101 opened #948 "Missing Option In Config Documentation"
There is no documentation on the resources option within the config file. The default value is false however if this is talking about resource routes then I wish to enable it however do not know what effect this will have on my application

[2021-03-16 14:13] aymanalhattami opened #949 "Datatables does not work with Infyom in laravel 8"
Datatables does not work with Infyom. I use laravel 8, and I followed these links to install datatables with laravel and infyom

https://www.infyom.com/open-source/laravelgenerator/docs/8.0/generator-options
https://www.infyom.com/blog/how-to-use-datatables-in-infyom-laravel-generator
https://github.com/yajra/laravel-datatables
https://github.com/yajra/laravel-datatables-buttons
https://github.com

[2021-03-17 07:41] mitulgolakiya commented on #949
What is the exact problem or error that you are facing?

[2021-03-17 07:43] aymanalhattami commented on #949
I found the solution
It was in the table.blade.php

use
[code]

instead of
[code]

[2021-03-17 07:44] #949 closed, assigned to nobody

[2021-03-17 15:55] anirudha2143 commented on #949
Create the new database from the scratch 👍🏻

On Wed, 17 Mar 2021, 1:14 pm aymen mohammed, ***@***.***>
wrote:

[2021-03-17 15:56] anirudha2143 commented on #949
I think it will do

On Wed, 17 Mar 2021, 9:24 pm Anirudha Kulkarni, ***@***.***>
wrote:

[2021-03-19 18:25] cawecoy opened #950 "Is laravel-generator 8.0.x-dev not actually available for Laravel 6 and 7?"
Hi!

[Laravel Generator 8.0 docs says it has "Support for all Laravel versions 6.0, 7.0 & 8.0"](https://www.infyom.com/open-source/laravelgenerator/docs/8.0/introduction), but I can't install it via composer in my Laravel 6 app because `infyomlabs/laravel-generator 8.0.x-dev requires illuminate/support ^8.0 ->  satisfiable by laravel/framework[8.x-dev]`.

So, I guess laravel-generator 8.0.x-dev is

[2021-03-20 00:50] samraskul opened #951 "wrong routing with prefix"
when I run this command:

`php artisan infyom:scaffold Category --prefix=admin --fieldsFile=infyom\Category.json
`
in web.php you will see this route:
`Route::resource('categories', App\Http\Controllers\Admin\Admin\CategoryController::class, ["as" => 'admin']);
`
but it should be:
`Route::resource('categories', App\Http\Controllers\Admin\CategoryController::class, ["as" => 'admin']);
`
so remove o

[2021-03-23 06:27] findridoy opened #953 "Why generator generates table id with integer? Where laravel defaults uses Big integer."
I was facing a problem using this code:

$table->forerignId('market_id')->constrained();

This gives me error. coz laravel assume that my market table id is big integer but infyom generated table with integer.

[2021-03-25 13:49] benmaynardemc commented on #946
I have this same issue and have been banging my head against it for a couple of days, did you find a solution?

[2021-03-25 17:50] mlajx commented on #946
I think I found out why this is happening.

When a file is generated by the infyom command, `resources/views/{name}/table.blade.php` is created and there are:

[code]

but `@push` is used for `@stack` ([doc](https://laravel.com/docs/8.x/blade#stacks)) and `resources/views/templates/app.blade.php` has `@yield('third_party_scripts')`.

So when I change `@yield('third_party_scripts')` to `@stack('thi

[2021-03-28 22:56] NGERERI opened #954 "404 Not Found"
I have this error when i finish installation does not show any page may i help me please and am using laravel 8.

[2021-04-02 11:23] vishalinfyom commented on #954
Hello @NGERERI will you please share the error screenshot with us.

[2021-04-02 11:24] vishalinfyom commented on #953
Hello @findridoy right now we are generating ids as an integer as per laravel previous versions. we will consider your feedback and try to make the id to big int if possible.

Thanks

[2021-04-02 11:41] vishalinfyom commented on #951
Hello @samraskul

we are using that prefix for views/controllers and etc. so right not its not possible to do that change, as lots of other users are also using that option.

Thanks

[2021-04-02 11:41] #951 closed, assigned to nobody

[2021-04-02 11:43] vishalinfyom commented on #950
Hello @cawecoy

As you are using laravel 6, you have to use related version of infyom generator. here you can find all guide for laravel 6 version installation.

https://infyom.com/open-source/laravelgenerator/docs/6.0/installation

Hope this helps.

[2021-04-02 11:43] #950 closed, assigned to nobody

[2021-04-02 11:45] vishalinfyom commented on #948
hello, @MrOldham101 we have provided all the documentation here, as it's not a good habit to add documentation in code.

Resources option is for API resources: https://laravel.com/docs/8.x/eloquent-resources.

Hope this helps.

Thanks

[2021-04-02 11:45] #948 closed, assigned to nobody

[2021-04-02 11:47] vishalinfyom commented on #947
Hello @tecnoe for that you have to fork our repo, and need to do related changes into your forked repo.

This tutorial helps you to do that : https://medium.com/swlh/using-your-own-forks-with-composer-699358db05d9

Thanks

[2021-04-02 11:47] #947 closed, assigned to vishalinfyom

[2021-04-02 11:49] vishalinfyom commented on #946
Hello @mlajx we will look into this issue.

[2021-04-02 12:07] vishalinfyom commented on #946
Hello @mlajx we just fixed the issue and pushed on dev.

Thanks

[2021-04-02 12:07] #946 closed, assigned to vishalinfyom

[2021-04-05 04:38] vishalinfyom commented on #940
ok @rebootcode will look into this issue and fix it if it exists.

Thanks for reporting.

[2021-04-05 06:57] vishalinfyom commented on #940
Hii @rebootcode

We have checked and it's empty for purpose, as in the future we are going to add data table listing support, at that time we will write related code into these files.

Thanks for reporting.

We are closing this issue as of now.

[2021-04-05 06:57] #940 closed, assigned to vishalinfyom

[2021-04-05 07:01] vishalinfyom commented on #935
Hello @romanstingler will you please provide more details on this.

[2021-04-05 12:28] vishalinfyom commented on #933
Hello @bappi2097 we have added documentation for laravel 8 too

Here you go : https://infyom.com/open-source/laravelgenerator/docs/8.0/introduction

Thanks

[2021-04-05 12:28] #933 closed, assigned to nobody

[2021-04-05 12:29] vishalinfyom commented on #932
Hello @rabol will look into this.

Thanks for reporting

[2021-04-11 15:39] jmllubes opened #956 "Missing required parameter for [Route: $tablename.destroy]"
Hello I tried several times with fresh install and when I generate models from tables I can't access in any url from models , it prints this error:
 Illuminate\Routing\Exceptions\UrlGenerationException
Missing required parameter for [Route: usuaris.destroy] [URI: usuaris/{usuari}] [Missing parameter: usuari]. (View: C:\xampp\htdocs\laravelbiblioteca\resources\views\usuaris\table.blade.php)

But I

[2021-04-12 14:19] xolee opened #957 "How to get the document source code？"
I want to fork to my github and translate it into Chinese.

[2021-04-13 11:17] vishalinfyom commented on #956
Hello,

Which laravel version you are using ?

[2021-04-13 14:01] jmllubes commented on #956
Im using 8.x but I found the problem, I was generating models from tables and it makes id field as a primary key, so I was to make custom primary key to fix that.

[2021-04-13 14:02] #956 closed, assigned to vishalinfyom

[2021-04-22 06:36] vishalinfyom commented on #957
Hello @xolee this will help you.

https://docs.github.com/en/github/getting-started-with-github/fork-a-repo

Thanks

[2021-04-22 06:36] #957 closed, assigned to vishalinfyom

[2021-04-22 16:34] burotica49 opened #958 "Datatable no show table"
Hello,

I have tried several times to make the CRUD file with datatables work. The data is saved in the table but when displaying the page, the table remains empty.

I have successfully installed Button plugin and HTML Plugin

Installation by AdminLTE Template / PHP 7.4.16

Best regard

[2021-05-06 05:01] RayhanYulanda opened #959 "Parameter on GUI builder"
How can i get txtpaginate on GUI builder to infyom-generator-templates? Can i just add $paginate$?
Or where can i see the variable that can i take for the template?

[2021-05-08 20:46] PmGs1 opened #960 "Unknown database type _text requested, Doctrine\DBAL\Platforms\PostgreSQL94Platform"
Hello,
Thanks for this package that seems to have good functionalities.
I use it for the first time today and got the error
Unknown database type _text requested, Doctrine\DBAL\Platforms\PostgreSQL94Platform
wtth this cde  : php artisan infyom:scaffold User --fromTable --tableName=users
For information : OS Debian 10 , Postgresql 11.11
Don't think I found a bug as it's my first simple usage, it's

[2021-05-09 07:59] PmGs1 commented on #960
I had an old version of postgres (9.6) running on standard port 5432, I forgot than my new one runs on port 5433.

[2021-05-09 07:59] #960 closed, assigned to nobody

[2021-05-22 15:37] blite commented on #900
likely your generated route was like
[code]
change it to
[code]

[2021-05-27 03:48] RayhanYulanda opened #961 "Upgrade from laravel 7 to laravel 8"
Is there any guide for upgrade?

[2021-05-27 04:58] mitulgolakiya commented on #961
@RayhanYulanda generator does not intend to provide an upgrade of laravel apps. You need to upgrade your laravel application to version 8 and then use Laravel Generator's 8.0 branch to generate new CRUDs.

[2021-05-27 04:58] #961 closed, assigned to nobody

[2021-05-31 04:41] RayhanYulanda commented on #961
Oke, thanks a lot! @mitulgolakiya

[2021-05-31 05:32] #954 closed, assigned to vishalinfyom

[2021-05-31 05:33] #935 closed, assigned to vishalinfyom

[2021-06-03 01:39] sbn111 opened #962 "Edit not working in generated api"
Hi sir,

I was generated api using **php artisan infyom:api member** command.

And the command successfull. Add, delete, get and list is working properly.

But edit is not working. Kindly help to solve the issue and let me know if I done anything wrong.

I am using laravel version 7 and infyom laravel generator version 7.

I tried it in postman, Received the following error, I created api with onl

[2021-06-03 01:52] shailesh-ladumor commented on #962
@sbn111 i think you trying with form data. Please try with row and pass json in put request from postman. See example here https://images.app.goo.gl/DF2YZQ4eKWZbYaPK7

[2021-06-03 02:56] sbn111 commented on #962
Thank you it worked. Really appreciate your quick response. I starting to see your youtube videos

[2021-06-03 03:49] #962 closed, assigned to nobody

[2021-06-04 06:53] mitulgolakiya commented on #958
@burotica49 if it's still not resolved, I will recommend watching this video and hopefully, it should be resolved.

https://www.youtube.com/watch?v=YC0YXrAF4SA

[2021-06-04 06:53] #958 closed, assigned to ShaileshInfyom

[2021-06-05 06:38] #953 closed, assigned to vishalinfyom

[2021-06-07 10:54] RayhanYulanda opened #964 "[Feature] Generate seeder and faker on GUI"
I need to make seeder and faker when i generate the crud and i didnt get any idea where should i change it in config. Can you help me?

[2021-06-08 10:51] RayhanYulanda commented on #774
Can i use selectTable in schema file?

[2021-06-08 10:56] RayhanYulanda commented on #731
@aydinbulut can i use "selectTable" in schema file?

[2021-06-11 04:29] mitulgolakiya commented on #774
@RayhanYulanda I think yes.

[2021-06-11 05:46] ShaileshInfyom commented on #934
Ref: https://github.com/InfyOmLabs/adminlte-templates/pull/70

[2021-06-11 08:08] mitulgolakiya commented on #731
@RayhanYulanda yes

[2021-06-14 15:07] jadavpalak opened #965 "Sub Menu"
How to add Sub Menu?
I wan to add  "sub category" as submenu of "category"

- category
             - sub category

[2021-06-15 09:08] ShaileshInfyom commented on #965
@jadavpalak see example here https://github.com/InfyOmLabs/infy-tracker/blob/develop/resources/views/layouts/menu.blade.php#L62

[2021-06-15 09:08] #965 closed, assigned to ShaileshInfyom

[2021-06-16 04:09] mitulgolakiya commented on #936
In the very next version we are going to totally remove layout and auth files from laravel generator and instead of that, we will be utilizing laravel fortify. If you quickly want to do that, I will suggest using the https://github.com/InfyOmLabs/laravel-ui-coreui package.
After generating scaffold you may need to generate auth scaffold via https://github.com/InfyOmLabs/laravel-ui-coreui steps and

[2021-06-16 04:09] #936 closed, assigned to ShaileshInfyom

[2021-06-19 19:00] aneetkukreja1 opened #966 "[Enhancement]: Unit test has issue if unique rule used in model"
General unique rule syntax is unique:table, but it creates issue in update request to ignore current model.
Currently it works if unique rule is defined as unique:table,fieldName but it should also work as unique:table only.

[2021-06-22 16:08] Dri372 opened #967 "Datatable does not show row"
I installed Infyom on Laravel 8 and try to use datatable
folowing this link https://www.youtube.com/watch?v=YC0YXrAF4SA

I am able to create data, but I see **no row** and my page is not like the example
        ◦ No searsch button
        ◦ No buttons (Create, Export, …) below Articles in the upper left
        ◦ No msg : « No data available »

I put  my example here but it should be good if so c

[2021-06-22 20:03] Dri372 commented on #967
I read more in detail this post and the solution in it.
https://github.com/InfyOmLabs/laravel-generator/issues/843
I forgot to publish datatable add_on html & buttons

[2021-06-22 20:03] #967 closed, assigned to nobody

[2021-06-23 06:34] Dri372 opened #968 "Datatable - No buttons "Create, Export,..." at upper left"
I just wonder if it's normal that there is no button "Create, Export, ..." on the upper left as displayed in this example https://www.youtube.com/watch?v=YC0YXrAF4SA which I followed.

I use Laravel8

Is there any place where we can find a working example that can serve as reference?

[2021-06-23 14:26] Dri372 opened #969 "Datatable - strange behaviour"
I setup Laravel 8 + Larvavel-Generator + Yajradatable

Without seting updating confg/infoyom/laravel-generator.php ( ie having the parameter add_on / datatables to false).

The command : `php artisan infyom:scaffold Es1 --fromTable --tableName=es1`  conducts to a working page

The command : `php artisan infyom:scaffold Es1 --fromTable --tableName=es1 --datatables=true `  conducts to a not working

[2021-07-01 08:36] Dri372 commented on #969
- the first command works but it's not a 'datatable'
 - second command does not work for the same cause as the previous post #968

[2021-07-01 08:37] #969 closed, assigned to nobody

[2021-07-01 08:42] Dri372 commented on #968
I forgot this command : php artisan vendor:publish --tag=datatables-buttons

That said I don't undertand why I did not see any error when I did my first trial, and today, no pb I saw this error "Erreur Uncaught Cannot extend unknown button type: create" that conducts me to the solution.

[2021-07-01 08:42] #968 closed, assigned to nobody

[2021-07-03 22:32] Dri372 opened #971 "Datatable action buttons bug"
Laravel 8

**Action buttons are not displayed.**

    • In resources/views/es1s/datatables_actions.blade.php, for instance for Edit button
        ◦ `<i class="glyphicon glyphicon-eye-open"></i>	`	icon not found

**Solution**
        ◦ <i class="far fa-eye"></i>
            ▪ Use font Awesome as view without datatable option
        ◦ Or in layouts/datatables_css.blade.php
[code]

[2021-07-05 21:35] Dri372 opened #972 "DataTable - Search by Column"
Hi All,

I did not find any option to generate a DataTable with "Search Column".

Does anybody know if is possible? If not I'm looking advice how to add this (which part of code to modify?)

Thank in advance.

[2021-07-07 05:55] #754 closed

[2021-07-07 05:57] mitulgolakiya commented on #754
Here is the documentation for this: https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#file-creation--deletion-events

[2021-07-07 09:42] vishalinfyom commented on #959
Hii,

please note that right now we are supporting the pagination on normal views only,

As data tables views are itself coming with pagination.

You can get more info at here : https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#paginate-records

Thanks

[2021-07-07 09:42] #959 closed, assigned to vishalinfyom

[2021-07-07 10:01] vishalinfyom commented on #932
Hii @rabol thanks for reporting this issue, we have resolved it and merged.

[2021-07-07 10:01] #932 closed, assigned to vishalinfyom

[2021-07-09 06:49] RayhanYulanda commented on #964
https://github.com/InfyOmLabs/laravel-generator/issues/912

[2021-07-24 11:17] vishalinfyom commented on #971
Hii,

We already have fixed that issue into our latest release of admin LTE templates.
Here : https://github.com/InfyOmLabs/adminlte-templates/commit/7d909f4f558bea332fa50bdb44e9a740bd24f624

Thanks

[2021-07-24 11:17] #971 closed, assigned to nobody

[2021-07-24 11:42] vishalinfyom commented on #966
Hii @aneetkukreja1 ,

We have write sample unite tests, that are not using $rules, so it will run fine.

Still, let us know the exact steps, so we can produce it.

Thanks

[2021-07-28 05:24] #934 closed, assigned to ShaileshInfyom

[2021-07-28 05:29] mitulgolakiya commented on #850
We do no longer support 5.8

[2021-07-28 05:29] #850 closed

[2021-07-28 05:29] #919 closed

[2021-07-28 05:30] #840 closed

[2021-07-29 06:52] vishalinfyom commented on #964
@RayhanYulanda you can use this option to generate seeder : https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#generate-seeder

And use this option to generate factory : https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#generate-factory

Hope it helps :)

[2021-07-29 06:54] #964 closed, assigned to nobody

[2021-07-29 06:59] vishalinfyom commented on #480
@chriscalip Support added :

https://github.com/InfyOmLabs/laravel-generator/issues/964#issuecomment-888851391

[2021-07-29 06:59] #480 closed

[2021-07-29 07:06] vishalinfyom commented on #92
@vesper8 Support added : https://infyom.com/open-source/laravelgenerator/docs/8.0/publish-templates#publish-templates

Thanks

[2021-07-29 07:06] #92 closed

[2021-07-29 07:10] vishalinfyom commented on #50
Hii @NightZpy we have added the support for data tables with javascript

https://infyom.com/open-source/laravelgenerator/docs/8.0/stisla-templates#stisla-templates-with-jquery-datatables

[2021-07-29 07:15] vishalinfyom commented on #461
Hello @phillipmadsen

Given issue is fixed here : https://github.com/InfyOmLabs/laravel-generator/commit/d16ea348da40698ebae25e6b1b366899e54faa6f

[2021-07-29 07:15] #461 closed

[2021-08-03 20:30] Dri372 commented on #972
How I did it (with a little modification in yajra/datables-html/builler - see Step 5)

 - 0-https://datatables.net/examples/api/multi_filter.html
        ◦ reference example
- 1-php artisan infyom.publish:templates
- 2-resources/infyom/infyom-generator-templates/scaffold/views/datatable_body.stub
[code]

- 3  config/datatables-html.php

[code]

- 4 resources/views/layouts/script.blade.php
[code]
-

[2021-08-05 16:07] Dri372 opened #975 "[Feature]: DataTable - Diplay/Hide Columns"
When out table has many columns, it is useful to let the user be able to hide/display columns.
The following code is used to show a line of checkboxes on the top of the table in order to choose the columns to be displayed/hidden. it uses the visible property of datatable columns ([hidden_columns](https://datatables.net/examples/basic_init/hidden_columns.html))

1 - resources/infyom/infyom-generato

[2021-08-08 19:55] Dri372 opened #976 "DataTable - Right align columns with numeric value"
Hi All,

From this [Doc](https://yajrabox.com/docs/laravel-datatables/master/html-builder-column) we have to use the 'render' parameter but I did not find how to to it with the generator?
Anyone has an idea?

Thanks in advance;

[2021-08-10 20:55] Dri372 commented on #976
in app/DataTables/Your_modelDataTable.php , in the function getColums, change the field defintion

change 'your_field' to

`'your_field'=>['render'=>'function(){return "<div style=\"text-align:right;\">"+data+"<\div>"}'],`

[2021-08-10 20:56] Dri372 commented on #976
in app/DataTables/Your_modelDataTable.php , in the function getColums, change the field defintion

change 'your_field' to

'your_field'=>['render'=>'function(){return "<div style=\"text-align:right;\">"+data+"<\div>"}'],

[2021-08-10 20:56] #976 closed, assigned to nobody

[2021-08-11 06:48] Dri372 opened #977 "[Feature]: Generate DataTable from a sql view rather than a table"
◦  Not directly passible (2021-08-11)
        ◦ Easy to do
            ▪ CREATE TABLE tv AS SELECT * FROM v;
            ▪ Scafold from this generated table tv
            ▪ Replace the name of this tbale tv, by the name of the sql viwe ‘v’ in app/Models/…

    • This feature can be added to Larvel-Genrator by doing this automaticaly

[2021-08-14 14:20] adiatma85 commented on #972
Is this still on? If this exist, ones can generate views so easliy without add search column manually

[2021-08-16 22:20] Dri372 commented on #972
Hi @adiatma85 , it works nice, only thing the little modification in yajra package (point 5)

[2021-08-17 08:18] adiatma85 commented on #972
Sorry for late response, but the does maintainer acknowledged a PR with change in yajra package as you mentioned above?
Nevertheless,  I think it's worth to make a PR for this
Thanks

[2021-08-17 17:55] kevin4dhd opened #978 "Use the --fromTable command with htmlTypes"
Hello I am looking for a way to use the FromTable command and to be able to assign the htmlTypes for example select or radiobuttons since they are all generated as text, if someone knew the trick or how I have to do it it would be very helpful

[2021-08-18 05:57] Dri372 commented on #972
does maintainer acknowledged a PR`

As you can see this issue is still opened, not reviewed by the maintainer.

`with change in yajra package`

Change like this is not a good  solution, the maintainer will probably not accept as is.

`
worth to make a PR for this`

No, see previous answer and the fact that the modification in yajra is Ok but make the package not working without Infyom/DataTable

`

[2021-08-25 09:14] LISONGDASHUAIGE opened #979 "#720 Has this been realized"
I have the same trouble,thanks

[2021-09-05 03:24] HuyNguyen206 commented on #863
I also facing the same issue with Laravel 8.
Are there any ways to fix this issue?

[2021-09-05 15:17] Dri372 opened #980 "DataTable - Add a new (form) action button"
• It’s easy to add a new action buttun
        ◦ Just add it in the file : resources/views/your_models/datatables_actions.blade.php

    • The only problem is if you add a new « form button » like the « Delete one » the new button will not be aligned with the 3 previous ones.
To align it your have to add the style « display: inline; » and to do this you have to modify the file :

        ◦ vendor/

[2021-09-06 04:03] mitulgolakiya commented on #980
@Dri372 can you share some screenshots of before style and after style?

[2021-09-06 04:05] mitulgolakiya commented on #979
@LISONGDASHUAIGE if you are referring to issue #720. then answer is no.

[2021-09-06 04:05] #979 closed, assigned to nobody

[2021-09-06 04:07] mitulgolakiya commented on #978
@kevin4dhd I will say you first generate the CRUD with `--fromTable` and save the model files. Then you can modify the model files with HTML types you want and then regenerate the CRUD again from `--fromFile` option.

Let me know if that helps.

[2021-09-06 04:07] #978 closed, assigned to nobody

[2021-09-06 05:52] Dri372 commented on #980
Hi @mitulgolakiya

Of course, thanks for your package.

Before

![before](https://user-images.githubusercontent.com/86223506/132166999-498888e1-ec97-4886-bc7e-af67741e1be9.png)

After

![after](https://user-images.githubusercontent.com/86223506/132167044-59c56d0b-8941-4757-98e5-b55483bde236.png)

[2021-09-29 06:33] debjit opened #981 "Broken API Docs package can not create api docs."
I tried to install appointer/swaggervel for laravel docs like written here
[code]
But found this error.
How to generate laravel docs for an API?
[code]

method 2
I tried to update the composer json file but it also failed. Her is the composer json file code
[code]

but found this error
[code]

[2021-10-12 04:54] alphaolomi opened #983 "[Feature]: Adding pest test support"
It would be nice to have the generator to produce pest test

[2021-11-03 14:38] ItsAnubhav commented on #877
"Undefined constant 'STDIN'"
I was using the GUI Builder when I rolled back a migration and tried to regenerate with the same name. This method is being called.
https://github.com/InfyOmLabs/laravel-generator/blob/3e40e345534c2a8f98a2178fb69bc9e9b826a3d8/src/Commands/BaseCommand.php#L283

[2021-11-11 01:48] androidedev opened #986 "publish layout fails due to missing stubs"
Hi, in last versión after doing a "php artisan infyom.publish:layout" the command fails in some of the views

`
 ErrorException
  copy(/home/dev/test/vendor/infyomlabs/adminlte-templates/templates/scaffold/auth/emails/password.stub): Failed to open stream: No such file or directory
  at vendor/infyomlabs/laravel-generator/src/Commands/Publish/PublishBaseCommand.php:20
`

It seems that the command

[2021-11-24 21:34] Dri372 commented on #986
Hi,

Had a look to y notes and give you what has worked for me (hope my notes are correct)

		composer require infyomlabs/laravel-generator:^3.0
		composer require laravelcollective/html:^6.2
		composer require infyomlabs/adminlte-templates:^2.0
                in config/app.php
		'Flash' => Laracasts\Flash\Flash::class,
		'Html' => Collective\Html\HtmlFacade::class,
		'Form' => Collective\Html\Fo

[2021-12-04 07:51] chegmarco1989 opened #987 "This package contains a huge bug when generating "unique" validation data AND "trying to update""
Hello.

When trying to generate a CRUD with a "**unique**" validation role, we are faced with a serious Bug when updating the data that I even exposed on Stackoverflow [https://stackoverflow.com/questions/70194002/laravel-8-column-was-not-found-when-i-try-to-update-my-data-however-my-update-me](https://stackoverflow.com/questions/70194002/laravel-8-column-was-not-found-when-i-try-to-update-my-data

[2021-12-05 21:52] khlewesamer commented on #967
i face that i fix it by by change the name of @push('third_party_scripts') to @push('scripts') , so u need to be sure from that , i notice there is no httpe request on Network console , and u can directly replace whole js @push section with the following lines  :
[code]

i hope that help some one

[2021-12-15 10:45] vishalinfyom commented on #987
Hii @chegmarco1989

Will you please send us the exact steps to produce the issue?

i mean from the beginning, which commands i have to run and with which params?

[2021-12-15 10:58] vishalinfyom commented on #986
We are no longer using that admin-lte templates, please check the updated documentation.

![image](https://user-images.githubusercontent.com/33887755/146174407-9f4259be-5c90-40b6-9c0a-74e418f7f598.png)

[2021-12-15 10:58] #986 closed, assigned to nobody

[2021-12-15 18:17] chegmarco1989 commented on #987
**The problem occurs when you try to update the data created from Admin. So it is at the level of the Update method and especially when you generate the data with as a** `unique` **rule (following this video seuence: [https://youtu.be/8VuEzoz42BQ?t=233](https://youtu.be/8VuEzoz42BQ?t=233)) :**

**And now login to admin and post data. Then, once created, try to edit them. You will be unable to modi

[2021-12-20 16:47] sloumat commented on #834
"Illuminate\Support\Facades\Response;" instead of "use Response;"

[2021-12-29 16:01] mustafaabduljalil opened #988 "Login verification code"
How can i generate verification email code in this package ??

Regards

[2021-12-30 07:48] mitulgolakiya commented on #988
@mustafaabduljalil this package do not touch or provide any feature relation to the authentication mechanism at all. so it's better you go to laravel documentation.

[2021-12-30 07:48] #988 closed, assigned to nobody

[2022-01-25 07:09] ShaileshInfyom commented on #972
you can follow the above solution or see this video tutorial  https://youtu.be/UCyoZ0To-ik

[2022-01-25 07:10] #972 closed, assigned to ShaileshInfyom

[2022-01-25 07:30] ShaileshInfyom commented on #925
you should format date like,
  ```  {!! Form::text('balance_date',$tag->balance_date->format('d-m-Y'), ['class' => 'form-control','id'=>'edit_balance_date']) !!}```

Ref:
![image](https://user-images.githubusercontent.com/28335166/150930971-9eca09a8-706a-43fe-9db7-86ebf8c57b07.png)

[2022-01-25 07:30] #925 closed

[2022-01-25 11:13] ShaileshInfyom commented on #981
You need to put looks like,
![image](https://user-images.githubusercontent.com/28335166/150966746-bc4af05c-9531-474a-82e0-c368bbbf2a0b.png)

[2022-01-25 11:13] #981 closed, assigned to ShaileshInfyom

[2022-01-25 12:32] ShaileshInfyom commented on #987
@chegmarco1989 we are not able to reproduce the issue.
Yes, you need to change the Rules in the edit request.  get validation error while edit time if not change but it's not break anything. you can get error looks like,
![image](https://user-images.githubusercontent.com/28335166/150976198-550ed09f-cf71-4830-bda8-70f0a41cbce6.png)

You need to change in edit request.
UpdatePostRequest.php
[code]

[2022-01-25 12:32] #987 closed, assigned to ShaileshInfyom

[2022-01-25 12:39] ShaileshInfyom commented on #945
@BurningDog

![image](https://user-images.githubusercontent.com/28335166/150978415-55367f04-5125-4ba8-882d-bcefed34dff9.png)
it's already menstion in docs.

![image](https://user-images.githubusercontent.com/28335166/150978521-1a7e88bd-767f-4d3a-9df1-07c3cc6d7003.png)

https://infyom.com/open-source/laravelgenerator/docs/8.0/installation#add-packages

[2022-01-25 12:44] ShaileshInfyom commented on #945
@BurningDog
This is not a valid issue. you need to refer docs properly. These files are generated by the command, you should review this doc. or you can watch tutorials here https://www.youtube.com/playlist?list=PL0wCC44AhrC3JHzcB5qmjYkm70OaoKegg
https://infyom.com/open-source/laravelgenerator/docs/8.0/installation#publish

![image](https://user-images.githubusercontent.com/28335166/150978855-cfb9

[2022-01-25 12:46] ShaileshInfyom commented on #945
@BurningDog it's depend on OS
![image](https://user-images.githubusercontent.com/28335166/150979509-919017fe-500e-479e-8a57-19f317ba8037.png)

[2022-01-25 12:49] ShaileshInfyom commented on #945
@BurningDog it would be good to give more details for the following issue. which files are not rollbacked?
**The rollback command doesn't roll back all files**
The rollback command only partially works.

[2022-01-25 12:54] ShaileshInfyom commented on #945
@BurningDog issue no 5. primary key mentioned in model
![image](https://user-images.githubusercontent.com/28335166/150980575-e4648a3a-2c36-4c6d-9713-5708da3d845c.png)

[2022-01-25 12:57] ShaileshInfyom commented on #945
@BurningDog issue no 7. you can find doc here https://infyom.com/open-source/laravelgenerator/docs/8.0/generator-options#save-model-schema

[2022-01-25 14:04] chegmarco1989 commented on #987
Thanks.

[2022-01-26 05:56] ShaileshInfyom commented on #945
@BurningDog Regarding API routes. we update docs soon with v1 here https://infyom.com/open-source/laravelgenerator/docs/8.0/installation#update-api-routes

[2022-01-28 04:04] mitulgolakiya commented on #966
I think we already have an open issue for unique handling. so this should be handled when that is fixed.

[2022-01-28 04:11] #805 closed

[2022-01-28 04:14] mitulgolakiya commented on #797
We do not plan to do that as a part of this package. There are several other ways that can be accomplished if needed. Best way will be,

You publish the templates and then modify the template the way you need. I think best way will be,

1. Modify migration stub to add created_by and updated_by field
2. Create one common trait which listens for model creating and updating events and then updates th

[2022-01-28 04:14] #797 closed

[2022-01-28 04:18] mitulgolakiya commented on #800
@monkeybanana550 can you please add some more detail with proper examples? I'm not able to understand the issue.

Feel free to reopen the issue after adding more details.

[2022-01-28 04:18] #800 closed

[2022-01-28 04:21] #682 closed

[2022-01-28 04:23] mitulgolakiya commented on #980
@Dri372 as long as I know, the generator is not adding that button, I think that button is manually added by you. I will say, instead of modifying ` vendor/laravelcollective/html/src/FormBuilder.php`, either you should fix it by writing some global css or you can publish the laravel generator stub files and then do modification there.

[2022-01-28 04:23] #980 closed, assigned to nobody

[2022-01-28 04:30] #321 closed

[2022-01-28 06:47] ShaileshInfyom commented on #945
@BurningDog  we will plan a letter
![image](https://user-images.githubusercontent.com/28335166/151500658-916c6f9f-4d4a-4697-8319-ac101d13c97a.png)

[2022-01-28 06:52] ShaileshInfyom commented on #945
@BurningDog Generator only generates input. you need to implement store and move file logic your end.
![image](https://user-images.githubusercontent.com/28335166/151500718-11afebfc-f3ed-4366-89b0-72e305e3b2a6.png)

[2022-01-28 07:01] ShaileshInfyom commented on #945
@BurningDog Test generate for API. you need to configure php.unit manually
![image](https://user-images.githubusercontent.com/28335166/151502055-5fa88dc5-7dd1-45d5-ac18-0cd2e557b180.png)

[2022-01-28 07:01] #945 closed, assigned to ShaileshInfyom

[2022-01-28 07:17] ShaileshInfyom commented on #888
@thewebartisan7 Generator stub is fixed like Controller, Model, etc. customization increases the change of issue and stops working if we change or customize controller and model, request, etc. But yes, you can fork and make changes based on your requirement and use it. Thanks for your time!

[2022-01-28 07:17] #888 closed

[2022-01-28 09:18] ShaileshInfyom commented on #802
@genesiscz this issue can not produce anymore. docs generated properly in model
![image](https://user-images.githubusercontent.com/28335166/151520297-af8b3103-9a3c-4b50-938a-6ddcbec11b14.png)

Feel free to re-open the issue with more details if you are still facing this issue.

[2022-01-28 09:18] #802 closed

[2022-01-28 09:28] ShaileshInfyom commented on #607
@gmancoder we can not produce this issue and I think this issue no longer live for you too. Thanks. Feel free to re-open the issue with more details if you are still facing this issue.

[2022-01-28 09:28] #607 closed

[2022-01-28 09:30] ShaileshInfyom commented on #591
you can refer this tutorial https://youtu.be/ytXsvPR0IBA. Feel free to re-open the issue with more details if you are still facing this issue.

[2022-01-28 09:30] #591 closed

[2022-01-28 09:33] ShaileshInfyom commented on #522
@morningmemo this issue is not valid here. please follow this comment https://github.com/InfyOmLabs/laravel-generator/issues/522#issuecomment-725142651 if you still getting

[2022-01-28 09:33] #522 closed

[2022-01-28 09:48] ShaileshInfyom commented on #349
@th3d0g Generator not supported for Relationship in view. The issue is already open here https://github.com/InfyOmLabs/laravel-generator/issues/731. So, I marked it as a duplicate and closed it. Thanks for your time. if you think your issue is different then feel free to re-open the issue with more details if you are still facing this issue.

[2022-01-28 09:48] #349 closed

[2022-01-28 09:58] ShaileshInfyom commented on #308
@madsynn it's already there, also dbType is supported and you can specify it.
![image](https://user-images.githubusercontent.com/28335166/151526109-21624503-e1e9-44fe-aaf1-9cca50cb6734.png)

relationship you can define like `dbType": "integer:unsigned:foreign,users,id`

[2022-01-28 10:10] ShaileshInfyom commented on #308
@madsynn at the moment we don't have any support related to guarded but we will keep in our queue.

[2022-01-28 10:32] ShaileshInfyom commented on #163
@willmkt you can integrate role and permissions watching this tutorial with easy way with generator https://youtu.be/hlGu2pa1bdU

And,
you can generate User management with just one command,
watch these tutorials

Way 1:
https://www.youtube.com/watch?v=V7PCL6HCdXo&list=PL0wCC44AhrC3JHzcB5qmjYkm70OaoKegg&index=20

Way 2;
https://www.youtube.com/watch?v=J38ut_S9Fk4&list=PL0wCC44AhrC3JHzcB5qmjYkm70Oa

[2022-01-28 10:33] ShaileshInfyom commented on #163
Feel free to re-open the issue with more details if you are still any suggestions.

[2022-01-28 10:33] #163 closed

[2022-01-28 15:51] genesiscz commented on #802
But phpdoc `@property` tags are omitted, aren't they?

[2022-02-09 14:15] robertmarney opened #991 "[Feature]: Add Laravel ^9.0 support for all InfyOmLabs Packages"

[2022-02-09 14:56] theanadimukt opened #992 "[Feature]: Configuration for layout views"
When working with custom admin template package, I am having different layout structure such as app and guest with sidebar, navbar, footer, main content section.

It would be great if you guys provide a list of publishable views config option in `laravel_generator.php` config file instead of hardcoding in `LayoutPublishCommand.php` file.

https://github.com/InfyOmLabs/laravel-generator/blob/c00a3e

[2022-02-10 04:01] mitulgolakiya commented on #991
@robertmarney we are planning it to be done by end of next week for all of our packages.

[2022-02-10 04:12] mitulgolakiya commented on #991
## Generator Core Packages

- [x] [laravel-generator](https://github.com/InfyOmLabs/laravel-generator)
- [x] [laravel-generator-helpers](https://github.com/InfyOmLabs/laravel-generator-helpers)
- [x] [swagger-generator](https://github.com/InfyOmLabs/swagger-generator)
- [x] [generator-builder](https://github.com/InfyOmLabs/generator-builder)

## Template Packages

- [x] [adminlte-templates](https:

[2022-02-10 15:46] theanadimukt opened #993 "Rollback does skip some files from purging"
I have been facing two issues with rollback.

1. When I ran the command, console displayed `invalid rollback type` warning and processed it to delete files.

`php artisan infyom:rollback ContentBlocks scaffold_api`

![image](https://user-images.githubusercontent.com/25764632/153441041-1dd98fc6-f11a-4b66-bdc9-b7c16f76c7bc.png)

2. The command had skipped 2 files from the process.

`ContentBlocksDat

[2022-02-10 21:06] robertmarney commented on #991
Thank you!

[2022-02-18 13:58] adnoh commented on #395
@mitulgolakiya is this feature removed again? I have several informations on that topic (accessing a relation table) and found a few links to the docs in specific format like you mention (6.0) - but in the current docs on the website this informations are all gone.

[2022-02-21 08:44] mitulgolakiya commented on #395
@adnoh can you please mention which information you are referring to? Because I think there are no changes in the docs website.

I can get that added if needed.

[2022-02-21 15:27] adnoh commented on #395
@mitulgolakiya sure: if you try to access http://labs.infyom.com/laravelgenerator/docs/6.0/fields-input-guide you're getting redirected to docs where no information about selectTable for example is mentioned. So I guess this information was getting lost somehow. This field is golden if you're working with relationships so it should be really good described - maybe with a working example - because

[2022-02-28 20:24] firecentaur commented on #83
Hi there, I have the same issue.  When I generate the scafolding for an existing table, I then refresh the devtools page and click on the model name in the side bar.  When I do that I get an error message complaining that deleted_at field is unknown.  My table doesnt have this field. or updated_at or created_at.  Your code should ask to add these fields if they dont exist on the table.

[2022-03-08 11:48] Buhadod commented on #991
Dears,

Thank you for working on this feature. Any update yet about the release ?

Regards,
Abdulla

[2022-03-09 08:30] mitulgolakiya commented on #991
@Buhadod yes, Most of the packages which are marked as checked above are done.

[2022-03-17 10:30] skys215 commented on #991
Not sure why files are deleted in InfyOmLabs/adminlte-templates/tree/develop/templates/scaffold/layouts in this [commit](https://github.com/InfyOmLabs/adminlte-templates/commit/7ee6c3980b0e3be3129d65541bfc907a2ae51cf5).
Several command can't be run because of missing stub files.

[2022-03-18 01:27] hazwan91 opened #996 "[Bug]: syntax error, unexpected token "?" when using console command"
I have issue on generate scaffold/api/api_scaffold and this is what its show.

![Capture](https://user-images.githubusercontent.com/97268905/158919645-d80fe1c5-d9ad-4aa6-bfb7-a833e76a2314.PNG)

I am using Laravel 9 & php 8.1.3

![Capture](https://user-images.githubusercontent.com/97268905/158919836-89bd553b-ea26-4774-bcf8-8a1bb7a0da75.PNG)

I have follow the exact step of installation on the docs

[2022-03-19 04:24] mitulgolakiya commented on #991
@skys215 Those files are removed because, in the newer version, template packages are dependent on respective laravel-ui packages.

For example,

`adminlte-templates` has dependency of `laravel-ui-adminlte`. Check here: https://github.com/InfyOmLabs/adminlte-templates/blob/v4.0.0/composer.json#L23

so we don't need to manage double scaffolding. But realized that, it is breaking the localized versi

[2022-03-19 04:25] mitulgolakiya commented on #996
@hazwan91 It looks like, somehow, the install command has messed up RouteService Provider.

- Have you run the install command twice?
- Can you let me know what exact steps you followed?
- Can you post your RouteServiceProvider here?

[2022-03-19 09:31] hazwan91 commented on #996
No. In fact, i did try to install again before replying this.

This is the exact steps that i did:

1. `composer create-project laravel/laravel example-app`
2. open the app with code editor, and open composer.json
3. based on this docs, [https://infyom.com/open-source/laravelgenerator/docs/9.0/installation#installing-into-existing-laravel-projects](url), i choose `Installing into existing Laravel

[2022-03-19 10:10] mitulgolakiya commented on #996
I just tried the same steps and I'm not able to reproduce the problem. It looks like in your case, command is failed to find the,

[code]

so it attached the content twice. The final content of RouteServiceProvider should be,

[code]

Try to replace this content in your RouteServiceProvider and it should work.

Also, can you let me know which OS you are using?

[2022-03-19 10:14] mitulgolakiya commented on #996
@hazwan91 also, if you can do the following om your local machine, then I can confirm the problem.

1. Go to `vendor/infyomlabs/laravel-generator/src/Commands/Publish/GeneratorPublishCommand.php`
2. Find the function `updateRouteServiceProvider`
3. Replace the function with the following code

[code]

And repeat the same steps above that you provided and let me know the output on the console?

Tha

[2022-03-19 10:29] hazwan91 commented on #996
Hmm weird as you have not facing this problem

I am using Windows 10, and Laragon

After i replace my RouteServiceProvider.php with yours, its working and on my terminal shows this.
![Capture](https://user-images.githubusercontent.com/97268905/159117242-0cc56926-ef65-4853-92b1-4646031cc515.PNG)

Also i did like you asked and update the `updateRouteServiceProvider` with your code. I replace this co

[2022-03-19 10:33] hazwan91 commented on #996
It seems i don't have any problem for now. Just need to update my RouteServiceProvider.php for fresh install.

Thanks. Hope it get fixed so that i don't have to update RouteServiceProvider.php everytime i create new project.

[2022-03-19 10:33] #996 closed, assigned to mitulgolakiya

[2022-03-19 11:03] mitulgolakiya commented on #996
@hazwan91  You need to run `php artisan infyom:publish`

[2022-03-21 11:16] magojr opened #997 "[Feature] Missing stub files (and other detail) in 9.0 and 8.0 with locale and datatables scaffold"
I tried to go for a new project with 9.0 and I found:
-Missing Boilerplates (linked from the documentation) for Adminlte https://github.com/InfyOmLabs/adminlte-generator/tree/9.0 bring to a 404 (with /8.0 is present the 8 version)
-Installing the AdminLTE + Datatables:
  -Missing some stubs about "locale" and "datatables" scaffold generation
  -Missing documentation about the right version of data

[2022-04-12 04:14] mitulgolakiya commented on #997
As per this comment, we are moved with our own package of laravel-ui-adminlte. so localization is pending. Mentioned in this comment https://github.com/InfyOmLabs/laravel-generator/issues/991#issuecomment-1072936740

We are not sure, how to support it yet, But soon we will try to add it.

Suggestions or any PRs are welcomed from the community.

[2022-04-12 04:15] mitulgolakiya commented on #997
Duplicate of https://github.com/InfyOmLabs/adminlte-templates/issues/82

[2022-04-12 10:31] hema-nemani-dev opened #998 "select option is not working"
after run

**name string -select:option1,option2,option3**

fields. blade.php file missing

[2022-06-22 08:16] mtariqsajid opened #1002 "how to show related data in create/edit page ?"
Is there any option to show data of related field in drop down when create page or edit page is open.
right now its show as a input field not as a select field  .

[2022-06-22 08:20] mitulgolakiya commented on #1002
I'm not 100% sure, but this might help with some tweak. https://infyom.com/open-source/laravelgenerator/docs/relationships

[2022-06-22 08:24] mtariqsajid commented on #1002
can you please give example of what need to be input when this command is ran
[code]
what should i provide for **relationship type** ?
**filed1** ?

[2022-06-22 08:31] mitulgolakiya commented on #1002
https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Generators/ModelGenerator.php#L201

- 1t1 - One to One
- mt1 - Many to One
- 1tm - One to Many
- mtm - Many to Many
- hmt - Has Many Through

[2022-06-22 15:28] mtariqsajid commented on #1002
OK, thanks. I will check this out.

[2022-06-22 15:28] #1002 closed, assigned to nobody

[2022-06-23 09:00] mitulgolakiya commented on #836
Fixed.

[2022-06-23 09:00] #836 closed

[2022-06-23 09:26] #991 closed, assigned to nobody

[2022-06-23 09:32] mitulgolakiya commented on #250
I think people interested in using these two packages together can either do manual changes or use the package that @skys215 has developed.

@skys215 good job 👍

[2022-06-23 09:32] #250 closed

[2022-07-13 19:24] ocarlosapenas opened #1028 "Generate using --fromTable using large database"
Hi, thanks for this awesome project. I'm trying to create files using this command:

`php artisan infyom:api MyClass --fromTable --tableName="lv_my_table"`

But nothing happened on my terminal, like something was being processed in the background. So I've started to investigate and I discover that: when you use the **--fromTable** parameter, Infyom use the current connection to list all tables, al

[2022-07-21 04:34] mitulgolakiya commented on #1028
@carlossantoswd I think at the moment, its happening to prepare relations and foreign keys. I will look into how we can limit it.

Right now we are busy in finishing some major updates. once that is done, I will consider limiting this to only foreign keys of the current table.

Even I think this code was contributed by someone from open source. so I have very less idea about this. so far we didn't

[2022-07-21 04:34] mitulgolakiya commented on #998
`name string select:option1,option2,option3` should be the correct way.

[2022-07-21 04:34] #998 closed, assigned to nobody

[2022-07-21 05:46] mitulgolakiya commented on #834
Fixed and not relevant since we are not using the `response()` function in v5.0.0

[2022-07-21 05:46] #834 closed

[2022-07-24 10:16] mitulgolakiya commented on #997
Localization support is added in v5.1.0.

[2022-07-24 10:16] #997 closed, assigned to nobody

[2022-07-24 10:28] mitulgolakiya commented on #993
It has been fixed in the latest version.

[2022-07-24 10:28] #993 closed, assigned to nobody

[2022-07-25 04:17] mitulgolakiya commented on #983
In latest version we are using Pest.

[2022-07-25 04:17] #983 closed, assigned to nobody

[2022-07-25 05:30] mitulgolakiya commented on #992
Related to https://github.com/InfyOmLabs/laravel-generator/issues/471

[2022-07-25 05:40] mitulgolakiya commented on #471
@DylandeWit @skys215 As of the latest version, how you can accomplish this is,

1. Read the new documentation [here](https://infyom.com/open-source/laravelgenerator/docs/publish-templates) for Publishing Templates and understand how it works ( You don't need to publish templates if you do not want to customize existing templates and want to create new templates)
2. Create a custom template file un

[2022-07-25 05:41] #471 closed

[2022-07-25 05:42] mitulgolakiya commented on #992
https://github.com/InfyOmLabs/laravel-generator/issues/471#issuecomment-1193604980

Check this. Now, LayoutPublishCommand has been removed. You can use customized views from the vendor directory and adjust the structure manually after the layout publishes via laravel-ui-adminlte.

[2022-07-25 05:42] #992 closed, assigned to nobody

[2022-07-25 21:42] alphaolomi commented on #983
🙏  Thank you @mitulgolakiya and all the contributors

[2022-08-04 05:04] mitulgolakiya commented on #356
Just added support for this in the latest version v5.3.0.

You can add dynamic variables to the generator config by calling `addDynamicVariables` method in the service provider's boot method. For e.g,

Add the following code in the `AppServiceProvider` boot method,

[code]

Alternatively, you can add multiple variables as well by,

[code]

Once variables are added, you can publish templates and th

[2022-08-04 05:04] #356 closed

[2022-08-07 21:05] hochdruckspezialist opened #1036 "swagger templates Not exist"
I use the Boilerplate but when i will use swagger i cant generate new contents

/vendor/infyomlabs/swagger-generator/templates/model_docs/model.stub

Not exists

Any Idea?

[2022-08-08 04:04] mitulgolakiya commented on #1036
Hi @hochdruckspezialist ,

Boilerplates are not updated with the latest version. Please create a fresh new project and install it by yourself.

I will update the boilerplates this week.

[2022-08-08 04:04] #1036 closed, assigned to nobody

[2022-08-11 13:41] skys215 opened #1037 "Created_at and updated_at is generated inside fields.blade.php"
Hi,
I recently found out that created_at field and updated_at field are generated inside fileds.blade.php when using `infyom:sacffold` command.
I assume that it should be ignored.
Are they kept for special purpose? Or they are the features undone?
Thanks.

[2022-08-17 05:58] mitulgolakiya commented on #1037
@skys215 I was quite busy last week and also will be busy this week as we have holidays. I will look into it next week, or feel free to raise a PR if you know the solution.

[2022-08-29 18:31] mgip opened #1039 "Awesome Generator."
Firstable Congratulations for this amazing proyect, really.

I would install this generator but i have a little problem...

I have already started my project with a template, which I have obtained in codecanyon, I share the link to see it... https://radmin.rakibul.dev/login (Login and Pass inside input value)... Now my doubt, There is a way to customize the generation of the cruds through the "stu

[2022-08-30 05:38] mitulgolakiya commented on #1039
Hi, @mgip Thank you for your appreciation.

Laravel Generator does not restrict you to use its AdminLTE templates. What you can do is, you can publish the stub files (templates) and can modify them the way you want. so you can use it for your own theme as well.

Here is the guide for that: https://infyom.com/open-source/laravelgenerator/docs/publish-templates

[2022-08-30 05:38] #1039 closed, assigned to mitulgolakiya

[2022-09-07 03:55] skys215 opened #1041 "Factory not generating when factory option is true"
Hi,
When I was trying to generate factory for a model, I set factory option to true inside the `config/laravel_generator.php`, but failed to call `factory` method for model.
After investigating, found out that the code is triggered by `test` option, not `factory` option.
Is it designed intentionally, or it is typo or something?
Source:
https://github.com/InfyOmLabs/laravel-generator/blob/453d1d364

[2022-09-17 06:36] skys215 opened #1042 "Getting config from wrong file"
https://github.com/InfyOmLabs/laravel-generator/blob/453d1d364a13b44f7b424dd4cea2c296402db429/src/Commands/Publish/PublishTablesCommand.php#L47
I think it should be `config('laravel_generator.templates')`. The prefix `infyom` has been removed.

[2022-09-19 11:53] mitulgolakiya commented on #1042
Fixed.

[2022-09-19 11:53] #1042 closed, assigned to nobody

[2022-09-19 13:55] msksbt opened #1043 "Migration ganeration, if dbType does not include ":"."
Hi, thanks for this awesome project.
( I'm sorry if there are any grammatical mistakes. )

I generated migration from JSON, but it's maked wrong statement.

I tried this:
[code]

but, it maked this:
[code]

I think that the problem occurs if dbType does not include ':', and there is a problem in follow clode block,
I tried this block to commented out, then the problem seems to be resolved.

https:

[2022-09-20 05:11] mitulgolakiya commented on #1043
@msksbt Good Catch. Feel free to put a PR if you can, or I will take care of it by this week.

[2022-09-21 12:19] msksbt commented on #1043
@mitulgolakiya OK. I will try to fix and PR. thanks.

[2022-10-12 16:11] jarkko-hautakorpi opened #1045 "[BUG]: Always print the max:? rule for all string fields"
v5.4.1
Some rules are generated, but not every time (max:) ? Why does it not always appear for string field.
All rules can be get from Doctrine\DBAL\Schema\AbstractSchemaManager,
`$details = $this->schemaManager->listTableDetails($this->tableName);`
which will always tell you the string length:
![image](https://user-images.githubusercontent.com/1830220/195392704-01e9e7f4-4a5b-4d38-b12c-bbd3848d5e7

[2022-10-13 09:57] jarkko-hautakorpi commented on #1045
https://github.com/InfyOmLabs/laravel-generator/pull/1046

[2022-11-17 17:54] ghost opened #1047 "Fail! Server Error"
Hello,
When I create Scaffold through Generate Builder, showing the error "Fail!
Server Error"

please help me

[2022-11-19 14:33] ghost opened #1048 "Fail! The command "infyom:api_scaffold" does not exist."
Please solve this Fail! The command "infyom:api_scaffold" does not exist.

[2022-11-20 04:43] mitulgolakiya commented on #1047
@lifewaypn Generator Builder is not actively maintained. I recommend to use command line.

[2022-11-20 04:43] mitulgolakiya commented on #1048
Duplicate https://github.com/InfyOmLabs/laravel-generator/issues/1047

[2022-11-20 04:43] #1048 closed, assigned to nobody

[2022-11-20 04:43] mitulgolakiya commented on #1047
Please create this issue with more details on the generator builder.