[2016-02-14 11:54] mitulgolakiya opened #1 "Handle File Input in Controller"
Currently file input is not handled via Controller.

[2016-02-14 12:00] mitulgolakiya opened #2 "Generate from table is not fully working"

[2016-02-14 12:02] mitulgolakiya opened #3 "--save and --fieldsFrom is not fully compatible"
Generated schema file is not generating the same code when it is used from --fieldsFrom option.

[2016-02-14 17:36] anand-patel opened #4 "Illuminate\Foundation\Composer moved to Illuminate\Support\Composer for Laravel 5.2"
[ErrorException]
  Argument 1 passed to InfyOm\Generator\Commands\API\APIGeneratorCommand::__construct() must be an instance of Illuminate\Foundation\Composer, instance of Illuminate\Support\Composer given, called in C:\wamp\www\poteau\vendor\infyomla
  bs\laravel-generator\src\InfyOmGeneratorServiceProvider.php on line 51 and defined

[https://laravel.com/docs/5.2/upgrade#upgrade-5.2.0](url)

[2016-02-14 18:56] mitulgolakiya commented on #4
Then I think we need two separate branches to support each versions. Will solve it quickly.

[2016-02-14 19:10] mitulgolakiya commented on #4
Or I think we should just disable dump-autoload things as of now and can figure out the best way later on.

[2016-02-14 19:37] mitulgolakiya commented on #4
@anand-patel I just removed `composer dump-autoload` stuff as of now. Check it again with 5.2 and let me know if you still have any problem.

[2016-02-15 05:07] zrobin opened #6 "View [$model.show] not found."
View [$model.show] not found.

[2016-02-17 04:19] anand-patel commented on #4
It's working now.

[2016-02-17 04:29] CasperLaiTW commented on #4
@mitulgolakiya
Maybe you can use my way, laracasts/Laravel-5-Generators-Extended#83

It's support 5.2 and 5.1

[2016-02-17 07:26] mitulgolakiya opened #7 "Add composer dump-autoload support"

[2016-02-17 07:27] mitulgolakiya commented on #4
@CasperLaiTW I have just add a issue for that #7 for it.

[2016-02-17 07:27] #4 closed

[2016-02-17 07:28] mitulgolakiya commented on #6
fixed

[2016-02-17 07:28] #6 closed

[2016-02-17 10:50] iboinas opened #9 "Sugestion - Migration versioning"
Hello Mitul,

First of all, congrastulations for this package, is awesome, especially because of allowing project-specific configurations and templating. Wonderful.

I have sugestion, that think is easily achievably (using laravel collections).
For a given migration, check if table already exists on DB.
If not, goes as today.
If it exists, goes to different abstraction, where compare schema, and m

[2016-02-17 17:20] CasperLaiTW opened #10 "Require infyomlabs/swagger-generator"
`laravel-generator` depended on `infyomlabs/swagger-generator`.
Ex: [ModelGenerator](https://github.com/InfyOmLabs/laravel-generator/blob/4d5c63c54c8a5890224e982d09fff9c1fdd46443/src/Generators/ModelGenerator.php#L96)

Should `infyomlabs/swagger-generator` be required in `composer.json`?

[2016-02-17 17:40] CasperLaiTW opened #11 "Follow PSR-2 code style"
Should *.stub file or generator creating file be follow psr-2?

Ex:
[migration.stub](https://github.com/InfyOmLabs/laravel-generator/blob/master/templates/migration.stub#L16)

Convert 1 tab to 4 space ?

[2016-02-17 17:53] iboinas commented on #10
It does not depend on it,

You have setting in config file, just put value to false

`
/*
    |--------------------------------------------------------------------------
    | Add-Ons
    |--------------------------------------------------------------------------
    |
    */

    'add_on' => [

        'swagger'   => false,

        'tests'     => false,
    ]
`

[2016-02-17 18:31] CasperLaiTW commented on #10
Thank you, @iboinas

I miss.

[2016-02-17 18:32] #10 closed

[2016-02-18 00:33] fimdomeio opened #12 "wrong link on documentation page"
comunity/github link sends to a page not found.
I suppose it should point to https://github.com/InfyOmLabs

[2016-02-18 03:47] mitulgolakiya commented on #12
fixed.

[2016-02-18 03:47] #12 closed

[2016-02-18 07:50] daniel-huang opened #13 "Suggestion - Dingo API Integration"
It's an awesome project!

Will it support [Dingo API](https://github.com/dingo/api)?

[2016-02-18 13:59] mitulgolakiya commented on #13
Yes, its on plan.

[2016-02-18 15:36] adrianogl opened #15 "Suggestion - custom blade templates"
In [Laravel API/Scaffold/CRUD Generator](https://github.com/mitulgolakiya/laravel-api-generator) it was possible

[2016-02-18 15:39] iboinas commented on #15
And now also possible!

[2016-02-18 15:40] iboinas commented on #15
`
php artisan infyom:scaffold $MODEL_NAME$
`

[2016-02-18 15:46] iboinas commented on #15
php artisan vendor:publish

you go to vendor/infyomlabs/core-templates/templates and check it

you can even copy fields folder to app/resources/infyom/infyom-generator-templates(if you didn't change it on config) , and the command will use this, when finds it. if not, uses the ones from vendor

[2016-02-18 16:04] iboinas commented on #15
Pardon me,

php artisan infyom.publish:templates

[2016-02-18 16:17] iboinas opened #16 "Show field radio bug"
You can check with the json fields example,

Generated index and show, is misbehaving when we check 2 checkboxes.

I suggest this is solved with saving as JSON encoded in text.

But i guess, for the quick scaffolding only will not be a problem.

Even so, who wants to use it right out of the box, will be with this error

[2016-02-18 17:58] jschlies1 opened #17 "Suggestion - Inclement generation of CRUD methods in Models."
Implement generation of convenience methods such as listed below as appears the case with
"php artisan models:generate" . See "user11001/eloquent-model-generator".

    public function contacts()
    {
        return $this->belongsToMany(\App\Models\Contact::class, 'client_contacts', 'client_id',
                                    'contact_id');
    }

    public function clientContacts()
    {

[2016-02-18 19:12] phillipmadsen opened #18 "failed to open stream: No such file or directory"
Error when running
`php artisan infyom.publish:auth`
produces this:
`
  [ErrorException]
  copy(/home/vagrant/grace/test.cart/vendor/infyom/core-templates/templates/scaffold/layouts/app.stub): failed to open stream: No such file or directory
`
The file stub is there but its still giving that error.

[2016-02-18 19:15] phillipmadsen commented on #18
I t looks like the publish command is not copying the laravel-generator.php config file over when run.

[2016-02-18 19:16] phillipmadsen commented on #18
nevermind my bad it looks like its just in a infom directory.

[2016-02-19 03:32] mitulgolakiya commented on #7
Fixed.sd

[2016-02-19 03:32] #7 closed

[2016-02-19 04:18] #18 closed

[2016-02-20 07:24] #3 closed

[2016-02-20 18:07] error500 opened #20 "primary key from table generation"
Hi,
I did a
    php artisan infyom:api $MODEL_NAME$
with two tables on a postgresql database.
The primary keys names are not 'id' but something else. The model files doesn't find them.

Should only implicit 'id' primary key fields be supported ?

[2016-02-20 18:09] error500 opened #21 "Undefined variable: errors"
After a "from tables" generation and all the publish commands i got :

[code]

[2016-02-21 05:33] mitulgolakiya commented on #21
I think you are using Laravel 5.2 and in while using 5.2, you need to surround your web routes with `web` middleware. Check it [here](https://laravel.com/docs/5.2/routing#basic-routing)

[2016-02-21 05:34] mitulgolakiya commented on #21
It's in process that we detect it automatically and surround routes in `web` middleware.

[2016-02-21 05:36] mitulgolakiya commented on #20
Its not implemented yet. It's already in know issue. #2.

[2016-02-21 12:07] amin101 opened #22 "what does searchable do?"
when creating fields  one of the steps is declaring searchable status. what does searchable do?

[2016-02-21 12:35] error500 commented on #21
OK.
Sorry for not having search before my writting an issue.

It works fine

[2016-02-21 12:35] #21 closed

[2016-02-21 12:38] error500 commented on #20
Ok sorry again for not search before...

[2016-02-21 12:38] #20 closed

[2016-02-21 18:14] amin101 opened #23 "define foreign key"
Is it possible to determine foreign key when defining fields?

[2016-02-22 18:26] phillipmadsen opened #26 "Auth not publishing file"
Also I  am on laravel 5.1.* and the publish Auth is not working as well.
Hope this helps

[2016-02-22 18:29] #26 closed

[2016-02-22 18:57] phillipmadsen opened #27 "core-templates error because of web middleware"
@include('core-templates::common.errors')

returns this:

ErrorException in 738befae3e778accfa7edc7bda672348bdebf4da.php line 1:
Undefined variable: errors (View: /home/vagrant/grace/blade.clip/vendor/infyomlabs/core-templates/views/common/errors.blade.php) (View: /home/vagrant/grace/blade.clip/vendor/infyomlabs/core-templates/views/common/errors.blade.php)

[2016-02-22 19:00] phillipmadsen opened #28 "build from table is not creating the model_schema"
Is this automatic or do you have to use and option or something. If its automatic it is not working.

[2016-02-22 19:35] phillipmadsen opened #29 "Question about prefix"
A while back I  asked if you would be adding a prefix so one could build out normal crud and then build it again but with say and Admin prefix and it would prefix everything that is needed to make it work. such as routes/ links assets and anything else that would need to be changes.
Ping pong generators has one that works great but they do not have a system built as good as this one. You said you

[2016-02-22 19:38] mitulgolakiya commented on #27
May we you are using Laravel 5.2. So you need to use `web` middleware to get your routes working.
Duplicate of #21

[2016-02-22 19:39] mitulgolakiya commented on #28
@phillipmadsen you mean migration ?

[2016-02-22 19:40] mitulgolakiya commented on #29
yes, I am already on it and will push it in next few days.

[2016-02-22 19:41] phillipmadsen commented on #29
Thank you. if you would like I  can fork this and fix errors as I  find them and push them fixed back to you. might help you out a bit.

[2016-02-22 19:41] mitulgolakiya commented on #23
yes, you can do something like this: https://github.com/mitulgolakiya/laravel-api-generator/issues/68

[2016-02-22 19:42] phillipmadsen commented on #29
I  have also build a factory that autopopulates for the crud.

[2016-02-22 19:43] mitulgolakiya commented on #22
It can be used to search records while using it from apis or cruds. Here is the full doc: https://github.com/andersao/l5-repository#enabling-in-your-repository

[2016-02-22 19:46] mitulgolakiya commented on #29
sure. That will be great if you can push them.

[2016-02-22 19:59] phillipmadsen commented on #29
Ok I  will do that for now on.

[2016-02-22 20:01] phillipmadsen opened #30 "field type question"
Can you add a checkbox field for boolean?  with option for default unchecked.

[2016-02-23 19:31] #22 closed

[2016-02-23 19:31] #23 closed

[2016-02-23 19:49] amin101 opened #31 "suggestion: add traslate to views"
it would be  better if you add `trans()` to generated views. also prevent generator from creating form field for `id`(primary key) .

[2016-02-24 08:21] NightZpy commented on #15
I have published core-template files into app/resources/infyom/infyom-generator-templates and doens't works.

Whats the steps in order?

[2016-02-24 08:26] NightZpy commented on #15
Ok, am solve this, the folder is app/resources/infyom/infyom-generator-templates/scaffold

[2016-02-24 08:46] #15 closed

[2016-02-24 08:47] mitulgolakiya commented on #15
Its already there on doc: http://labs.infyom.com/laravelgenerator/docs/advanced/publish-templates

[2016-02-24 08:51] NightZpy commented on #15
Ok, but doesn't works with views fields auth templates folder, These must be published manually (i.e., copy/paste)!

[2016-02-24 16:20] abdallah84 opened #33 "fatal error when migrate DB"
after i run infyom:scaffold and executed successfully
i run the DB migration and it gives me:
  [Symfony\Component\Debug\Exception\FatalErrorException]
  Cannot redeclare class CreateDepartmentsTable

[2016-02-24 16:46] #33 closed

[2016-02-24 17:40] phillipmadsen commented on #30
Do you by chance have a way to generate boolean checkbox?

[2016-02-24 17:43] phillipmadsen opened #34 "When trying to return the data in index view nothing returns"
I have say a profile crud with about 40 fields. I  can create the instance and it stores but it does not return in the views index page? Any idea what the problem would be.

[2016-02-24 17:52] phillipmadsen opened #35 "Add to schema file and generator"
This is the current data for a field:

{
    "fieldInput": "id:increments",
    "htmlType": "",
    "validations": "",
    "searchable": false,
    "fillable": false,
    "primary": true
  },

**When using a crud with many fields we need to add a way to  include and exclude from the index.blade.php page in the table.blade.php output.**

This is what it needs.

{
    "fieldInput": "id:increments",

[2016-02-24 18:43] phillipmadsen opened #36 "I am using 5.1.* but it thinks im running 5.2.*"
This is preventing infyom.publish:auth  from running.

[2016-02-24 19:19] phillipmadsen opened #38 "When publishing views stubs are not moved like they used to be."
**infyom.publish:templates**  is not copying the views stubs into the resources directory. The old system used to is there a reason for this or just simply overlooked?

[2016-02-24 19:58] phillipmadsen opened #39 "New Feature Request"
Would it possible to generate a crud using multiple tables in the same one?

Here is an example.

* CRED = BLOG
 * TABLES=
    * POSTS
    * CATEGORIES
    * TAGS

In doing it this way we could create the views stubs to use all data from the three tables?

Just a thought.  Let me know what you think.

[2016-02-24 20:28] phillipmadsen commented on #39
## Possible generator file for each the multi table crud:

[code]

[2016-02-25 03:29] mitulgolakiya commented on #30
Will add it.

[2016-02-25 03:31] mitulgolakiya commented on #34
Can you post the generated files with schema file ?

[2016-02-25 03:32] mitulgolakiya commented on #35
This thing is already on list. We are going add an option to IncludeInForm, IncludeInList etc.

[2016-02-25 03:32] mitulgolakiya commented on #36
Because laravel 5.2 already has a command to generate auth files. so we are not supporting it for 5.2.

[2016-02-25 11:43] john5db commented on #38
I also want to change default views stubs. It is must.

[2016-02-25 23:22] phillipmadsen commented on #34
Yes, here is the file. Its large but im not sure how to attach files on here.

[code]

[2016-02-25 23:23] phillipmadsen commented on #34
Like I  said it stores fine but when I  go to the index view nothing is being retruned. If I  shorten the table to say 10 fields it works fine.

[2016-02-26 02:03] jschlies1 commented on #17
Also, if we could add functionality to create BaseModel classes which contain generated code, which are extended by Model classes.

[2016-02-26 09:32] Trexology commented on #38
Same issue here. Seems to be a bug

[2016-02-26 10:09] iboinas commented on #38
you can copy them by hand, and they will work

[2016-02-26 10:10] iboinas commented on #38
they will be used, check the source code

[2016-02-29 07:07] Trexology opened #40 "possible to modify $FIELD_BODY$??"
If possible i would like to modify the value of $FIELD_BODY$ in the stub

[2016-02-29 12:17] amin101 opened #41 "suggestion: replace single qoute with double quote"
almost all strings in generated codes are double quoted. i think php process single quote strings faster that double qoute strings. maybe it would be better to use `'` instead of `"`

[2016-02-29 13:45] mitulgolakiya commented on #40
You can publish templates and do whatever edits you want. [Here](http://labs.infyom.com/laravelgenerator/docs/advanced/publish-templates) is the document for it.

[2016-03-02 03:02] Trexology commented on #40
$FIELD_BODY$ is a single field in the stub which output

<td>{!! $vehicle->id !!}</td>
<td>{!! $vehicle->carplate !!}</td>
<td>{!! $vehicle->seaters !!}</td>
<td>{!! $vehicle->bookingType !!}</td>

i would like the final output to be something like

<td class="something">{!! $vehicle->id !!}</td>
<td class="something">{!! $vehicle->carplate !!}</td>
<td class="something">{!! $vehicle->seaters !!}<

[2016-03-02 09:02] waris-mohammad opened #42 "Wrong Header for Edit View Template"
Header in edit.stub is 'Create New $MODEL_NAME$' while it should be 'Edit $MODEL_NAME$'.

[2016-03-02 20:20] phillipmadsen commented on #34
any ideas?

[2016-03-02 20:54] phillipmadsen opened #43 "These would be a great additions to the generator"
1.  Make a Remove or Delete  or undo from a history command. This would remove all generated files like it was never there.
### artisan php infyom-remove:api_scaffold  Blog
1.  Make a enable / disable command
### artisan php infyom:enable:api_scaffold Blog
### artisan php infyom:diable:api_scaffold Blog

or
### artisan php infyom:enable:api Blog
### artisan php infyom:enable:scaffold Blog
### arti

[2016-03-02 21:35] phillipmadsen opened #44 "Maybe a Tracking / Changes / Updates / Created / Deleted Log Record"
Create a crud history file showing all  changes updates creations edits overwrites and removals so we an troubleshoot large project builds later.

Just an idea once again. I  usually write me own but it would be another great addon.

example would be either on each file or a master record or maybe both sort of like wordpress revisions just without the rollback.
[code]

[2016-03-03 03:59] mitulgolakiya commented on #34
@phillipmadsen I am on a small vacation, and will check once I'm back on this weekend. Also all of the issues which were posted since last one/two weeks.

[2016-03-03 04:00] mitulgolakiya commented on #43
@phillipmadsen good idea and you are always a good contributor in all of my projects. so will add it to the feature list.

[2016-03-03 12:00] pjmartorell opened #45 "Scaffolding: generated routes should be placed inside "web" middleware group"
Generating a scaffold should place the generated routes inside "web" middleware group in order to make the "$errors" variable to be binded correctly in the views.

[2016-03-03 12:13] pjmartorell opened #46 "Route not needed: Route::get('owners/delete/{id}')"
The generated route `Route::get('owners/delete/{id}')` it's not necessary. I suspect you created to bypass the problem of browsers that don’t recognize the `DELETE` verb, but with the routes generated by `Route:resource(…)` it's enough.

You can directly call the `whatever.destroy` route from the index view using a form. You need to modify the table.blade.php to use a submit button using a form, w

[2016-03-03 12:26] pjmartorell opened #47 "Scaffolding: show route not actually being used"
After generating a scaffold the show route is generated but not used. The proper way to fix it is to add a link/button in the table view to the show view for every record in the table.

[2016-03-03 15:05] pjmartorell commented on #47
Sorry, I move this issue to the correct repo `core-templates`.

[2016-03-03 15:05] #47 closed

[2016-03-03 16:55] phillipmadsen opened #49 "Publish Bug"
## php artisan infyom.publish:templates

Does not publish common template files. So common stubs are not being added to view folder.

Recap of stubs not publishing

1.  ***views directory***
(also gnerator throws error because its looking for table.stub and you have them named table.blade.stub and same thing with the other view)
2.  ***common directory***

[2016-03-04 03:47] mitulgolakiya commented on #45
duplicate of #27

[2016-03-04 03:48] #45 closed

[2016-03-04 10:25] NightZpy opened #50 "New feature: Datatables option"
Hello bro,
maybe add option for implement datatable javascript plugin for index page.
For laravel exists some packages for this job. This is one: `https://github.com/yajra/laravel-datatables`.

Greets.

[2016-03-05 04:00] NightZpy opened #51 "Can be assign relations? Or new feature?"
Would be good relations can be assigned by command or json!

Maybe:

`php artisan infyom:scaffold Post --relations="hasMany(Comment), belongsTo(User)"`

Or

`php artisan infyom:scaffold Post --hasMany=Comment --belongsTo=User`

[2016-03-05 04:05] mitulgolakiya commented on #51
We already have this on list.

[2016-03-05 04:07] mitulgolakiya commented on #42
fixed in core-templates repo.

[2016-03-05 04:07] #42 closed

[2016-03-05 04:07] NightZpy commented on #51
Oh, so good! :dancer:

[2016-03-05 10:44] alejandri commented on #21
Hello i have same error. How solved that error500? or where learn more

[2016-03-05 11:38] mitulgolakiya commented on #21
Check above comments https://github.com/InfyOmLabs/laravel-generator/issues/21#issuecomment-186749207

[2016-03-05 11:50] amin101 opened #52 "using presenter"
once i use `php artisan infyom:scaffold ModelName` no presenter class will be created. how can i have a presenter class to integrate with respective Model?

[2016-03-07 03:57] mitulgolakiya commented on #52
it will not create a presenter class. You need to create it manually. Presenter is not a general thing that everybody wants. so as of now, its not  generating that. But I am adding it as a feature request which can be supported via configuration.

[2016-03-08 07:51] NightZpy opened #53 "Select html type: Bug or new feature!"
When generate a select field, is obligatory add items to select list:

Maybe, i don't want add statis list item, because the select will be filled from another database table!

This may be a new feature or just a bug?

[2016-03-08 08:02] codingquark commented on #51
I was going to start work on this feature, but since you already have it on the list, I would be glad to help.

[2016-03-08 08:07] codingquark commented on #11
Also, for constructor, we cannot omit accessibility declaration according to PSR2. So, current code `function __construct` should be  `public function __construct`

[2016-03-08 09:30] NightZpy opened #54 "Unique on Update Validation!"
Actually can add this to validation for update:

`'name' => 'unique:table,field,'.$this->id,`

??

[2016-03-08 09:57] NightZpy commented on #54
In the rules method into UpdateRequest for the model, i add:

`
        $rules = Model::$rules;
        $rules['field'] = $rules['field'] . ',field,' . $this->id;
        return $rules;
`

And rule in the declaration on the model:

`"field" => "required|between:1,128|unique:table",`

Unique rule must be last in the string.

And, in the edit.blade.php must be add hidden field with the id value and

[2016-03-08 10:43] NightZpy commented on #51
I can see the list? Is public? Where is? :D

[2016-03-08 19:26] phillipmadsen opened #57 "New Feature Request"
Ability to select table to populate select field in current DB.

Example
  {
    "fieldInput": "select_test:string",
    "htmlType": "select:table:column1, column2",
    "searchable": true
  },

[2016-03-08 19:31] phillipmadsen commented on #57
oh, that would create something along the lines of.

$items = Items::lists('column-option1', 'column-option1');

[2016-03-09 06:20] mitulgolakiya commented on #53
duplicate of #57

[2016-03-09 06:20] #53 closed

[2016-03-09 10:29] amin101 opened #60 "delete Model issue"
index table template has a delete link that uses a simple GET request (no form ) to delete an item(Model). so there is no CSRF checking . maybe it would be better to implement a form to delete items and use POST instead of GET request.

[2016-03-09 10:40] amin101 commented on #60
it seems there has been a related pull request later

[2016-03-09 10:40] #60 closed

[2016-03-10 00:37] phillipmadsen commented on #50
I  built this into your old Mitul version. I  can supply the code it should not be to hard to implement into your new one.

## This creates the App\DataTable\ExampleDataTable.php

[DataTable.stub.txt](https://github.com/InfyOmLabs/laravel-generator/files/165667/DataTable.stub.txt)

## This creates the resouces/views/example/datatable.blade.php

[datatable.blade.stub.txt](https://github.com/InfyOmL

[2016-03-10 03:46] mitulgolakiya commented on #50
@phillipmadsen great. I will take it in next milestone.

[2016-03-10 12:44] 11digitlabs opened #61 "Undefined index: fillable when using fields_sample.json"
When I'm running `php artisan infyom:api Post --fieldsFile=fields_sample.json` , using the sample file in the vendor directory, i get

![1 vagrant homestead projects playground apiground vagrant 2016-03-10 14-43-41](https://cloud.githubusercontent.com/assets/2484390/13669806/9156d8e8-e6ce-11e5-9c4c-5a8b0e11ef87.png)

Any ideas?

[2016-03-10 18:30] phillipmadsen commented on #61
What does your fields_sample.json look like?

[2016-03-10 18:36] phillipmadsen opened #62 "New Feature Request"
### Add foreign key field.
Something like:
[code]

#### Generates
[code]

### Also a Combined field index or unique possibility.
Something like:
[code]
#### Examples
[code]

### Or possibly a straight import type
Something like:
[code]
#### Examples Output
[code]

This last one would enable a person to add columns to the table that are needed and are not possible through the generator.  Just a tho

[2016-03-11 07:03] 11digitlabs commented on #61
Its the one in the vendors folder, attaching it here

[fields_sample.json.txt](https://github.com/InfyOmLabs/laravel-generator/files/168601/fields_sample.json.txt)

[2016-03-12 06:14] #61 closed

[2016-03-12 06:54] mitulgolakiya commented on #38
Fixed.

[2016-03-12 06:54] #38 closed

[2016-03-12 06:55] mitulgolakiya commented on #49
@phillipmadsen I am not able to get table.stub and table.blade.stub thing. Can you describe it bit more ?
Also I have added a support for copy views directory.

You mean common directory by the directory contains `errors.blade.php` and `paginate.blade.php` ?

If yes, then why you need to publish that folder ? Because even it will not reflect the changes, because those are loaded as views from stat

[2016-03-12 07:49] mitulgolakiya commented on #16
checkbox format in sample fields json was wrong. New format added.
Check it [here](https://github.com/InfyOmLabs/laravel-generator/blob/35fb80d70dcf3467a544477e5de7dad1a93ae196/samples/fields_sample.json#L52)

[2016-03-12 07:50] #16 closed

[2016-03-12 07:51] mitulgolakiya commented on #52
Keep it open, so we can track it and it can be added in a list.

[2016-03-13 15:12] amin101 opened #63 "add tableName method"
I dont see any method to return model table's name. if there isnt one , i suggest to add this method to `BaseRepository`:

[code]
also its important to be an intermediate repository between *Model*Repository and BaseRepository to enable user to add his own methods

[2016-03-13 17:03] wellescastro opened #64 "Problem with routes"
First of all, sorry for my bad english. So, when i was using the scaffold generator from tables i realized that  the generated routes are outside of the middleware. This can cause errors in views with $errors variable.

[2016-03-13 17:08] wellescastro opened #65 "Problem with index view (not listing)"
When i was using the scaffold generator from tables the only way that i found to do the index view from any resource work was commenting the line "use SoftDeletes;" from the models.

[2016-03-13 19:05] mitulgolakiya commented on #64
we already have it in list. Duplicate of #27

[2016-03-13 19:05] #64 closed

[2016-03-14 09:10] twelvester opened #66 "Generator without Repository"
Is it possible to not use Repositories?

[2016-03-15 10:35] mitulgolakiya commented on #66
@twelvester Its not possible in direct way. But what you can do is, you can publish templates and then modify controller to your own way to make it work without repository.

[2016-03-15 13:42] mitulgolakiya commented on #11
fixed.

[2016-03-15 13:42] #11 closed

[2016-03-15 14:35] #36 closed

[2016-03-15 21:24] phillipmadsen opened #68 "Not sure if something was overwritten or changes."
the fields file imports that were working last week are not working any more. they have lost the 'field' single quotes around them. as well as default(missing quotes).

just a heads up

[2016-03-15 21:32] phillipmadsen commented on #68
These are the fields that are no longer adding single quotes to the output.

{
    "fieldInput": "select_test:string",
    "htmlType": "select:Option1,Option2,Option3,Option4,Option5",
    "searchable": true
  },
  {
    "fieldInput": "enum_test:enum",
    "htmlType": "enum:Mon,Tue,Wed,Thu,Fri,Sat,Sun",
    "searchable": true
  },
  {
    "fieldInput": "radio_test:string",
    "htmlType": "radio:M

[2016-03-15 21:37] phillipmadsen commented on #68
Here is the code that generates the boolean version of Checkbox:

 public static function checkbox($templateData, $field)
    {
        $textField = "<div class=\"checkbox\">\n";
        $textField .= "\t\t<label>";
        $textField .= "{!! Form::checkbox('\$FIELD_NAME\$', 1, true) !!}";
        $textField .= '$FIELD_NAME_TITLE$';
        $textField .= '</label>';
        $textField .= "\n\t</di

[2016-03-15 21:39] phillipmadsen commented on #68
Here is a bootstrap version of the label output also:

[code]

[2016-03-15 21:57] phillipmadsen commented on #68
Found the problem, You removed the original checkbox and replaced it with the boolean one. You probably want both option available because they are both very useful. something like this would probably be what you want to do.

[code]

[2016-03-15 22:31] phillipmadsen commented on #68
needs a slight change on the boolean checkbox in your fields stubs change:

    <label class="checkbox-inline">
        {!! Form::checkbox('$FIELD_NAME$', "$VALUE$", null) !!} $VALUE$
    </label>

to:

    <label class="checkbox-inline">
        {!! Form::checkbox('$FIELD_NAME$', "$VALUE$", null) !!} $FIELD_NAME$
    </label>

[2016-03-15 23:05] #28 closed

[2016-03-15 23:06] phillipmadsen commented on #29
What is your status on the prefix?

Just wondering.

[2016-03-16 03:50] mitulgolakiya commented on #29
I have just started working on it this week. May be will push it on this weekend.

[2016-03-16 08:53] vesper8 opened #70 "generator does not work if paths are changed in laravel-generator config file"
This is a bug that's existed for a long time with the old (mitul) version.

If you modify the paths in the generator.php config file (now laravel-generator.php) then it will correctly create the files in the subfolder specified, but all the view('') lines in the controllers and the @include('') in the views will not reflect the subfolder and will thus fail to load, requiring that you manually add

[2016-03-16 08:58] vesper8 opened #71 "default laravel date fields do not work properly in scaffolding"
The default timestamps created_at and updated_at do not work properly in the generated scaffolding.

The created_at does not get updated when using the calendar plugin that comes with the scaffolding. And neither the created_at or updated_at reflect the current value if they are set to a valid timestamp when editing.

[2016-03-16 13:02] vesper8 commented on #50
I am absolutely loving this https://github.com/yajra/laravel-datatables package!

Especially using it the "as a Service" way. It's wonderful and so powerful. A huge improvement to the current scaffolding with the ajax search, sorting and very easy to add inline edit/delete buttons as well as a "add new" button. Am currently using this for the "index" view and using the generated scaffolding for th

[2016-03-16 15:32] phillipmadsen commented on #70
This is because all the routes are hard coded in. I  had to go into the files and change each one manually. He is working on a prefix to fix this.

[2016-03-16 17:32] NightZpy commented on #50
This is another plugin in jquery: [https://vitalets.github.io/x-editable/demo-bs3.html#](url)
)

[2016-03-16 17:41] amin101 opened #72 "suggestion: fix checkbox template issue"
there should be a hidden input before each checkbox, unless we cant uncheck a checkbox when editting a post. take a look[ here](http://laravel.io/forum/09-26-2014-handling-unchecked-checkbox-by-updating)

[code]

[2016-03-16 19:53] phillipmadsen commented on #72
just us these:

CHECKED:
{!! Form::checkbox('myCheck',1, true) !!}

UNCHECKED:
{!! Form::checkbox('myCheck',1, false) !!}

[2016-03-16 20:02] NightZpy opened #73 "New feature: Menu"
Already exists some way of add a crud to menu?

Can be in any part of the generator question for make the crud:

`Menú: (menu_name) [$$MODEL$$]:`

[2016-03-16 21:11] amin101 commented on #72
did you checked the link?
when you uncheck a checkbox nothing is passed to POST request, so your checkbox new status(unchecked) wont be persistened in database,you have unchecked programmatically and it doesnt affect to its status or value in database.

[2016-03-17 07:17] mitulgolakiya commented on #29
@phillipmadsen I just started working on prefix stuff. [here](https://github.com/InfyOmLabs/laravel-generator/commit/844d82591b1e47ea02eebf7eed8703224b742149) is the first commit I pushed about prefix. This commit also contains some major architectural changes. so doing some deep testing.

Meanwhile if you can do a testing for prefix on your side then it will help me to find out a bugs.

Use `pref

[2016-03-17 07:18] mitulgolakiya commented on #29
Try to run command with `--prefix="admin"`. or any prefix.

[2016-03-17 07:28] mitulgolakiya commented on #65
@wellescastro I didn't got the exact problem. Can you describe bit more ?

[2016-03-17 07:29] mitulgolakiya commented on #70
Will fix it.

[2016-03-17 13:08] wellescastro commented on #65
My models only work if i don't call the SoftDelete class, otherwise when i call for example a Resource::all(), it's empty. I was investigating and i see that there's a problem inside the boot function when try add a global scope, maybe a problem with the SoftDeleteScope:

    /**
     * Boot the soft deleting trait for a model.
     *
     * @return void
     */
    public static function bootSoft

[2016-03-17 13:30] wellescastro commented on #65
I figure out my problem, my migrations were with mistakes, then the $builder->whereNull() in SoftDeletingScope was not working

[2016-03-17 13:30] #65 closed

[2016-03-17 17:28] krantos commented on #43
I'm agree with this idea.

[2016-03-19 05:05] mitulgolakiya commented on #73
As of now, we don't have any menu support in the generator but in a near future when we are going to give a full admin panel support then we can add this feature.

[2016-03-19 05:07] #66 closed

[2016-03-19 05:09] mitulgolakiya commented on #40
@Trexology I will add support for templating of table fields.

[2016-03-19 05:21] mitulgolakiya commented on #17
@jschlies1 we already have that feature where you can extend your model with some other base class. Check config file [here](http://labs.infyom.com/laravelgenerator/docs/advanced/config-file#model-extend-class) where you can specify `model_extend_class`.

[2016-03-19 06:55] mitulgolakiya opened #75 "Purpose of Checkbox Group"
@phillipmadsen I just merged you pull request #69 and found like it is creating multiple checkboxes with the same input. so if we select all three then the last selected value will be stored in the database rather than all three values. That's why I removed the checkbox group option in my old commits.

Do you have any specific use case of need for checkbox group? Can you post it here? so I can thi

[2016-03-19 07:03] mitulgolakiya commented on #72
Fixed

[2016-03-19 07:03] #72 closed

[2016-03-19 07:40] mitulgolakiya commented on #29
I have just merged this into master and closing this one.

[2016-03-19 07:40] #29 closed

[2016-03-19 12:52] dstollie opened #76 "Update laracasts/flash package"
The generator does not accept the latest version of the laracasts/flash package. Could this be fixed?

Thanks

[2016-03-19 21:35] jschlies1 opened #77 "Paginagion not being take off command line"
See infyomlabs/laravel-generator/src/Common/GeneratorConfig.php:205. paginate should be in list, no????

[2016-03-19 22:00] jschlies1 commented on #77
I think I have the fix for this and wish to contribute other features in the future. Is this repos taking pull requests?? If yes, do I need permission/auth? I can clone but am unable to push to origin??

[2016-03-20 06:20] mitulgolakiya commented on #76
yes, will fix it.

[2016-03-20 07:26] mitulgolakiya commented on #77
@jschlies1 yes, it should be there. I will fix it. But if you want to push a fix then you can fork a repo and can put a pull request.

[2016-03-20 07:27] #77 closed

[2016-03-20 07:43] #76 closed

[2016-03-20 08:06] #41 closed

[2016-03-20 14:28] jschlies1 commented on #77
ok

[2016-03-20 14:46] vesper8 opened #78 "route helper acting weird since latest update"
I just did a composer update and got the latest dev-master changes and I noticed a change in behavior.

In my scaffold view... the edit and show buttons that used to work properly are now sending me to the api route instead.

What I mean, let's say I have a model "State". By going to /states you see the scaffolding of all my states with the show, edit and destroy buttons.

Those buttons use route(

[2016-03-20 15:26] vesper8 opened #79 "can we have a means of not generating fields for certain columns?"
The created_at, updated_at and deleted_at all should never have a field in the create/edit view. Those are handled by Laravel and aren't meant to be added or modified manually.

Maybe we could have something in the config/generator.php where we can specify which columns to not generate fields for for the create/edit views? I've been find/replacing them manually for now.

[2016-03-21 07:22] gombaniro opened #80 "The "--paginate" option does not exist."
when executing this command "php artisan infyom:api User" The error keeps showing up

[2016-03-21 11:42] codingquark commented on #80
Same here.

Laravel version: `5.2.23`
Laravel generator version: `dev-master`

[2016-03-21 12:33] codingquark commented on #51
There is some progress on this I have made. The package internally uses [fractal](http://fractal.thephpleague.com/). Hence, using presenters and transformers, we can include the relationships.

[2016-03-21 12:40] codingquark opened #81 "Question: is there a way to decide what data is sent during index and show?"
I want to respond with minimum data when `index` is called and want to return a detailed object when the `show` route is accessed. Any way to achieve it?

[2016-03-21 13:04] codingquark commented on #81
I went through the code of `BaseRepository` and I think it's possible to decide by passing columns required and also using `$availableIncludes`. Any better way to do it?

[2016-03-21 13:09] mitulgolakiya commented on #80
@gombaniro @codingquark, it was a bug at some level. But first of all, `--paginate` option is supported in scaffold generator only. It's not for API. API has a parameter options which can be found [here](http://labs.infyom.com/laravelgenerator/docs/options/api-params).

Still I fixed the bug in Scaffold generator. Try again.

[2016-03-21 13:09] #80 closed

[2016-03-21 13:12] codingquark commented on #80
Can confirm it is solved. Thanks!

[2016-03-22 21:44] phillipmadsen commented on #75
Yes example would be.

options: field

option1:boolean
option2:boolean
option3:boolean

if(in_array(options, option1 === true))
return .....
endif

----------------

I  should have editted this better and made each one save individually in the db but style them in  a group.  I  will see what I  can do to make it do this. sorry for not explaining this better.

***You should build in a default crud

[2016-03-22 23:36] phillipmadsen opened #83 "need to add deleted_at to fromTable cmd"
it keeps coming up missing on the generation unless you use the make:auth but then it comes with the auth files.

[2016-03-23 15:50] phillipmadsen commented on #81
He is working on a new fields file import that you can specify this in.

[2016-03-23 16:01] phillipmadsen opened #84 "Need to add Base View Stubs"
It would be helpful if you incude base layout / master files to the generator.  May be a command of infyom.publish:setup to install them into the project.

Possible Examples:
* layouts/**app.blade.php**
* layouts/partials/**header.blade.php**
* layouts/partials/**footer.blade.php**
* layouts/partials/**sidebar.blade.php**
* layouts/partials/menu/**nav.blade.php**
* layouts/partials/menu/**item.bla

[2016-03-23 20:38] phillipmadsen opened #86 "Need to add publish command"
### ADD: php artisan infyom.publish:publish
### Or: php artisan infyom.publish:setup // and add all setup files and views and routes into this one.

Nothing is publishing the common files such as errors.blade.php and such.

***php artisan mitul.generator:publish***  equivalent

[2016-03-24 04:40] codingquark commented on #81
Is there any link to it so that I can subscribe to it and close this thread?

[2016-03-24 17:58] phillipmadsen opened #87 "Is there a way to specify views to be generated?"
Wondering it there is a way to specify views that are to be generated.

example:
[code]
which makes all crud files but with only index.blade.php and show.blade.php and only index and show methods in the controller and routes?

[2016-03-24 18:03] phillipmadsen commented on #73
You can use this one. I  use it right know and don't have any issues.
https://github.com/caffeinated/menus/wiki/Quick-Start

[2016-03-25 19:45] phillipmadsen opened #88 "Really need a Boolean option"
[code]
provides a simple true false response.

example uses are:

is_published
has_option
activate_section

[2016-03-25 19:49] phillipmadsen commented on #88
**Also needs to generate:**
[code]
**Example Uses:**
[code]

[2016-03-25 19:50] phillipmadsen commented on #88
Checkbox works but need both choices true false.  This would just need checked  which would output true if checked and needs just the field name and no options.

[2016-03-26 04:01] mitulgolakiya commented on #81
it is something related like #35

[2016-03-26 09:26] mitulgolakiya commented on #83
@phillipmadsen I am not able to get your issue. Can you describe it bit more ?

[2016-03-26 09:58] mitulgolakiya commented on #88
@phillipmadsen check with the latest code. its done.

[2016-03-26 10:16] mitulgolakiya commented on #79
With the latest code, created_at and updated_at are not added in forms anymore. And we are going give the option to specify if a field should be added in index and form.

Check the branch https://github.com/InfyOmLabs/laravel-generator/tree/35_include_in_index_form

duplicate of #35

[2016-03-26 10:16] #79 closed

[2016-03-26 10:20] mitulgolakiya commented on #78
Can you post your generated files with `config/infyom/laravel_generator.php` and `routes.php` and `api_routes.php` ?

[2016-03-26 10:21] mitulgolakiya commented on #46
fixed.

[2016-03-26 10:21] #46 closed

[2016-03-26 10:25] mitulgolakiya commented on #30
Duplicate of #88

[2016-03-26 10:25] #30 closed

[2016-03-26 10:47] mitulgolakiya commented on #40
added.

[2016-03-26 10:47] #40 closed

[2016-03-26 10:48] mitulgolakiya commented on #35
support added for `inForm` and `inIndex` params in schema file.

Check the latest json file schema here: https://github.com/InfyOmLabs/laravel-generator/blob/master/samples/fields_sample.json

[2016-03-26 10:48] #35 closed

[2016-03-26 10:49] #88 closed

[2016-03-26 10:49] mitulgolakiya commented on #81
Commited in master. Check with the latest code.

[2016-03-26 10:49] #81 closed

[2016-03-27 13:05] vesper8 opened #92 "can we override generators like we can override templates?"
I find it very useful that you allow us to publish the templates and then override the ones we want with our own templates.

But is it possible to do the same thing with the generators? Right now I am editing the ones inside the vendor package but this is not ideal as my changes are lost everytime I run composer update.

For example I would like to override /vendor/infyomlabs/laravel-generator/src

[2016-03-28 03:44] john5db commented on #50
@phillipmadsen How you generate external files which are not came default by this package

[2016-03-28 03:47] mitulgolakiya commented on #50
I have started working on it. Maybe it will be shipped by the end of this week.

[2016-03-28 04:30] NightZpy commented on #50
@mitulgolakiya oh, very good bro, thanks!

[2016-03-28 04:33] NightZpy opened #93 "Tutorial for add packages to laravel and this project?"
I'm very interested in extend this package (pull request via), but don't find a good tutorial for this!
Someone has some good tutorials ?

[2016-03-28 04:37] john5db commented on #50
@mitulgolakiya  Thanks. waiting for this feature.

[2016-03-28 04:39] john5db commented on #92
he is working on it

https://github.com/InfyOmLabs/laravel-generator/issues/50

[2016-03-28 04:45] john5db commented on #93
you can check docs here
http://labs.infyom.com/laravelgenerator/docs/introduction

you can also check older version docs (it is easy to understand)
https://github.com/mitulgolakiya/laravel-api-generator/blob/master/installation.md

[2016-03-28 04:48] NightZpy commented on #93
@john5db oh my friend, don't understand me. I want tutorials for colaborate with this package. Then i need some tutorial for make packages for laravel!

[2016-03-28 05:08] john5db opened #94 "GUI version of this plugin"
It would be nice to have GUI version of this plugin.
in GUI you will do less mistakes, and don't have to type again and again.

sometime i misspell in CMD and hit enter then i can't rollback it will generate all files and i have to delete all files one by one and follow whole procedure again.

** There should be a feature of delete last scaffold to delete all files of last scaffold.
 a command may

[2016-03-28 05:11] mitulgolakiya commented on #94
GUI version is already in progress and almost 30-40% completed. But it will take a bit long, so it's in 0.2 milestone. Maybe I will ship it in around 1 month.

And about rollback stuff, we already have an issue here: https://github.com/InfyOmLabs/laravel-generator/issues/43

[2016-03-28 05:13] john5db commented on #94
Thanks.

[2016-03-28 05:24] john5db commented on #93
sorry . I misunderstood you.
there are no tuts for collaboration with this package right now . you can get some info from @mitulgolakiya who is developing this package.

for package development there are many tuts
some references
http://amitavroy.com/justread/content/articles/developing-package-laravel-51-%E2%80%93-part-1
http://laraveldaily.com/how-to-create-a-laravel-5-package-in-10-easy-steps/

[2016-03-28 10:02] vesper8 commented on #92
Yea I know, I saw that and it's great he's going to bake in datatables. But that doesn't answer my question here. What is the best way to override the generators? And if he could make it easy for us to override them in a similar manner to how we override the templates that would be helpful for the future. There may certainly be other cases where users will want to add their own additional stub fil

[2016-03-28 18:06] mitulgolakiya commented on #92
@vesper8 really its a great idea to have some detailed architecture level details of this package like how things are actually running. I will document that out once we complete our first milestone.

Also, we have some plans about having some more templates for popular themes and frameworks. so we  are in the process of that. Once we complete 2-3 packages for that then we will have a better idea f

[2016-03-29 11:34] vesper8 commented on #50
These are the stubs I am using to generate my datatables (as a service http://datatables.yajrabox.com/service). I'll post them here, might be helpful to you.

I know some of what I did is dirty but it may still help.

Take note that I'm using 'Stolz/Assets' to load my datatables js/css which basically only loads
[code]

Added this to GeneratorConfig.php

[code]

Added this to laravel_generator.php

[2016-03-29 21:28] phillipmadsen opened #95 "Possible Edit to new additions."
***When  using the NEW PREFIX and inIndex , inForm options WHICH ARE AWESOME.; I think there needs to be a edit in a few of them or maybe you can see a reason for them the way they are that I  do not. ***

## Make the controller, repository and any other gobal / universal for all prefixed versions of the crud.

## example:

***crud generated:***

### {ADMIN}/users
### {ACCOUNT}/users
### {SOCIAL}/

[2016-03-29 21:33] phillipmadsen commented on #83
Sorry I  forgot to add If using softdeletes the table will need to have deleted_at included so you should make it default or an option. Everytime I  use the generator I  have to manually add it to the table.

[2016-03-29 21:45] phillipmadsen commented on #86
### Here is the output of files at present.
[code]
Here is what it should possibly look like:
[code]
And example of my current build:

[code]

[2016-03-29 22:25] phillipmadsen commented on #95
Something to make this simpler to create.
[code]

***Right now I  am making the changes but it would be great to be able to generate the files with the generator.***

Maybe even make a cmd like this:
[code]
## Or the best way I  am thinking is along these lines.
[code]

[2016-03-29 22:28] phillipmadsen commented on #95
## The last would generate something along the lines of the following:

***This is an example of my current build i am using your package to make some of the part of ( seems like a big build and it is. this is just an example of the user model none of the rest )***

|- app
    |- Models
        |- admin
             |- layouts
                 |- partials
        |- backend
             |- layouts

[2016-03-29 22:56] phillipmadsen opened #96 "Possible Edit to new additions for Routes"
### Generate a routes file like the api one fore each prefix created in the generator:

(I will use my other example command as possible concept)

[code]
#### This example would require 3 new prefix route files and routes
[code]
#### Each one containing:
[code]
{$PREFIX$}
{$MODAL_NAME$}
{$PUBLIC_FUNCTION$}

[code]

[2016-03-31 04:00] 3runoDesign opened #98 "Error - Naming the application"
When you change the application name using `php artisan app:name`, occurs exception. Because it can not find the controller.

[2016-03-31 18:31] mitulgolakiya commented on #83
`softDelete` is already optional. Check it [here](https://github.com/InfyOmLabs/laravel-generator/blob/master/config/laravel_generator.php#L105). so if you are generating from table which doesn't have `deleted_at` column then make it false.

[2016-03-31 21:59] Pilote1989 opened #99 "Help with foreing keys"
Hi, im trying to generate via json and one field of the model is the following:

[code]

But i get this error : "Invalid argument supplied for foreach()", what im doing wrong?

[2016-04-01 09:24] NightZpy commented on #50
Another table plugin, excellent for one to many relationship!

[2016-04-01 12:49] vesper8 commented on #98
yea this bug is ooooold.. I reported it like 6 months ago on the previous project. I hope it will be fixed along with #70 as it is kind of related.

[2016-04-01 16:18] phillipmadsen commented on #83
What im saying is if you use the softdelete table option then it requires a deleted_at field. Your package is not adding this like it should.

softdeletes required deleted_at
your package is missing this part when using --softDeletes

so when you generate the crud and go to view the outcome there is a field missing error.

[2016-04-02 06:00] mitulgolakiya commented on #98
After changing namespace of your application, are you updating your namespaces in `config/infyom/laravel_config.php` ? It's documented over here: http://labs.infyom.com/laravelgenerator/docs/advanced/config-file#namespaces

[2016-04-02 06:33] mitulgolakiya commented on #99
Post some more details, because I just did a fresh installation of laravel 5.2 and installed all packages as per documentation. And then copied the existing sample fields file form [here](https://github.com/InfyOmLabs/laravel-generator/blob/master/samples/fields_sample.json) and added this field to that and it worked fine on my machine.

Post some more information of your project or a full JSON fi

[2016-04-02 13:58] mitulgolakiya commented on #83
@phillipmadsen Still I'm not able to get you issue. Can you post the following thing ?

1. Your existing database table on which you are running command
2. Command that you are running
3. Problematic files
4. Problem notes (Expected Result, Actual Result)

[2016-04-02 14:04] avescasio opened #100 "Example for creating crud"
I'm new here in Laravel and started learning in 5.2 for a month now.
While starting developing a project in my company I found out that I was to lazy as a front end developer.
However, I'm looking for some ways to speed up and I found your very popular generator.
Anyway can you give me links for some examples on how to use since the GUI is in progress. a video tutorial can most appreciated so I ma

[2016-04-02 14:51] #100 closed

[2016-04-02 20:18] 3runoDesign commented on #98
Doesn't work! @mitulgolakiya does not find the file:
https://github.com/InfyOmLabs/laravel-generator/blob/master/src/Controller/AppBaseController.php#L5

[2016-04-03 06:15] mitulgolakiya commented on #98
@3runoDesign ok, will fix it.

[2016-04-04 12:23] mitulgolakiya opened #101 "Add swagger info in AppBaseController"
Creating in reference of https://github.com/InfyOmLabs/swagger-generator/issues/1

[2016-04-05 20:23] phillipmadsen opened #102 "The most recent version will not let any of the forms submit. they all return errors."
MethodNotAllowedHttpException in RouteCollection.php line 219:

[2016-04-05 21:09] phillipmadsen opened #103 "Possible addon to File_util.php and file.stub"
Should configure file.stub to use preview and path with extension for the file field.

[code]
***My stub would generates something like this:***

[code]

![file stub concept](https://github.com/phillipmadsen/stuff/blob/master/img/image_concept.png?raw=true)

[2016-04-05 21:12] phillipmadsen commented on #1
concept of file input for generator. something to think about while working on the controller output.
[https://github.com/InfyOmLabs/laravel-generator/issues/103](url)

[2016-04-05 21:15] phillipmadsen commented on #81
This is now controlled with inIndex and inForm in the fields-file.json file.

[2016-04-05 21:52] phillipmadsen opened #104 "backup functionality for db"
https://github.com/InfyOmLabs/laravel-generator/pull/97

[2016-04-06 01:58] avescasio commented on #99
I think what is he trying to elaborate is hes trying to create a scaffold with foreign keys that belongs to other tables. I was simulating this on my project too, if not will I make other post for this?

[2016-04-06 03:59] mitulgolakiya commented on #102
@phillipmadsen I tested it with fresh installation and it worked fine. Can you post some more details ?

[2016-04-08 20:21] phillipmadsen commented on #102
Yes let me do the same and If its still happening ill report it or if I  can find it ill push a fix.

[2016-04-08 20:25] phillipmadsen opened #105 "Question"
Would it be to possible to make the prefix a 2 part prefix option?

example:

%FILE_PREFIX%
%ROUTE_PREFIX%

***For the file system you could do this***
views/backend/*
***But for the route the same path would be like this***
route('admin.*
***The reason this would be helpful is to make it easier to add to an exiting site with already build file system based off older verions or files but the paths

[2016-04-09 03:39] fredy-bambang opened #106 "php artisan infyom:scaffold for custom table error and question about searchable"
Hello, thank you for this cool stuff,
i interested to try it out.

i just try this command below
**php artisan infyom:scaffold TrialTable --tableName=AX123 --paginate=5**

and get error when do the migration
**[Symfony\Component\Debug\Exception\FatalErrorException]
Class 'CreateAX123Table' not found**

when i check the migration it created file with name
2016_04_08_202724_create_AX123_table.php
an

[2016-04-09 04:40] john5db commented on #105
+1
I am also looking for that.

[2016-04-11 17:13] phillipmadsen commented on #105
Yes this would make it more adaptable to existing builds.

[2016-04-11 17:59] phillipmadsen opened #107 "Add overwrite confirm to migration table if exists"
To help keep this clean this option should be added to all files probably not just migration but this will help in the development process where the files need to be overwritten for little changes repeatedly.

[2016-04-11 19:21] phillipmadsen opened #108 "Possibly add output option to fields"
1- Add the option to html output the fields or just output normal.

2- Another option that is needed is output lowecase or normal.

example:

[code]
As you can see the output of value should be lowercase in order to work propertly with the css and js of the page.

[2016-04-11 19:38] phillipmadsen opened #109 "Better definition for the route used for links."
Many ways to do this but as of right now the routes are only working some of the time.

Here is an example using model binding into route:

[code]
### Add this right into the routes file or a seperate file and include it like you did with api_routes.php

[2016-04-12 18:23] #104 closed

[2016-04-12 18:34] #27 closed

[2016-04-12 18:39] mitulgolakiya commented on #27
closed in ref of https://github.com/InfyOmLabs/core-templates/pull/5

[2016-04-12 20:22] phillipmadsen commented on #102
This is no longer an issue.

[2016-04-13 15:26] jschlies commented on #17
Actually, I thinks using traits rather that base classes may be better. I would like to tackle this. I will post a proposal (just a few hundred words) before I begin.

As for generating the Eloquesnt methods, you think it better to import and somehow call it OR just import the code into ModelCommand ?

[2016-04-14 19:42] phillipmadsen opened #111 "Just had and idea tell me what you think"
## Create a plan of whole build before hand.
The whole output of crud could be put in instructions in the config file as well as the artisan commands.  with a simple enable switch just like you put in place for the data tables.  As usual I  will make this clear with and example.

[code]

This way you could run a builder command and it will output all the files. of course everything will have to be

[2016-04-15 18:34] mitulgolakiya commented on #106
@fredy-bambang I have fixed table name stuff, will push it in next release.

You can find documentation for search [here](https://github.com/andersao/l5-repository#enabling-in-your-repository)

[2016-04-20 13:27] mitulgolakiya commented on #101
Now we are publishing AppBaseController with swagger info in latest version.

[2016-04-20 13:27] #101 closed

[2016-04-20 13:27] mitulgolakiya commented on #98
resolved in latest version.

[2016-04-20 13:27] #98 closed

[2016-04-20 13:28] mitulgolakiya commented on #94
First Beta is out. [Here](http://labs.infyom.com/laravelgenerator/docs/generator-gui-interface) is the doc.

[2016-04-20 13:28] #94 closed

[2016-04-20 13:29] mitulgolakiya commented on #94
I would like to hear the thoughts from the community. Will create a separate issue in [GUI Version](https://github.com/InfyOmLabs/generator-builder) repo.

[2016-04-20 13:30] mitulgolakiya commented on #50
Completed in the latest version. Find the doc [here](http://labs.infyom.com/laravelgenerator/docs/options/generator-options#datatables)

[2016-04-20 13:30] #50 closed

[2016-04-20 13:30] mitulgolakiya commented on #44
Rollback command added in latest version. Find the doc [here](http://labs.infyom.com/laravelgenerator/docs/advanced/commands)

[2016-04-20 13:30] #44 closed

[2016-04-21 06:55] ergonomicus commented on #50
How can we set column width or minimum column width? Everything gets messy with large text fields...

[2016-04-21 15:55] NightZpy commented on #109
Like that above shown, also following style:

/posts
/posts/comments

[code]

[2016-04-21 15:58] NightZpy commented on #111
I like, but, add subfolders by module or namespace, example:

app/Repositories/Post/PostRepository.php
app/Repositories/Post/Comment/CommentRepository.php

[2016-04-21 16:01] NightZpy commented on #95
Oh, i like this!

[2016-04-21 16:05] NightZpy opened #114 "Improve datatable feature!"
Datatable jquery plugin, have anothers plugins for improve, for example:
[Datatable Editor](https://editor.datatables.net/examples/inline-editing/simple.html)

This editor have three ways (each, have anothers great features):
- Inline: https://editor.datatables.net/examples/inline-editing/simple.html
- Bubble: https://editor.datatables.net/examples/bubble-editing/index.html
- Primary (default): ht

[2016-04-22 07:23] NightZpy opened #116 "Roll back only feature or view."
Like feature as:
- php artisan infyom:rollback $MODEL_NAME$ features="edit,create"
- php artisan infyom:rollback $MODEL_NAME$ view="edit,create"

[2016-04-22 07:29] NightZpy opened #117 "Translate (Model)"
Like new feature using this package https://murze.be/2016/04/making-eloquent-models-translatable/?utm_campaign=Laravel%20News&utm_medium=web&utm_source=ln99

For translate model data directly!
Oh, of course, also for UI!

[2016-04-23 08:54] tpharaoh commented on #106
Does that mean for search we need to add another package via composer? Do we need to edit views manually?

[2016-04-23 21:13] soly2014 opened #118 "Create a Blog for detailed docs, tutorials, videos"
I want a video tutorial to deal with this package

[2016-04-24 08:03] judgej commented on #105
:+1: Far too many tools like this will spread themselves over the namespaces, directories and model names they like, with no recourse to what is already there, meaning they can only be used on new builds. Being able to convert a build, bit-by-bit like this, would be an enormous help.

[2016-04-24 08:15] mitulgolakiya commented on #118
@soly2014 It's already in a plan where we are going to start a blog and will post videos and tutorial like how to use various features of a generator.

[2016-04-24 08:18] mitulgolakiya commented on #114
@NightZpy Thanks. Will will consider adding these features into the datatable.

[2016-04-24 08:25] mitulgolakiya commented on #105
I have started working on it. Will push it in next week.

[2016-04-24 08:30] mitulgolakiya commented on #78
Tested everything and working fine.

[2016-04-24 08:30] #78 closed

[2016-04-24 08:32] mitulgolakiya commented on #99
we have a separate issue for a foreign key and relationship. And I tried with this template and everything is working fine.
so closing it.

[2016-04-24 08:32] #99 closed

[2016-04-24 14:07] vesper8 commented on #114
Would be really awesome if you added support for Datatables Editor. I bought it personally and love it. I'm planning to modify the stubs to add support but it would be nice if it was out-of-the-box!

[2016-04-25 02:06] NightZpy commented on #114
Only consider, that datatable editor is not free!

[2016-04-26 12:14] vesper8 commented on #13
You know All I had to do to get dingo working is replace the API code you generate from the one you were generating in your previous package

[code]

And then in the api_routes.php I replaced Resource:: by $api->resource

And that's it? Isn't it? I did that and I'm using Dingo. Piece of cake no? Or am I missing something.

[2016-04-26 18:55] mitulgolakiya commented on #13
@vesper8 I'm not sure. Not much experienced with dingo. But will check, if that's it then will add it.

[2016-04-27 03:25] garenk02 opened #120 "route:list & swagger"
Hi, I have 2 questions:

1. Why my API generated not show/working when I do '**php artisan route:list**'
**[ReflectionException]
Class App\Http\Controllers\PlacesAPIController does not exist**

2. How to automatically generate the swagger api docs?

[2016-04-27 04:13] mitulgolakiya commented on #120
@garenk02 I think you have generated files then run rollback command. There was one minor bug which was not deleting routes. And also `composer dump-autoload` was not run.

I fixed that. Get the latest code and check again.

For swagger docs, [here](http://labs.infyom.com/laravelgenerator/docs/options/generator-options#swagger) is the doc for that.

[2016-04-27 06:32] garenk02 commented on #120
Hi, thanks for the fast respond
Actually, I'm very exciting with this package.
One thing that i still confuse is about the swagger, how this package generate the swagger documentation?
I'm using this package for generate/create API, when i'm done generate one API using 'php artisan infyom:api MyExampleController', is it automatically generate the swagger documentation?
If yes, how do (where) I che

[2016-04-27 12:47] 3runoDesign opened #122 "Question :: Create an API"
Maybe it's a simple question, but how to create an API Request using infyOm?
I saw that has a routes_api.php file but how to use?

😄

[2016-04-28 07:00] garenk02 opened #123 "/get/{id} return error code 500"
@mitulgolakiya, when I try to fetch (get one data) if the data is not exist in database, why the result return error code 500 with empy/blank respond.

Many thanks

[2016-04-28 07:08] garenk02 commented on #122
@3runoDesign have u already try to run '**php artisan infyom:api Example**' from your terminal/command prompt?
As far as I know that is the way to generate an API. u can see the docs here: **http://labs.infyom.com/laravelgenerator/docs/getting-started/generator**

[2016-04-28 19:36] phillipmadsen opened #124 "New Adjustment / Feature Request"
In Working with the new builder when I  run something like
[code]
I  found there is no way to name it or use it in a particular prefix or with a certain layout.
Here is an example of what i am doing and needing it to generate.

Run
[code]
And
[code]
Now the problem is when I  run
[code]
I  cannot tell it what to use or where to use it.
***PROPOSE WE ADD A THEME OR LAYOUT COMMAND***
We could use so

[2016-04-28 19:38] phillipmadsen opened #125 "Need Template Assets publish command"
As of right now I  do not see a way to publish assets required for the tempates into the public folder.

Also need to be able to publish them into a theme or layout directory to keep it clean and so it is only used for that layout / theme.

Am I  missing it or is this just no built in yet?

[2016-04-28 19:43] phillipmadsen commented on #124
[code]

[2016-04-28 19:46] phillipmadsen commented on #125
[code]

[2016-04-29 03:17] righter opened #126 "Confirm before adding API group to routes.php for publish command"
If the infyom:publish command is run multiple times, the API route group is added to routes.php even if it was previously added. A simple fix would be to ask the user if they want to add the route group before modifying the file.

[2016-04-29 03:48] mitulgolakiya commented on #123
with apis or scaffold ?

[2016-04-29 04:11] garenk02 commented on #123
@mitulgolakiya, with api only

I already fix this with change the ->find(id) in my controller to ->findWithoutFail(id) that extends from
abstract class BaseRepository extends \Prettus\Repository\Eloquent\BaseRepository

But now when I try to POST,PUT,PATCH it return error 500 again :(

Seriously need helps

[2016-04-29 04:15] righter commented on #126
@mitulgolakiya -- I have a branch that fixes this issue if you're interested. I did do a bit of refactoring on user confirmation though. It's now a single method contained within BaseCommand. PublishBaseCommand now extends BaseCommand so it and its children can make use of the BaseCommand method.

If it's more changes than you're comfortable pulling in, no problem. Let me know and I'll issue a pul

[2016-04-29 11:18] garenk02 commented on #123
I know the problem was because I add an addtional respond in Handler

[2016-04-29 11:18] #123 closed

[2016-05-02 07:00] sandip12 opened #127 "Not Able to install this - Urgent Help"
Getting this error .

composer require infyomlabs/laravel-generator

  [InvalidArgumentException]
  Could not find package infyomlabs/laravel-generator at any version for your
   minimum-stability (stable). Check the package spelling or your minimum-sta
  bility

require [--dev] [--prefer-source] [--prefer-dist] [--no-plugins] [--no-progress]
 [--no-update] [--update-no-dev] [--update-with-depende

[2016-05-02 07:33] mitulgolakiya commented on #127
@sandip12 I think you are new to laravel.

so to use packages in laravel, you must add it in `"require"` section. Not directly in `composer.json`. You composer.json should look like this,

[code]

Try this and it should fix your problem.

[2016-05-02 12:02] #122 closed

[2016-05-02 22:07] eescalante opened #129 "infyom.publish:layout don't use customized layout"
Hi,
when i try to set my layout by 'php artisan infyom.publish:layout'

It ignores my customized files at 'resources/infyom/infyom-generator-templates' and keeps using the original templates.

It that an issue or is this an expected behivior?

[2016-05-02 22:48] malhal opened #130 "API errors not working"
To recreate this simply open the api route to an item and pass an invalid id, e.g. a row that doesn't exist.

In the show function in the generated API Controller, in the case of the record not found the JSON response is not returned. Instead the default "sorry" web page is shown. This is because the find method of the repository does a findOrFail fails and throws an exception. This exception is t

[2016-05-03 23:36] malhal commented on #130
I have a solution to the problem by creating Exceptions/APIHandler and updating the singleton in the api_routes.php. This enables rendering of exceptions to JSON for only API routes without any modifications to the existing Handler class. Happy to do a pull request.

[2016-05-04 07:06] malhal commented on #13
Dingo uses its own router so I would prefer instead to keep Infy's great design of using the built in router and addition of the api_routes file via a route group. Much less overhead and cleaner design.

[2016-05-06 13:30] garenk02 commented on #120
Hi @mitulgolakiya
Can u help me to explain how the swagger generate di REST API documentation?
Because it's not working in my local development (after generate the api)

Many thank's

[2016-05-06 18:07] #127 closed

[2016-05-06 18:09] mitulgolakiya commented on #120
@garenk02 can you post your model details of saved JSON Schema files ? And all generated files ?

[2016-05-07 05:27] mitulgolakiya commented on #130
thanks @malhal. I will take it in a queue to support a custom exception handler.

[2016-05-07 06:07] mitulgolakiya commented on #129
@eescalante Can you get the latest code  and check again ?
Or just post the detailed steps what you have done and also the files that are generated.

[2016-05-07 06:13] mitulgolakiya commented on #124
@phillipmadsen I got the idea what you are trying to do. It's a valid point. But in general, stuff, why someone will use two themes in just same project. People wants consistent layout and theme in all of the pages of the project.

But anyway, I am adding it to the backlog and can do it once we have some specific requirements.

[2016-05-07 06:15] mitulgolakiya commented on #126
@righter Thanks. I will check it

[2016-05-07 06:22] mitulgolakiya commented on #125
duplicate of #124

[2016-05-07 06:22] #125 closed

[2016-05-07 07:00] mitulgolakiya commented on #109
moving to the second milestone. Because we are going to implement some Exception handler stuff rather than just throwing 404 errors. #130

[2016-05-07 07:09] mitulgolakiya commented on #108
@phillipmadsen then you can publish and customize templates as you want something like you suggested. But as this is not a general requirements of everyone. so closing it.

[2016-05-07 07:09] #108 closed

[2016-05-07 07:16] mitulgolakiya commented on #96
@phillipmadsen What is the exact purpose of generating three routes files ? I don't see any perfect requirements of this.

Can you explain it bit in detail ?

[2016-05-07 07:17] #96 closed

[2016-05-07 07:23] mitulgolakiya commented on #118
Items need to be included:

- [ ] Tutorials on how to use various packages
- [ ] Video tutorials
- [ ] How package works Post
- [ ] How to extend Package
- [ ] How to develop your own packages as add-on to this package

[2016-05-07 07:23] mitulgolakiya commented on #93
@john5db We have it in a queue. Where we are going to start a blog, where we will post detailed tutorials for using various features with videos and even the tutorials like how exactly package is working, how someone can extend it and develop even his own packages.

You can track it here: https://github.com/InfyOmLabs/laravel-generator/issues/118

[2016-05-07 07:23] #93 closed

[2016-05-07 07:26] mitulgolakiya commented on #75
@phillipmadsen Maybe people can use customize templates when they need it by their own way. Or we will re-open it once we find some specific requirements.

[2016-05-07 07:26] #75 closed

[2016-05-07 07:28] mitulgolakiya commented on #68
I tested it again with checkbox and its working fine.

[2016-05-07 07:28] #68 closed

[2016-05-07 07:35] mitulgolakiya commented on #34
@phillipmadsen I have re-tested it with the latest code Where I haven't included deleted_at in form and its working fine.

Just re-check and re-open it if you any problem.
![screen shot 2016-05-07 at 1 04 55 pm](https://cloud.githubusercontent.com/assets/1908535/15090864/5bc5a4d0-1454-11e6-890d-767c13a86621.png)

[2016-05-07 07:35] #34 closed

[2016-05-07 13:54] vesper8 opened #132 "can't override controller.stub anymore"
Nevermind, I see that now you have to override datatable_controller.stub instead if using the datatables option.

But I wouldn't have to use these custom ones if you finally fixed #70

[2016-05-07 14:01] #132 closed

[2016-05-07 15:32] vesper8 commented on #35
How can I have created_at, updated_at and deleted_at not added to forms if I am generating my scaffolding from existing tables ?

[2016-05-07 15:35] vesper8 opened #133 "Can we have a flag for not adding entries to routes.php and api_routes.php"
I have to regenerate often as I modify the schema and everytime I have to undo the additions to the two routes files because the routes are already there and it just keeps appending more and more

[2016-05-07 15:42] vesper8 commented on #79
I'm using latest code with datatables and created_at, updated_at and deleted_at are still added to the edit form!!

What's worse, when you edit an entry it automatically populates deleted_at with zeros which then causes it not to show up in the list!!!!!

I've asked for a means to have those 3 fields not appear in forms, your answer to this was to add the ability to have fields not show up in form

[2016-05-07 17:09] vesper8 opened #134 "tinyInteger gets casts as boolean"
I noticed that when creating scaffolding from a table, my fields that use tinyInteger are represented as boolean in the generated model.. which causes integers (2 and above) to be misrepresented in the table as just "true"

[2016-05-09 06:30] garenk02 commented on #120
Hi @mitulgolakiya

Now when i access:

- http://localhost:8000/docs/
- http://localhost:8000/api/docs

it's already working, but why it always re-generate to default state (empty paths & definitions)

Really need help.

Many thank's

[2016-05-09 13:34] yepco opened #135 "laravel-generator config file not change"
I change laravel-generator.php file but when I run
`php artisan infyom:api Post`
Create file with default value.
I change model address and namespace but not change

[2016-05-09 20:06] malhal commented on #130
Also I think findWithoutFail is unnecessary. If find does fail then the built in exception handling happens which is what most people would want. The exception might not always be not found and null returned which is what the controllers are assuming. Best just less it fail, exception, thrown, handler generate output.

[2016-05-10 13:03] kirchaj opened #136 "problem with date field"
I have created a crud table with two date fields.  When I enter data into the create form I end up with the following error

InvalidArgumentException in Carbon.php line 425: Unexpected data found.
Unexpected data found.
Data missing

 in Carbon.php line 425
at Carbon::createFromFormat('Y-m-d H:i:s', '05/10/2016') in Model.php line 2958
at Model->asDateTime('05/10/2016') in Model.php line 2912
at M

[2016-05-10 15:30] kirchaj commented on #136
ok, this was caused by a date entry issue.  I had entered 05/10/2016 and it really wanted 2015-05-10.

[2016-05-10 20:20] phillipmadsen opened #137 "PHP Fatal error // After setup if prefix is used its looking for AppBaseController in all the prefix dir's"
PHP Fatal error: Class 'App\Http\Controllers\Admin\AppBaseController' not found in /home/vagrant/home/app/Http/Controllers/Admin/ArticleController.php on line 14

***Got this after running:***

php artisan infyom:api_scaffold Product --fieldsFile='resources/model_schemas/Product.json' --prefix=admin

[2016-05-10 20:24] phillipmadsen commented on #137
temporary fix I  put
[code]
This uses the AppBaseController in the non prefixed directory. I  have not tested if this will work or cause issues I am just giving you a heads up.

[2016-05-11 14:22] syehbiherbian opened #138 "Class 'InfyOm\CoreTemplates\CoreTemplatesServiceProvider' not found"
this is my file `composer.json`

"infyomlabs/laravel-generator": "dev-master",
        "infyomlabs/adminlte-templates": "dev-master",
        "laravelcollective/html": "5.2.*",
        "infyomlabs/swagger-generator": "dev-master",
        "jlapp/swaggervel": "dev-master"

but. when i will `php artisan vendor:publish` can't run
this is my problem `Class 'InfyOm\CoreTemplates\CoreTemplatesServicePro

[2016-05-11 17:25] phillipmadsen commented on #137
The temp fix did not work. This is also looking for AppBaseController in the api directories

[2016-05-11 18:32] mitulgolakiya commented on #137
@phillipmadsen I am already on it and will push a fix by this weekend.

[2016-05-11 18:35] mitulgolakiya commented on #138
I think you need to remove that class from `app.php` and include `\InfyOm\AdminLTETemplates\AdminLTETemplatesServiceProvider::class`.

Check docs it [here](http://labs.infyom.com/laravelgenerator/docs/templates/adminlte).

It needs some document update. I will update it.

[2016-05-11 18:45] mitulgolakiya commented on #136
duplicate of #71

[2016-05-11 18:45] #136 closed

[2016-05-11 18:48] mitulgolakiya commented on #133
@vesper8 great idea. Even we can give a support to skip one or more generate things. I will add a support for it.

[2016-05-11 18:53] mitulgolakiya commented on #135
@yepco Can you post your laravel-generator.php and generated files here. I have tried to change model location and namespace and it worked fine.

[2016-05-11 22:29] syehbiherbian commented on #138
thank you bro, success

[2016-05-11 22:29] #138 closed

[2016-05-12 08:39] yepco commented on #135
Thanks
I solved it.
I have another question
I have json file and How I import it in php artisan command?

[2016-05-12 12:09] digitaldreams opened #139 "Waste of time"
Its a waste of time trying to installing this library.
Its have a very poor documentation and i followed all of their installation guide but it fails.

[2016-05-12 12:13] tpharaoh commented on #139
It certainly has a learning curve... biggest misunderstanding could be
related to templates... once you got that... you can install it. I have
uesd it several times.

Of course, there are other packages if one of them fits your needs better.
This certainly has its strengths...

On 12 May 2016 at 14:09, Tuhin Bepari <notifications@github.com> wrote:

[2016-05-12 12:21] digitaldreams commented on #139
You should add a video which will highlight most of the main features. So developer will be able to decide is this package will helpful or not before wasting their valuable time.
Please add a video tutorial on your hope page.

[2016-05-12 12:22] digitaldreams commented on #139
If you are a pure laravel developer then you should follow laravel documentation. Its simple, descriptive and moreover no confusion.

[2016-05-12 16:50] phillipmadsen commented on #139
He is still building this that is why it is unstable dev build. why would he make a video on something he is not sure of? He would be wasting his time. You should wait for the stable package or use his old one.

Just  a thought.

[2016-05-12 17:55] mitulgolakiya commented on #139
Dear @digitaldreams, Not sure what not worked on your side. Because lots of developers are already using it on a daily basis. And this package got more than 5K downloads till date and more than 500 stars and it's still growing. Not sure why you seems it's a waste of time.

Also, we are already here to help everyone if anyone is getting any issue.

so just let us know what's not working on your sid

[2016-05-13 07:49] lubieplacki500 opened #140 "PostGIS geometry type support"
Hello.
I just started new project based on Laravel and PostGIS and I found your packege and I think is great, but when I generate model from table I get this error

[code]

so I find [creof/doctrine2-spatial](https://github.com/creof/doctrine2-spatial) package which contain geometry and geography types but i don know how to use it with your generator

[2016-05-13 13:49] adilsaeed31 opened #141 "Database nothing return,"
Hi,

I generate api_scaffold with model name Product and the table name is products, but some reason, i don't know, no result are coming through model query, that is strange behaviours, i have checked that the query perform fine but records not return also in api or in admin LTE side.

Thanks
adil

[2016-05-14 05:48] #126 closed

[2016-05-14 12:45] mitulgolakiya commented on #106
No. Search is currently supported in apis only with this given package. This package is already installed when you install a generator. The search option is currently available when you generate scaffold with datatables. You can find doc [here](http://labs.infyom.com/laravelgenerator/docs/options/scaffold-options)

[2016-05-14 12:45] #106 closed

[2016-05-15 06:20] yepco commented on #135
I Use this command
`php artisan infyom:scaffold $MODEL_NAME$ --fieldsFile=absolute_file_path_or_path_from_base_directory`

[2016-05-15 06:20] #135 closed

[2016-05-15 12:11] john5db commented on #139
@digitaldreams it is not waste of time. You can learn this package in less time than you could build single CRUD resource controller manually.

But once you learn this package you can create fully working CRUD in less than minute.It will save your tons of time and money. So investing on learning is never waste of time.

Yes this package docs are bit confusing, There should be quick start guide wit

[2016-05-15 16:05] paranoid-m opened #142 "Run Artisan::call("vendor:publish") before run php artisan migrate"
Hi,
I create laravel package module  with your script.
I want run `Artisan::call("vendor:publish")` before execute migration.
What should I do?

[2016-05-16 18:28] mikahoy045 opened #143 "Datatables Not Working"
Please help. I followed quick installation in https://github.com/yajra/laravel-datatables but whenever I did create new scafold, it's not shown datatables in views, instead shown bootstrap menu. ( I already enabled 'add_on.datatables' => true in laravel-generator.

[2016-05-16 21:26] alexglue opened #144 "Controller stub show action redirect route ignoring --prefix"
This is my usage case:
$ php artisan infyom:scaffold User --fromTable --tableName=users --save --prefix=admin
//datatables => true

[code]

[2016-05-16 21:33] alexglue opened #145 "DataTable ajax() method ignores --prefix"
//laravel-generator/templates/scaffold/datatable.stub
php artisan infyom:scaffold User --fromTable --tableName=users --save --prefix=admin

[code]

this is because of missing $ROUTES_AS_PREFIX$

[2016-05-17 12:57] gsc89 opened #146 "Using Relationships"
Hi all,

More of a question / discussion than a issue, how are people dealing with multiple hasmany / belongs to many relationships?

Straight out of the box I generated a bunch of scaffolding based on a database I had setup, things were looking amazing but... relationships?

I have a items table which has multiple tables relating to it so for example, types, grades, materials, sizes, locations.

[2016-05-17 13:59] mitulgolakiya commented on #141
@adilsaeed31 can you post your generated files and database table with some sample data. so I can check.

[2016-05-17 14:00] mitulgolakiya commented on #142
@yepco [Here](https://github.com/InfyOmLabs/laravel-generator/blob/master/src/Commands/BaseCommand.php#L50) we are running migration command. so you can fork the repo and add your own code here to run publish command.

[2016-05-17 14:02] mitulgolakiya commented on #143
@mikahoy045 Have you complete all the steps of installing https://github.com/yajra/laravel-datatables ?

1. composer required package
2. adding service provider
3. Datatables facade
4. php artisan vendor:publish --tag=datatables

If any of this step is pending then it will not work.

Or just post your generated files here. so we can check.

[2016-05-17 14:08] mitulgolakiya commented on #144
@alexglue fixed.

[2016-05-17 14:08] #144 closed

[2016-05-17 17:06] mikahoy045 commented on #143
1. Composer Required package - Done
2. Adding Service Provider - Done
3. Datatables Facade - Automatically generate based on the site.

But somehow I found it working for infyom:api_scaffold, but not for infyom:scaffold

[2016-05-17 17:29] mitulgolakiya commented on #143
@mikahoy045 I will check it. But any specific problem ? Like what's not working ?

[2016-05-17 17:43] mitulgolakiya commented on #137
@phillipmadsen this is fixed in develop branch. Please check and confirm it.

[2016-05-17 17:50] mitulgolakiya commented on #70
@vesper8 @phillipmadsen I have added one new option into [laravel_generator.php](https://github.com/InfyOmLabs/laravel-generator/blob/develop/config/laravel_generator.php#L116) where you can specify the prefix for your subfolders.

I didn't found any better way to do this. Please post your suggestion if you have any.

[2016-05-17 17:52] #49 closed

[2016-05-17 18:10] mikahoy045 opened #147 "Scaffold/Api_Scaffold from table not shown content"
I try to do Api_scaffold from existing table (that existing table already have content filled), but somehow in datatables view are showed but it showed without content in otherwords empty datatables.. is it normal or something I miss?

[2016-05-17 18:16] mikahoy045 commented on #143
it shows default view, not shown in datatables view.

[2016-05-17 18:46] mitulgolakiya commented on #133
@vesper8 I have added a support for skipping various files like migration, routes, controller, models etc.

If you want to skip routes generation then you can run a command something like,

`php artisan infyom:api_scaffold Post --fieldsFile=resources/model_schemas/Post.json --skip=routes`

Even I added support to skip multiple items like,

`php artisan infyom:api_scaffold Post --fieldsFile=resourc

[2016-05-17 19:14] mikahoy045 opened #148 "New Feature Request : Admin Previllige and Admin Photo / Avatar"
I tought It would be great to add this admin privillige thing, since it's also most needed so we can custom which page can be accessed, for photo not to necesary (but sure it's saving time to develop using youre package) Thanks for this great Package.

[2016-05-17 19:34] adilsaeed31 commented on #141
Hi

First you reply me after too much days.

and I created API_SCAFFOLD with name Products and Product both are not
returning anything but the strange thing is that we can create the show and
edit but listing is not available on both side, not in api request call and
not in datatables->table function, db table name is same for both products.

Thanks
Adil

On Tue, May 17, 2016 at 6:59 PM, Mitul Gol

[2016-05-18 03:52] mitulgolakiya commented on #141
I need to check your generated files. Please upload your generated files with your database table. Then I can identify the problem.

[2016-05-18 06:14] adilsaeed31 commented on #141
@mitulgolakiya Can't provide you the project files it's confidential please let me know what else i can sent you you.

Thanks
Adil.

[2016-05-18 20:42] phillipmadsen opened #149 "Error when using infyom:api_scaffold"
returns
[code]

[2016-05-18 20:46] phillipmadsen opened #150 "simple question"
Is there a artisan command or a way to update the published config file if it changes upon package update?

Anyone have an idea on this.

At least a way to notify user that they need to manually update the config due to changes or new options?

Just wondering

[2016-05-18 21:21] phillipmadsen commented on #105
Any luck on this, just wondering. I  think the easiest way to make this work would be have the following fields added to the generator page. I  see prefix maybe seperate it into

%viewsPrefix%
%routePrefix%

and add a dropdown to select the layout / theme files to use for the generation

%layoutToUse% = auto populated by themes in the themes directory

example the
basic default bootstrap
adminLTE

[2016-05-18 22:54] phillipmadsen commented on #105
Need to also add checkbox for unsigned and nullable

[2016-05-18 23:53] phillipmadsen commented on #118
I can start putting this together

[2016-05-19 00:34] phillipmadsen opened #151 "datatable generation error"
The datatable is not generating the fields it only contains id and updated_at which also do not work.

just fyi

[2016-05-19 12:02] baylf2000 opened #152 "Typo in "builder.blade.php""
There is a small typo in the "builder.blade.php" file which is downloaded when following the installation docs at [http://labs.infyom.com/laravelgenerator/docs/getting-started/installation](url)

Line 334 is currently:

`("#info").html("");`

which is missing the leading "$" sign. So it should be:

`$("#info").html("");`

Thanks,
Lachlan.

[2016-05-19 18:48] #152 closed

[2016-05-19 18:53] mitulgolakiya commented on #146
@gsc89 We already have the issue in a list for relationships. But as people use relationships in various ways. It's really hard to find what kind of scaffold views we should have for each relationship.

so I have backlogged this issue for a while and we are tracking it here: https://github.com/InfyOmLabs/laravel-generator/issues/51

We are trying to find some better way to give relationships more

[2016-05-19 18:53] #146 closed

[2016-05-19 18:53] mitulgolakiya commented on #146
duplicate of #51

[2016-05-19 18:55] mitulgolakiya commented on #141
@adilsaeed31 you don't need to provide full project files. Just the generated files for one table which has an error. Or any other sample table which produces error. Otherwise we can not identify what's exactly missing.

[2016-05-19 18:56] mitulgolakiya commented on #149
@phillipmadsen What is your base path for views in laravel_generator.php ?
Or what other settings that you have tweaked ?

[2016-05-19 18:59] mitulgolakiya commented on #120
@garenk02 what do you mean by "default state (empty paths & definitions)" ?

[2016-05-19 18:59] mitulgolakiya commented on #129
Working in the latest version.

[2016-05-19 18:59] #129 closed

[2016-05-19 21:34] phillipmadsen opened #155 "Prefix Options"
If we are using multiple prefix's on both new and old models we should probably figure out what items can be shared and what items need to be separate. So far I  have one setup with the following but would like to know what you guys think.

### Shared
* models
* repositories
* functions.php / helpers.php

### Not Shared
* controllers
* requests
* fields_file
* {prefixed}public/assets
* {prefixed}/

[2016-05-19 22:16] phillipmadsen opened #156 "Need a update command"
something like infyom:update

this should check all files, config, and verify links are working.

just an idea.

I  just installed a fresh version of the package and the routes are not working. /home  is getting an error that it doesn't exist.

[2016-05-19 22:22] phillipmadsen commented on #156
Figured it out. My bad I  forgot to run migrate.
You should add this to the setup installation steps. I  forgot to do it and was following the installation instructions from the site. just an idea

[2016-05-19 22:28] phillipmadsen opened #157 "new toggle-switch field image"
shows how the toggle-switch looks
![Image of toggle-switch](https://raw.githubusercontent.com/phillipmadsen/stuff/master/img/toggle-switch.png)

[2016-05-20 04:09] NightZpy opened #158 "Save to schema file from exists table!"
Only that, save to schema file from existing table in database! :D // Ready this feature, only add --save option and works equal that without use fromTable.
Too, ask to user for each field for show or not in index, form, show_fields!
Ask placeholder or label for each field, maybe lang, using langman package!

[2016-05-20 09:39] gsc89 commented on #51
Created another issue not to ask for this as a feature but to ask how people are "currently" dealing with them.

Obviously such a feature will take a long time to add so me waiting for that is not going to work which is why I asked about how people deal with them now.

These are how my pages are looking now:

Datatable with child rows to show BelongsToMany: http://i.imgur.com/baTsjhg.png

Edit pag

[2016-05-20 13:37] NightZpy commented on #51
@gsc89 would share your code?

[2016-05-20 13:45] gsc89 commented on #51
@NightZpy I am still working on it, its not in any fit state to be released / shared at this time, and as it is specific code to the system I am working on as I said it means its not something that can be plugged and played into any system this is the whole problem with relationships.

[2016-05-20 15:32] mitulgolakiya commented on #147
@mikahoy045 If you have completed all installation steps, then I think it should work.
Still if you are not able to get it work. Please share your generated files and table design. I can check.

[2016-05-20 19:27] phillipmadsen opened #159 "Route Errors"
Route [Admin/menus.index] not defined. Route [Admin/menus.index] not defined.

[2016-05-20 19:29] phillipmadsen commented on #149
just the default. no changes

[2016-05-20 19:41] phillipmadsen opened #160 "New Feature Request"
### Posible addition to fields file and output.
[code]
### Bootstrap Column Size for the form fields
### options 1-12
#### will be added to class ***col-md-{bsColumnSize}***

[2016-05-20 19:46] mitulgolakiya commented on #63
@amin101 As in general people don't need it. But if you need it then you can publish templates and can add this method to repository.stub.

So as of now, closing it. Will re-open in future.

[2016-05-20 19:46] #63 closed

[2016-05-20 19:47] #2 closed

[2016-05-20 19:48] mitulgolakiya commented on #31
@amin101 I think the primary key issue is fixed.

Closing this in  reference of https://github.com/InfyOmLabs/laravel-generator/issues/117

[2016-05-20 19:48] #31 closed

[2016-05-20 19:50] mitulgolakiya commented on #43
@phillipmadsen I think by rollback command, we can remove the generated stuff.

Can you explain what is the exact purpose of enabling/disable api ? Like what should be done in code ?

[2016-05-20 20:37] phillipmadsen commented on #160
I am working on this option on my forked version. I  am having trouble remembering which file overwrites the stub files can you tell me where so I  can add $BS_COLUMN_SIZE$ for the stub classes. I  will keep looking but you can probably help me get there faster.

thanks

[2016-05-20 22:32] phillipmadsen commented on #159
Found the problem in
[code]

$ROUTES_AS_PREFIX$ outputs / instead of .

looks like you have $ROUTES_PREFIX$ that outputs the . instead of / which is probably what you meant to use.

[2016-05-21 01:27] phillipmadsen commented on #155
## Prefix Concept
Ok i did some testing today trying to find out the most effective way to use prefixes for both backwards compatibility and new generation.

***My proposal is this:***

Not only will these be very precise when building or converting exiting apps but it will also make it really hard for a hacker to get the hang of so will keep the app more secure. Not only that but it will also mak

[2016-05-21 04:13] willmkt opened #163 "Add new Fields"
I think that we could add new fields, including relationship, image and repeater field.

This package was greate, but it has not been supported in some time.

https://github.com/krafthaus/bauhaus

They had a user package with roles and permitions, it was a great generator, but the creator sttoped the supporting it.

https://github.com/krafthaus/bauhaususer

I think we could get some ideas from the

[2016-05-21 06:11] mitulgolakiya commented on #160
@phillipmadsen as of now, our field templates are fixed. so we are using fixed column width. You can add a dynamic param in each field template. And then while compiling template you can replace it.

Here we are generating fields: https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Generators/Scaffold/ViewGenerator.php#L148

Here we are parsing fields json and preparing field dynamic

[2016-05-21 06:13] mitulgolakiya commented on #159
In new version, we have removed `$ROUTES_AS_PREFIX$` dynamic param, instead of we have added `$VIEW_PREFIX$`.
https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Common/GeneratorConfig.php#L196

[2016-05-21 06:14] #159 closed

[2016-05-21 06:18] mitulgolakiya commented on #149
Yes, I think it's fixed. Because event I am not able reproduce it. I will check that issue.

[2016-05-21 06:18] #149 closed

[2016-05-21 06:47] mitulgolakiya commented on #124
We have lots of issues for prefix and lots of separate discussions for it. I think we should have one central discussion for this. so closing it in reference of https://github.com/InfyOmLabs/laravel-generator/issues/155.

[2016-05-21 06:47] #124 closed

[2016-05-21 06:47] mitulgolakiya commented on #105
We have lots of issues for prefix and lots of separate discussions for it. I think we should have one central discussion for this. so closing it in reference of #155.

[2016-05-21 06:47] #105 closed

[2016-05-21 10:41] mitulgolakiya commented on #156
@phillipmadsen what do you mean by default tables ?

[2016-05-21 19:50] mitulgolakiya commented on #155
@phillipmadsen I like the idea and will start working on it. But as of now, we are not using public prefix anywhere because we are directly referencing CDN in adminlte and bootstrap templates. But in next 2 weeks, I am going to push some more templates of some popular themes like metronic, flatlab, chandra and as these are paid themes. so a user who purchased it needs to put it at the right place

[2016-05-21 21:05] mitulgolakiya commented on #155
I have done one commit for initial support of 4 prefix options as mentioned above.

Also, I have added a support for multiple/nested prefix support like.
`--prefix=backend,admin`. so it will generate something like following,

Namespace: `App\Http\Controllers\Backend\Admin`
Path: `app/Http/Controllers/Backend/Admin`
views: `resources/views/backend/admin`
routes: `backend.admin`

[2016-05-24 00:15] gustavorojas commented on #15
Hello I want to generate but without template, only the code because I used acacha admin lte template
in composer "acacha/admin-lte-template-laravel": "1.*",
and when I generate I have many erros and the view don't work

[2016-05-24 02:10] NightZpy commented on #15
@gustavorojas you can publish the templates used by laravel-generator with
`php artisan infyom.publish:layout` command, and then edit with acacha :D

[2016-05-24 17:26] phillipmadsen commented on #156
database tables. my bad.

[2016-05-24 17:41] phillipmadsen commented on #160
I  already made the change on my files but still have one part I  cannot get.
I  have implemented this:
[code]
and made the appropriete changes on my files to use this.

https://github.com/phillipmadsen/laravel-generator/blob/develop/src/Utils/GeneratorFieldsInputUtil.php

[code]

But how do I  get the assinged variable  to overwrite this .stub with the appropriate data?

[code]
Meaning these part

[2016-05-24 17:48] phillipmadsen commented on #158
If you use the Fields_file Option  then the inIndex is exatly what your are asking here  "ask to user for each field for show or not in index, form, show_fields!".

Also the inForm means you want it in the form or not in the form.

just fyi

[2016-05-24 18:11] NightZpy commented on #158
@phillipmadsen yes, i know, but not from schema (exists table in database).

[2016-05-24 23:07] phillipmadsen opened #166 "still getting this error"
updated today but still getting this:

Class 'App\Http\Controllers\Admin\AppBaseController' not found

[2016-05-25 01:06] abdullaheid opened #167 "Custom Field Title"
First let me introduce my thanks for your efforts. However, I'm not really sure that, if you have a way to make a custom field title for the generated stuff, and all I have found is something like this :

`Str::title(str_replace('_', ' ', $field['fieldName'])`

It's OK, but I think if we made this line as the default field title if there is no a custom one, then we will have the ability to let dev

[2016-05-25 01:50] phillipmadsen commented on #155
Great ides, i love it.
I just started playing with your dev branch and am getting some errors ill list them just in case you might be working on it.

returned
[code]

[2016-05-26 23:56] phillipmadsen commented on #166
again today I updated and tried.
FatalErrorException in ProductController.php line 14:
Class 'App\Http\Controllers\Backend\AppBaseController' not found

[2016-05-27 03:58] mitulgolakiya commented on #166
@phillipmadsen I will check it.

[2016-05-27 15:28] ahpetrot opened #168 "Multi-Database ?"
Need to support more than one connection to a database .

Scaffold command should add  --connection= as a infyom:scaffold cli option

example:

php artisan infyom:scaffold <MODEL> --connection=mysql2 --primary=<ID> --fromTable --tableName=<TALBE>

Current behavior just generates empty models, validation and form fields.

Current workaround:
1. switch over active database connection to secondary da

[2016-05-27 18:20] kay899 opened #169 "ModelName missing in $FIELDS$"
HI,

first of all I want to say a big Thank You for this wonderful package. I am actually testing it since two days and it really works great.

As I am doing a German Webpage, I need to have some translation for my field names.
I solved translations e.g. in the index or show page like this:

`{!! Form::label('$FIELD_NAME$', trans('models.$MODEL_NAME$.$FIELD_NAME$')) !!}`

This is working perfectly

[2016-05-28 08:32] kay899 commented on #169
I changed this locally for the moment with adding this line in

InfyOm\Generator\Generators\Scaffold\ViewGenerator

`            if (!empty($fieldTemplate)) {
                $fieldTemplate = str_replace('$MODEL_NAME$', $this->commandData->config->mName, $fieldTemplate);
                $fieldTemplate = TemplateUtil::fillFieldTemplate(
                    $this->commandData->fieldNamesMapping,

[2016-05-28 08:47] kay899 opened #170 "Rollback function not rolling back all changes"
I played around with your Rollback function and noticed that it not rolls back all changes.
- DataTables file is not deleted
- Changes in menu.blade.php are not rolled back, even stated by the script in the shells output
- Model Schema JSON files is not deleted (Perhaps this should be confugurable, if that will be deleted also?)
- DB Migration in not rolled back as well (Perhaps a good idea to add

[2016-05-29 06:13] mitulgolakiya commented on #169
@kay899 Actually we were not passing those fields in fields template. I have pushed a fix in develop branch. Will push it to the master in next release.

[2016-05-29 06:14] mitulgolakiya commented on #155
@phillipmadsen I have pushed a fix for it. Check again.

[2016-05-29 12:23] NightZpy opened #171 "New mode: VueJS!"
Hi friends, i'm working in crud with vuejs, using [vue-table](https://github.com/ratiw/vue-table), [vue-strap for use modal](https://github.com/yuche/vue-strap), [vue-validator](http://vuejs.github.io/vue-validator) and [vue-editable (very simple component. Is better modify for best features)](https://github.com/jinzhe/vue-editable).

Features:
- [Search](https://i.gyazo.com/0bffde7537612303ab014b

[2016-05-29 14:00] ahpetrot opened #172 "CLI to turn on/off DatatTables"
Simple CLI switch to turn on off DataTables integration would be nice.  Right now the only way to not use DataTables , once configured, is to modify the config file.

~Tim

[2016-05-31 06:00] mitulgolakiya commented on #172
@ahpetrot great idea. I will implement it and push it in next release.

[2016-05-31 06:03] mitulgolakiya commented on #139
@digitaldreams Closing this issue. Open a new issue with specific details, if you need anything.

[2016-05-31 06:03] #139 closed

[2016-05-31 06:03] #141 closed

[2016-05-31 06:03] #147 closed

[2016-05-31 08:40] NightZpy commented on #171
[Here the project repository](https://github.com/NightZpy/vuejs-laravelgenerator)

[2016-05-31 11:48] Passionatedreamer commented on #143
The problem is still persisting. Datatables just show anything on index method. Just gives headings of my model, but not any data.
The table also looks like the normal table of models that I generated before I enabled datatables

[2016-05-31 11:50] NightZpy commented on #143
@Passionatedreamer network datatable request works? (look in developer tools in chrome or firefox, tab network)

[2016-05-31 12:03] NightZpy commented on #171
Main file for vuejs works, this file later is include into resources/views/model/index.blade.php script section. This file is generate into public/app/js/models/ using elixir!

[`resource/assets/js/models/model-config.js`](https://github.com/NightZpy/vuejs-laravelgenerator/blob/master/resources/assets/js/models/provider-config.js)

[code]

[2016-05-31 12:05] NightZpy commented on #171
This is [index.balde.php](https://github.com/NightZpy/vuejs-laravelgenerator/blob/master/resources/views/providers/index.blade.php) example using adminlte:

@extends('layouts.app')

@section('content')
    <div id="crud-app">
        <section class="content-header">
            <h1 class="pull-left">Providers</h1>
            <h1 class="pull-right">
               <a class="btn btn-primary pull-ri

[2016-05-31 12:08] NightZpy commented on #171
[Field example ](https://github.com/NightZpy/vuejs-laravelgenerator/blob/master/resources/views/providers/fields.blade.php) with validation from vue-validator:

[code]

[2016-05-31 12:14] Passionatedreamer commented on #143
@NightZpy Problem solved. The problem was that I was using the latest version of JQuery, Now I'm using the version that Yajra's website has highlighted and it started working. Thankyou your indication showed me the right direction to investigate.

[2016-05-31 16:00] gsc89 opened #174 "[Error] php artisan route:list"
I get this error when using the command in the title.

Cannot use InfyOm\Generator\Controller\AppBaseController as AppBaseController because the name is already in use

Any ideas?

My app still works I just need to look at the list of routes I have.

Sorry if this is a stupid question I did a google and it was mentioned before but it was supposed to be fixed after that issue was posted.

[2016-05-31 16:37] gsc89 opened #175 "Datatables Ajax (Adding Parameters)"
OK so I have this table:

![image](https://cloud.githubusercontent.com/assets/1032459/15682464/b4bfb8d2-2755-11e6-9161-c1e773aba8e9.png)

Now there are many parts that join onto this table, the query() function under the generated datatable file looks like so:

[code]

On the left there you will notice I have + symbols to expand the rows underneath with the mutliple row content per item.

I manage

[2016-06-01 00:51] NightZpy commented on #175
@gsc89 Hi my friend, what plugin was used for generate row children data?

[2016-06-01 06:30] gsc89 commented on #175
No plugin, I added a column for the expand button.

Then I used some JS to expand and contract the row, using child object data which would be the one to many parts.

This is what the JS looked like: http://pastebin.com/5xvD0tdp

The code to add the expand column went into the datatable model looked like this:

[code]

[2016-06-01 07:00] NightZpy commented on #175
Thanks  @gsc89 , i understand :D

[2016-06-01 07:25] gsc89 commented on #175
I found I can access the ajax $_GET vars so adding in where statements should be entirely possible when I can find a way to add them into the ajax query made by the data table itself.

It was late in the day yesterday when I got stuck hopefully with some morning eyes and coffee I can figure this out, I will post any code up if I do.

If anyone else can chip in that would be great.

[2016-06-01 09:39] gsc89 commented on #171
This looks very cool :( I wish I saw this before setting up 20+ tables using datatables :D

[2016-06-01 09:42] NightZpy commented on #171
@gsc89 Hi my friend, vuejs is magic :D I already works in this implementations! Maybe 3 or 4 days more for finish :D

[2016-06-01 09:50] gsc89 commented on #171
Yeah in my next project I will use this.

[2016-06-01 12:48] mitulgolakiya commented on #174
@gsc89 its already in progress. Track it here https://github.com/InfyOmLabs/laravel-generator/issues/166
I think the reason of these both issues is same.

[2016-06-01 14:45] gsc89 commented on #174
Ah ok dorry thanks man! keep up the amazing work its truly great.

[2016-06-02 10:43] gsc89 commented on #175
Might as well close this I have managed to accomplish this but I had to hard code my script replacing the generated call to ->scripts()

I could do it with the library if I was able to use functions within ->ajax()

You can use functions for callbacks within parameters to do callback JS functions but doing the same in ajax wraps it in inverted commas preventing you using that for this purpose.

[c

[2016-06-02 10:43] #175 closed

[2016-06-02 11:27] garenk02 opened #177 "Cannot consume/call API from external app"
hi @mitulgolakiya
I already finished created API using laravel-generator, but now when i try to consume it from other apps for example using guzzle or curl, why it always return '503 Service Unavailable'?
I already try using vhost, host, localhost, 127.0.0.1 still not working.

When I call it from postman or browser it's work.

Really need help.

Many thank's

[2016-06-02 13:45] mitulgolakiya commented on #177
@garenk02 Have you hosted it on server or you are getting this error on your local as well ?

[2016-06-02 13:59] mitulgolakiya commented on #174
@gsc89 Can you setup it again with a fresh new installation by removing all published stuff and check it again ?

[2016-06-02 14:00] mitulgolakiya commented on #166
@phillipmadsen Can you check it again with the latest code by removing your existing AppBaseController and publish AppBaseController again ?

[2016-06-02 15:47] gsc89 commented on #174
Hi thanks for your time but I can't re-generate any of the files I am currently working on as I am 150+ hours into coding on this project and made far too many changes to the files which were generated.

I will have to manually fix each file based on the code changes I see you have made. Sorry I can't be more help I simply can't regenerate on this project its far too far a long now.

I take it tha

[2016-06-02 20:34] phillipmadsen opened #179 "Couple fixes needed"
Just a heads up. When you change the default paths and namespaces it only changes in the config not on the files. They are currently all hardcoded.

Another note.  When you use the App:Name  change command it is not updating the files that are in your vendor folders.
example if I  use the command to change it from App to Test   these are not changing to allow for the files to still work. I  will l

[2016-06-02 22:53] wsl commented on #174
I had the same issue and with a scratch project with
        "infyomlabs/laravel-generator": "dev-master#7270cb5ffc019bc622956c10417670d12641e95c",
in composer.json I now get

  [Symfony\Component\Debug\Exception\FatalErrorException]
  syntax error, unexpected '$NAMESPACE_BASE_CONTROLLER' (T_VARIABLE), expecting identifier (T_STRING) or \\ (T_NS_SEPARATOR) or '{'

when running  php artisan route:l

[2016-06-03 02:44] garenk02 commented on #177
@mitulgolakiya
I got this error on my local environment

[2016-06-03 06:28] gsc89 commented on #174
All of my scaffolding was generated from table

[2016-06-03 18:44] phillipmadsen commented on #156
The migration tables in the database need to be migrated. I  just forgot to do this step and thought others might also forget and wonder why its not working.

[2016-06-03 18:45] phillipmadsen commented on #137
my develop branch is still looking for it and others.

https://github.com/InfyOmLabs/laravel-generator/issues/179

[2016-06-03 18:47] phillipmadsen commented on #179
also having problems with this
//use Fully\Http\Controllers\AppBaseController as InfyOmBaseController;
looks like its the same issue but with another name is all.

[2016-06-03 18:50] phillipmadsen commented on #179
it looks like some of these are because im using another namespace then App\

so your
use InfyOm\Generator\Utils\ResponseUtil;
is referencing App\???
and breaking functionality.

Hope this helps

[2016-06-03 19:04] phillipmadsen commented on #179
ok dug a bit more and found the issue I  think. When the generator is used if you have published templates it is not using the changed value in the published config it is using the default values in the vendor config folder instead.

for example
config/infyo/laravel_generator.php

[code]

[code]

[2016-06-03 21:56] phillipmadsen opened #185 "Question"
Maybe you have an idea for a easier way to do this.  I  am using localization on my crud generated files but with the route resource controller being used instead of the the actual routes this is causing me more headache then you an imagine is there a simple way to integrate it into the output that does not require me to edit every file in the stubs or views folders.

example

## original:
Route::

[2016-06-03 23:57] phillipmadsen opened #186 "Repeating Error"
ErrorException in Macroable.php line 81:
Method render does not exist. (View: /home/vagrant/aaa/secure/vendor/infyomlabs/core-templates/views/common/paginate.blade.php) (View: /home/vagrant/aaa/secure/vendor/infyomlabs/core-templates/views/common/paginate.blade.php)

[2016-06-04 14:32] NightZpy commented on #171
@gsc89 Already pull request for this feature, wati for @mitulgolakiya check in :D

[2016-06-05 05:33] mitulgolakiya commented on #179
@phillipmadsen AppBaseController is now not using hardcoded `App\Http\Controllers\Controller`. Instead it will use dynamic namespace and also `AppBaseController` is not published with prefix directory and configured directory.

Please test it once more with your use cases and let me know if it works.

You need to either install it with fresh repo or publish `AppBaseController` again after making c

[2016-06-05 05:35] mitulgolakiya commented on #174
@wsl it's not fixed in develop branch.

@gsc89 Np. I checked it on my end and not its working fine.

[2016-06-05 06:01] mitulgolakiya commented on #172
@ahpetrot `datatables` cli option is implemented. You can use it as `--datatables=true` OR `--datatables=false` to turn it on/off.

[2016-06-05 06:03] mitulgolakiya commented on #166
@phillipmadsen now its done. Check it again.

[2016-06-05 06:04] mitulgolakiya commented on #166
related to https://github.com/InfyOmLabs/laravel-generator/issues/179. so closing it. Place any of your comment on that issue.

[2016-06-05 06:04] #166 closed

[2016-06-05 06:21] mitulgolakiya commented on #87
@phillipmadsen I have added option `--views` to specify to generate only specific views.

You can specify any comma separated values from this like: `--views=index,create,edit,show`.

[2016-06-05 07:20] mitulgolakiya commented on #143
@Passionatedreamer Great.

[2016-06-05 07:20] #143 closed

[2016-06-07 20:20] lucasprogamer opened #192 "Error when using infyom:api_scaffold"
local.error: exception 'ErrorException' with message 'file_get_contents(C:\Users\Progamer\Projects\Consis\vendor/infyomlabs/swagger-generator/templates/model/model.stub): failed to open stream:

[2016-06-07 20:28] lucasprogamer commented on #192
I forgot to add this in composer.json
        "infyomlabs/swagger-generator": "dev-master",
        "jlapp/swaggervel": "dev-master"
sory

[2016-06-07 20:28] #192 closed

[2016-06-08 00:55] phillipmadsen opened #194 "Bug: on new specify views command"
When using the new specify views command I  ran the following:

php artisan infyom:api_scaffold Product --fieldsFile='resources/model_schemas/Product.json' --views='index,create,edit' --skip='migration'

It worked great but when I  went to view the outcome there was an error. it did generate the table.blade.php not the fields.blade.php file.

[2016-06-08 02:40] phillipmadsen opened #195 "Question"
Have you been able to make any progress on the input file yet.  such as move to public folder function so when we use the output {!! $crud->image !!} it actually outputs the usable file?

[2016-06-08 18:44] phillipmadsen opened #196 "Found a package with easy Relationships"
it still need a lot of functionality but it has relationships and ajax for content retrieval.

Take a look seems pretty simple.

https://github.com/evercode1/view-maker#makeparent-child

look at the following commands the rest are not really helpful at all. why would anyone want a crud that is so hard to add more fields to. all it uses is name. its lame.

But we could rebuild some of it so It actu

[2016-06-08 19:24] mitulgolakiya commented on #194
@phillipmadsen fixed it.

[2016-06-09 10:33] cncap opened #198 "how to Generate from existing table?"
All generate command can used for " for given model", but I only have exists table in exists database, how to get it use generate command from exsit database?

[2016-06-09 12:40] cncap commented on #198
I am sorry, I did not look carefully, I have found the answer here:
http://labs.infyom.com/laravelgenerator/docs/options/generator-options

[2016-06-10 06:05] mitulgolakiya commented on #198
@cncap great. Post here if you found any problem.

[2016-06-10 08:57] facilinfo opened #199 "Fail! result"
Hi,

I've just installed the gui generator on a fresh install of laravel following the doc. When I try to generate a model I have always the same error : Fail! result. I've tried many changes to the model name, fields, etc. without success.

Please help.

[2016-06-10 09:15] facilinfo commented on #199
Sorry. It's fixed. It was because I hadn't have installed swagger-generator. I thought it was optional

[2016-06-10 09:25] #199 closed

[2016-06-10 10:39] cncap commented on #198
@Mitulgolakiya, Thank you for your reply, I am integrating oauth2.0 and laravel,That great if your project can be integrated into it, after all API access is required to verify over APIS.

[2016-06-11 06:26] mitulgolakiya opened #200 "New theme for better Documentation"
Hello all,

I was just thinking we should have a better documentation theme. As the package is now growing with lots of features. Some of them are really complex to understand it use. so we need detailed steps to use that.

Please share your ideas of available themes here.

Also, I was just thinking if we can use the theme that laravel is using for its documentation with the footer credits of lara

[2016-06-13 11:16] ayndev commented on #159
Please I'm not able to update to the latest version in order to use VIEW PREFIX. Are you going to add a new tag soon or update the package?

[2016-06-14 01:05] phillipmadsen opened #202 "What this really needs is a repeating field and repeating sections"
Do you have any ideas on something like this. This seems to be the bottleneck in development so if we could make it easier it would be very useful to everyone.
Example of what I  am talking about would be.
***SECTIONS EXAMPLE***

or

***FIELDS***
[code]
***OR COMBINED***
[code]

maybe add models to use to make it easier.

[code]
AND A SELECT FIELD GETTING DATA FROM ANOTHER MODEL
[code]

something

[2016-06-14 01:18] phillipmadsen commented on #202
Anyway this would make this stand out above the others.  Just want to know your thoughts on it.

[2016-06-14 01:27] phillipmadsen commented on #202
you could even add a level up in the fields file that would make all this easier. example

fields-file.json:
[code]

[2016-06-14 01:35] phillipmadsen commented on #202
Maybe a command to generate the fields-file.json framework would be greate also.

 php artisan infyom:fields-file Post
or
 php artisan infyom:fields-file:parent-child Category SubCategory

generates category-subcategory.json - skeleton

[code]

[2016-06-14 13:46] #194 closed

[2016-06-14 13:46] #179 closed

[2016-06-14 13:46] #174 closed

[2016-06-14 13:46] #172 closed

[2016-06-14 13:46] #169 closed

[2016-06-14 13:46] #155 closed

[2016-06-14 13:46] #137 closed

[2016-06-14 13:46] #133 closed

[2016-06-14 13:47] #87 closed

[2016-06-14 13:47] #70 closed

[2016-06-14 13:47] mitulgolakiya commented on #198
ok, I will add it to the queue.

[2016-06-14 13:47] #198 closed

[2016-06-14 13:48] mitulgolakiya commented on #200
We are going to re-design the documentation with laravel doc theme.

[2016-06-14 18:57] #120 closed

[2016-06-15 00:45] phillipmadsen opened #203 "Need to add option for migration"
We need to add a storage engine option to the migrations files.

[2016-06-15 14:23] mitulgolakiya commented on #200
New theme is live here: http://labs.infyom.com/laravelgenerator/docs

[2016-06-15 14:23] #200 closed

[2016-06-17 00:23] phillipmadsen opened #204 "Useful SublimeText3 Laravel 5.1+ Snippets"
I  have started keeping track of the ones I  use the most so if anyone wants to use the snippets I  use all the time you are free to.

[https://github.com/phillipmadsen/Laravel-5.1-SublimeText3-Snippets](url)

[2016-06-17 17:47] axyr opened #205 "ROUTE_NAMED_PREFIX not properly replaced"
When scaffolding a Company crud :

Route [ROUTE_NAMED_PREFIXcompanies.index] not defined. (View: /Users/martijn/www/tests/laravel/laragenerator/resources/views/companies/show.blade.php)

This happens with a fresh install and default config...

[2016-06-17 17:53] axyr commented on #205
its missing the $ before ROUTE_NAMED_PREFIX in the stub file.

[2016-06-17 20:00] axyr commented on #102
This happens to me when using admin as prefix.

fresh install

[2016-06-17 20:29] axyr commented on #102
The update route is set as put and not as patch.
The form is set as patch.

[2016-06-18 07:11] mitulgolakiya commented on #159
@ayndev its not merged

[2016-06-18 07:12] mitulgolakiya commented on #204
great. will check it.

[2016-06-18 07:12] #204 closed

[2016-06-18 07:16] mitulgolakiya commented on #102
@axyr will check it and fix it.

[2016-06-18 07:21] mitulgolakiya commented on #205
@axyr ok, will fix it.

[2016-06-18 08:02] mitulgolakiya commented on #102
Fixed.

[2016-06-18 08:02] #102 closed

[2016-06-18 08:02] mitulgolakiya commented on #205
Fixed.

[2016-06-18 08:02] #205 closed

[2016-06-18 11:53] axyr commented on #174
This happened to me when using a prefixed route and already heaving a prefixed route group.

This will generate the error `Cannot use InfyOm\Generator\Controller\AppBaseController as AppBaseController because the name is already in use`

[code]

[2016-06-18 11:56] axyr opened #206 "Routes lowercased?"
Should routes not be all lowercased?

Right now I have a lot of routes like :
resumeInvites
referenceSources
jobCategories

looks kinda 'ugly' ...

[2016-06-18 11:58] axyr opened #207 "Prefixed routes in groups"
Is possible to add prefixed route in a group:

[code]

This looks much nicer then all separate routes for each controller method..

[2016-06-19 08:37] kay899 commented on #170
I noticed in the new version only DB migration is rolled back, but no files any more?

[2016-06-19 10:44] kay899 opened #208 "Store Models in Prefix folders?"
I just wonder if it makes really sense to store the Models in a prefixed folder like it is happening actually?

When I do

`php artisan infyom.scaffold:views Post --prefix=admin`

the model is stored under App\Models\Admin\Post.php.

Could this be configurable?

I would like to have all my Models only in App\Models... folder.

Thanks
kay899

[2016-06-20 03:38] mitulgolakiya commented on #170
@kay899 ok, will check it.

[2016-06-20 08:35] mastermind23 opened #209 "Migrate:refresh and migrate:rollback error"
I create a scaffold through generator builder with datatables. It creates everything Model, Views, Datatables, Migration etc. But when I run migrate:refresh or migrate:rollback, it gives me error that

"[Symfony\Component\Debug\Exception\FatalThrowableError]
class 'CreateStudentTable' not found"

Any solutions?'

edit: it gives error against latest migration, if CreateResultTable is last then it w

[2016-06-24 02:08] phillipmadsen opened #213 "Another Possibility"
A merge command would be really handy as well.  something along the lines of this.

anyway just thinking out loud again.

Keep up the good work.

[2016-06-25 04:59] mitulgolakiya commented on #206
@axyr Yes, I think we should use snake_case because what I found is, most of apis are using snake cases in their urls.

http://stackoverflow.com/questions/778203/are-there-any-naming-convention-guidelines-for-rest-apis

http://blog.octo.com/en/design-a-rest-api/#case

[2016-06-25 05:02] mitulgolakiya commented on #207
Actually, it's already in a plan but we have to think about it when it's used with a dynamic prefix, then it's really hard to detect right group.

I am thinking about it but If anyone have any idea then share it here.

[2016-06-25 06:26] mitulgolakiya commented on #195
No. Not yet.

[2016-06-25 06:26] mitulgolakiya commented on #195
Duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/1

[2016-06-25 06:26] #195 closed

[2016-06-25 06:27] mitulgolakiya commented on #1
Closing in reference of https://github.com/InfyOmLabs/laravel-generator/issues/103

[2016-06-25 06:27] #1 closed

[2016-06-25 06:31] mitulgolakiya commented on #209
Have you checked if original migration file is there ?

[2016-06-25 06:39] mitulgolakiya commented on #208
@kay899 Actually the main purpose of adding a prefix was when we have multiple panels like backend and frontend and we want a separate layout for both then it will be helpful.

But currently, there is no way to just store model without prefix and store everything else with the prefix.

I will add it in future list.

[2016-06-25 06:41] mitulgolakiya commented on #177
@garenk02 Were you able to resolve it with new version or still you are getting error ?

Try the latest version which got out recently.

[2016-06-29 04:33] kay899 commented on #208
@mitulgolakiya That would be perfect.
Thanks

[2016-06-30 09:22] dastiw1 opened #215 "After Installing version dev-master 4044c8c prefix isn't work correctly"
After last update prefixes not work correct:
[code]

[2016-06-30 09:28] dastiw1 commented on #215
I solved the problem)
In last version variable $ROUTES_AS_PREFIX$ renamed to $VIEW_PREFIX$.

[2016-06-30 09:28] #215 closed

[2016-07-03 05:45] shafihuzaib opened #216 "Set the value of foreign key from some different object"
My model has a field 'department_id', which is set value as per the current authenticated user's department, hence cannot be allowed to set from views. So how to do that? I mean;

      - It is not available in view (as the department is implicit in such a context)

      - But the value for the said field is set automatically.
Please let me know if I should override some methods to get this done,

[2016-07-05 17:55] mitulgolakiya commented on #216
There in an option for that, but while you are passing fields via JSON file. [Here](https://github.com/InfyOmLabs/laravel-generator/blob/develop/samples/fields_sample.json) is the sample for it. In that, you will find one key `inForm`, you can pass it as false and it will not be included in your forms.

so you can generate it and then set it by whatever manner you want from a controller.

[2016-07-05 17:55] #216 closed

[2016-07-06 10:55] shafihuzaib commented on #216
But when showing it in the table, would it be possible to show the department_name in the view?

[2016-07-06 15:18] laurensclaessen commented on #209
The migration template uses the lowercase table name `Create$TABLE_NAME$Table` to create the Class, but it should use the PascalCase Model name.

[2016-07-06 18:17] phillipmadsen commented on #216
To show the view from an id you would need to create a list. Here is an example of one I  made.

ArticleRepository.php

[code]
ArticleController.php

[code]
And here is the html form fields I  use.

{!! Form::select('category', $categories, null, ['class' => 'form-control', 'value'=>Input::old('category')]) !!}
{!! Form::select('user', $users, null, ['class' => 'form-control', 'value'=>Input::old(

[2016-07-06 18:17] jordivela007 opened #217 "Datatables support Column Visibility and Page Lenght"
If you add in app.blade.php these options:

src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"
src="//cdn.datatables.net/buttons/1.2.1/js/buttons.colVis.min.js"

the tablenameDataTable.php now support

parameters: 'colvis' and 'pageLength'

[2016-07-06 18:23] phillipmadsen opened #218 "AppBaseController still changes app:name to App"
Even when another Is being used.

I am currently using Grace/Models/? as an example and when I  run the generator it changes it to App\Models\?

Also having the same issue with BaseRepo

[2016-07-06 18:25] phillipmadsen opened #219 "Need a pubish command for filemanager / uploader"
Just like the auth  you have so we can tie the uploads into it.

[2016-07-06 19:15] phillipmadsen commented on #175
Here is an example of the datatables version
https://www.datatables.net/examples/server_side/row_details.html

[2016-07-07 14:14] medeirosrafael opened #220 "It's possible use foreign key?"
I tried follow this: https://github.com/mitulgolakiya/laravel-api-generator/issues/68

And, also is possible populate a select with database values?

[2016-07-08 01:45] showFocus opened #221 "Unique fields"
The scaffold generator does not allow a model to be updated if it contains a unique field.

For example field a is unique, field b is not. If i update field b it will not save.

[2016-07-08 01:49] NightZpy commented on #221
In the updaterequest, set rules method to:

[code]

[2016-07-08 09:59] showFocus commented on #221
@NightZpy that didn't work, unfortunately.

[2016-07-08 10:07] NightZpy commented on #221
@showFocus Some error?

[2016-07-08 10:09] showFocus commented on #221
@NightZpy "The name has already been taken."

[2016-07-08 10:11] NightZpy commented on #221
Is strange, for me, works! :(

[2016-07-08 10:13] showFocus commented on #221
@NightZpy Strange indeed! Here are my model, controller and Request file.
[code]
[code]
[code]

[2016-07-08 10:17] NightZpy commented on #221
My UpdateREquest:

[code]

Rule set:

[code]

[2016-07-08 10:18] NightZpy commented on #221
In your rule, delete name at last of the rule definition!

[2016-07-08 10:20] showFocus commented on #221
@NightZpy No, that didn't work.

[2016-07-09 11:27] mastermind23 commented on #209
@mitulgolakiya Yes the original migration files exists. I have tested it multiple times and always it gives error with the name of the last migration.

[2016-07-09 11:29] mastermind23 commented on #209
@laurensclaessen So migration templates do name it like CreatestudentsTable, and it should be CreateStudentsTable. I've renamed it, deleted all database tables manually, migrated it and then run migrate:refresh it still gives the same error

[2016-07-09 14:16] mastermind23 commented on #209
vendor/infyomlabs/laravel-generator/templates/migration.stub
Changed Create$MODEL_NAME_PLURAL$Table.
worked fine issue resolved thus far, one of my migrations is giving same error, most probably some syntax error or something, i'll create new migration but my main issue have been resolved.

Thanx @laurensclaessen

[2016-07-10 05:51] mitulgolakiya commented on #220
duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/62

[2016-07-10 05:51] #220 closed

[2016-07-10 16:13] mitulgolakiya commented on #54
duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/221

[2016-07-10 16:13] #54 closed

[2016-07-10 16:13] mitulgolakiya commented on #221
I will be working on it in next week. Will post update once its done.

[2016-07-10 16:37] mitulgolakiya commented on #218
@phillipmadsen I have totally changed the app base controller publish stuff.

so now we are publishing AppBaseController.php into always `App\Http\Controllers\` or with whatever namespace of the app no matter any prefix is used.

so test it with the latest version with fresh setup and let me know if you are still getting problem.

[2016-07-10 16:38] mitulgolakiya commented on #217
@jordivela007 ok, will check and will add it.

[2016-07-10 16:39] showFocus commented on #221
This is what I came up with, in my update request

[code]

[2016-07-10 16:40] mitulgolakiya commented on #221
@showFocus What is `$this->categories` ?

[2016-07-10 16:42] mitulgolakiya commented on #196
@phillipmadsen Ok, Thanks. will consider it while creating relationships.

[2016-07-10 16:42] mitulgolakiya commented on #196
duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/51

[2016-07-10 16:42] #196 closed

[2016-07-10 16:43] mitulgolakiya commented on #202
@phillipmadsen This can be a part of foreign key & relationships.

[2016-07-10 16:44] mitulgolakiya commented on #202
duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/51

[2016-07-10 16:44] #202 closed

[2016-07-10 17:09] showFocus commented on #221
It's a reference to the 'id' of the model instance. Without it you can't pass the id of the model instance to the next statement. You get an 'undefined variable' error

[2016-07-11 05:18] normkatz opened #223 "sidebar obscures content area"
In my generated CRUD web pages with your bootstrap template, the sidebar, when visible obscures a chunk of the left side of the page on desktop browsers such as Chrome and FF. I would expect it to push the content window to the right as the sidebar slides in during its transition to visible. Is this a known bug and if so, is there a fix planned? I could not find it in the github issues.
![sidebar]

[2016-07-16 00:17] phillipmadsen opened #224 "Outputing shortcut tags"
Route::group(['prefix' => LaravelLocalization::getCurrentLocale()], function () {
    Route::resource('$ROUTES_PREFIX$products', '$NS_PREFIX$ProductController');
});

[2016-07-17 16:01] inkrement opened #225 "Twig support"
This project supports the default laravel template engine ([blade](https://laravel.com/docs/5.1/blade)), but does it also support [twig](http://twig.sensiolabs.org) or is this feature planned?

ps: really nice plugin!

[2016-07-18 11:57] baylf2000 opened #226 "Many Issues"
Firstly thank you so much for your wonderful software.

I'm having a lot of problems when attempting to generate scaffolding for anything that contains any type of field other than plain strings or numbers. I've tried all kinds of versions, both the boilerplates and installing into a fresh Laravel 5.2 install as per the instructions on your website.

Are date and boolean field types supposed to be

[2016-07-18 22:35] phillipmadsen commented on #226
Let me see if I  can help.

I  will look through the stub files and double check the stub file paths.  As for the boolean with checkbox  I  pushed the updated files a while back but only half of them look like they are there so I  will add them again.

Can you tell me what version of the repo you are using.

[2016-07-19 01:15] baylf2000 commented on #226
Hi there,

I have tried using "dev-master" and "dev-develop" in composer.json, as well as the 5.2 branches of the bootstrap and adminlte boilerplates.

Thanks so much for your help.

[2016-07-19 05:43] baylf2000 commented on #226
Regarding the issue with the date type, it looks the server is actually returning the correct date, but that the format doesn't match the one that the date field is expecting.

Please see screen capture attached for an example.

![infyom_capture](https://cloud.githubusercontent.com/assets/1748322/16939711/787ad9fe-4dc7-11e6-8fb2-bcf82fd1b070.jpg)

[2016-07-19 12:42] baylf2000 commented on #226
I can confirm that this is related to the date format of the HTML5 datepicker. The edit form works correctly with dates in Firefox, as the datepicker element does not seem to function at all in that browser.

The form does not work in Chrome or Microsoft Edge, where the datepicker does work. The datepicker requires two completely different date formats in those two browsers, neither of which match

[2016-07-19 15:37] adnanmayo opened #227 "Is there a Nested Routed Method Available ?"
i want to add a  nested resource routes..like products.sizes is there a method available in CLI ?

[2016-07-19 16:44] phillipmadsen commented on #227
Yes you can use the prefix shortcut.  something along the lines of:

php artisan infyom:scaffold Size --prefix='products'

[2016-07-19 16:50] adnanmayo commented on #227
It will just make prefix

 i want to do like this
admin/products/1/sizes

php artisan infyom:scaffold Size --prefix='products'
It can not be acheived from this command

Route::resource('products.sizes','SizeController')

[2016-07-19 16:52] jackleblack opened #228 "Impossible to use generator with field file"
I encoutered the error "Invalid argument supplied for foreach()" when I use the command :

The file fields_sample.json is in the root directory, it's the original sample.

[2016-07-19 17:00] phillipmadsen commented on #226
The date format is up to you in the bootstrap template the only one being used is the bootstrap one and it works fine in all browsers for me.  As for the version to use I would use the master branch if you do now want to dig into the functionality of the package and adjust the needed code to suite your needs which would be what the dev branch is for at the moment.  I  have testing all the fields o

[2016-07-19 17:03] phillipmadsen commented on #228
try

php artisan infyom:api Post --fieldsFile='resources/model_schemas/fields_sample.json'

[2016-07-19 17:07] jackleblack commented on #228
Thanks for you reactivity phillip.

This fix doens't help me.

[2016-07-19 17:10] phillipmadsen commented on #227
So you are trying to make two other tables available to your products model?  I  assume the /1/ is the product and then the sizes is the options of that product?

In the one I  am building at the moment I  have something similar and all you would really want to use is the model and fields with relationships. Example of how I  set one up is like this.
[code]
I  then used hasMany and belongsTo relat

[2016-07-19 17:12] phillipmadsen commented on #228
My bad I  meant to also help you with the foreach() problem but forgot to tell you. Everytime I  get this error there is a syntax error or wrong field format in my fieldsfile. check that or maybe post it and I  will take a look.

[2016-07-19 17:13] phillipmadsen commented on #218
will do. thanks

[2016-07-19 17:19] phillipmadsen commented on #207
This would be something along the lines of a site.build.json the would be instructions on how to build the whole project; using resources and fields files to connect through their relationships. with it being a model only crud as of right now I  oont think there would be a way to specify this or add each one into and existing group.  you could maybe use a  option that would generate the group with

[2016-07-19 17:19] jackleblack commented on #228
It's the original file ..

[2016-07-19 17:21] phillipmadsen commented on #223
I  have also had this problem and I  have a fix I will push today.

[2016-07-19 17:33] phillipmadsen commented on #223
I  have pushed them but if you need them sooner you can find them here

https://github.com/InfyOmLabs/core-templates/pull/40
https://github.com/InfyOmLabs/core-templates/pull/39

[2016-07-20 07:28] baylf2000 commented on #226
As I said originally, I have tried multiple original versions of laravel-generator on fresh installs of Laravel 5.2, as well as downloading your bootstrap boilerplate, and the issues I'm having are the same.

1. When editing a model with a date, the original date does not show in the datepicker.
2. The boolean checkbox is never shown in the index view of records.
3. When editing a boolean checkbox

[2016-07-20 08:51] mitulgolakiya commented on #224
@phillipmadsen can you describe the issue in bit more details with use case ?

[2016-07-20 08:52] mitulgolakiya commented on #225
@inkrement thanks for pointing out twig one. we do not have support for it. but will take it in queue in future.

[2016-07-20 08:57] mitulgolakiya commented on #228
it seems like the problem is with JSON format. it should be in an array. Just like [this](https://github.com/InfyOmLabs/laravel-generator/blob/develop/samples/fields_sample.json) file.

it should be like,

[code]

[2016-07-20 09:00] mitulgolakiya commented on #223
@phillipmadsen @normkatz I merged it. Can you try it with the latest code ?

[2016-07-20 09:07] jackleblack commented on #228
Thanks you @mitulgolakiya,the problem is indeed from comment, I post the correct file :

[2016-07-20 09:57] mitulgolakiya commented on #228
@jackleblack great. so is it now resolved or still you are getting problem ?

[2016-07-20 16:08] normkatz commented on #223
ok, i'll try today

On Wed, Jul 20, 2016 at 2:00 AM, Mitul Golakya <notifications@github.com>
wrote:

[2016-07-20 16:10] #228 closed

[2016-07-20 19:30] phillipmadsen commented on #228
My bad guys I  should have removed that before push it was meant as notes of what was being done. I  meant to remove it but guess it got pushed before I  could remove it. Sorry.

[2016-07-20 19:39] phillipmadsen commented on #226
I  need to see your code to help you further. Not sure if you tried this option or not but you can always add the old attribute to your field. Here is an example of one I  used in the past.
[code]

[2016-07-20 19:40] phillipmadsen commented on #223
Let me know if I need to check it out if not fixed. Thnx

[2016-07-21 01:42] matheusmmo commented on #223
I tried with the new changes but the problem persists.

So I added a offset-3 and made a pull request. If anyone can merge, it will help others https://github.com/InfyOmLabs/core-templates/pull/41

Thanks

[2016-07-21 04:41] mitulgolakiya commented on #223
@matheusmmo @phillipmadsen just merged it.

[2016-07-21 05:57] baylf2000 commented on #226
While I really do appreciate your efforts, I don't know what else I can do to explain the issues. I'm not sure you're understanding.

Your standard code generates broken output when it comes to both date fields and checkboxes.

**Datepicker**
You are using the HTML5 datepicker in your code for your date fields which will never work properly for all international users the way you are using it.

1.

[2016-07-21 11:53] mastermind23 commented on #226
`type="datetime-local"` will work, gives picker in chrome for date only, gives picker edge(windows 10 explorer) for both date and time. and firefox didn't give me any :( and the formatting is `yyyy-mm-dd HH:MM:SS`

`type="datetime" `also works but it don't show date-picker in all browsers
simple `type="date"` simply doesn't work because of opposite formatting.

firefox don't like me :(

[2016-07-21 13:12] jackleblack commented on #143
Same problem.

I try with changing jQuery version to 1.10.2 but it remain the same.

[2016-07-21 13:14] mastermind23 commented on #209
again something went wrong with update of infyom.

previous all migrations are working fine and can rollback, but creating new model with generator-builder. it fails to migrate, also if i manually migrate that, the same issue returns where i can't rollback the latest migration

[2016-07-21 13:15] mitulgolakiya commented on #209
@mastermind23, I was on a vacation. just came today. will review it and will fix it by this weekend.

[2016-07-21 13:20] ptsilva commented on #209
@mitulgolakiya
see #222, this PR fix this issue

[2016-07-21 13:48] jackleblack opened #230 "Datatables Not Working"
Please help. Similar to issue resolved 53

I use this boilerplate : https://github.com/rappasoft/laravel-5-boilerplate/wiki#features
I add https://github.com/yajra/laravel-datatables OK.
I enabled 'add_on.datatables' => true in laravel-generator.
I generate my scaffold from fieldsFile OK.

But I cannot retrieve my data, I have only the header of a bootstrap table.

The network respond :

I already

[2016-07-21 15:31] normkatz commented on #223
Yeah, didn't get back to you yesterday but I had recorded a video showing
that the header was pushing to the right on window expand when the left
menu would appear but not the content section.  I will try this one now and
confirm.

On Wed, Jul 20, 2016 at 9:41 PM, Mitul Golakya <notifications@github.com>
wrote:

[2016-07-21 15:53] normkatz commented on #223
attached are 2 pics, before and after.  Before shows the small window
without the left menu.  After shows how the menu appears but content is
obscured because it did not push right (like it would on a typical mobile
app).  Still not working after merge.  Tested with both Safari and Chrome
on OSX.

On Thu, Jul 21, 2016 at 8:31 AM, Norm Katz <normkatz1@gmail.com> wrote:

[2016-07-21 18:07] adnanmayo commented on #230
did you run `php artisan vendor:publish `

[2016-07-21 18:13] #209 closed

[2016-07-21 20:04] Ashwin012 opened #231 "Swagger documentation for Models"
Small error in Swagger documentation for Models.
The " are missing for the required fields.
The following file should be updated :

/vendor/infyomlabs/laravel-generator/src/Generators/ModelGenerator.php

Public function generateSwagger(...
...
        $template = str_replace('$REQUIRED_FIELDS$', '"' . implode('"' . ', ' . '"', $this->generateRequiredFields()) . '"', $template);

Thanks for the gre

[2016-07-22 04:16] chungbin1 commented on #99
how to create a foreign key on the interface generator_builder???Please

[2016-07-22 08:50] lamberttraccard opened #232 "Issue with php artisan infyom.publish:layout command"
I made customizations to the default templates `resources/infyom/infyom-generator-templates`.

Using the `php artisan infyom.publish:layout` command with metronic templates, my layouts templates won't update.

Any help please ?

[2016-07-22 13:04] jackleblack commented on #230
Yes I have, always the same.

[2016-07-22 17:20] #230 closed

[2016-07-23 07:49] baylf2000 commented on #226
Hi @mastermind23. Thanks so much for your suggestions.

No, I'm afraid all of the HTML5 date types use the format of the local browser. `type="datetime"` has been removed completely from the HTML spec, as so will soon no longer work in any browser.

Apart from that, a solution that is broken for 50% of users is not really a solution, and I think most developers would agree that those HTML5 feature

[2016-07-24 05:27] garenk02 opened #233 "Make custom query"
Can u give example how to make custom query?

Many thanks

[2016-07-25 13:10] #177 closed

[2016-07-26 11:56] MatheusNaldi commented on #230
What have you did to resolve this?

[2016-07-26 12:04] jackleblack commented on #230
I modifiy "table.blade.php" :

`{!! $dataTable->table(['width' => '100%']) !!}

@push('scripts')
{!! $dataTable->scripts() !!}
@endpush`

And I add this in my layout :
`
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https:

[2016-07-28 04:06] mitulgolakiya commented on #233
@garenk02 what type of custom query ? Can you post any example or more details ?

[2016-07-28 04:07] mitulgolakiya commented on #232
@lamberttraccard I'll review it and will let you know.

[2016-07-28 04:33] garenk02 commented on #233
Actually I need the comphrehensive documentation on how your package (infyom labs) using the prettus repository with custom query (join, union, etc), and how do if I want do show some field from custom query (join, union, etc).

Many thank's

[2016-07-28 10:17] jackleblack commented on #221
For me the hack work with my table name :

        $rules['nom'] = $rules['nom'] . ',nom,' . $this->clients;
        return $rules;

[2016-07-28 10:26] FlorientR opened #234 "Trait MakeModelTrait not found"
Hi,

When I generate api_scaffold Model, ```ModelApiTest``` and ```ModelRepositoryTest``` use ```MakeModelTrait```.

But ```MakeModelTrait``` is on ```traits``` folder.

So for resolve this problem, I add on ```composer.json``` :

[code]

;)

[2016-07-28 11:16] NightZpy commented on #233
You can add query into BaseRepository template or a middle Class with the query (BaseRepository > MyBaseRepository). Or only into Model associate repo!

[2016-07-28 15:38] phillipmadsen commented on #226
Here is one thing I  see that you will need to adjust.

[code]
The boolean checkbox does not return values it returns either 0 for false or 1 for true. if you need values you need to use the normal checkbox.

Also there is not hidden field you should remove it. That is for laravel 4 not the 5+

[code]
you should not need the if statement just this for checked
[code]
or for unchecked
[code]

your c

[2016-07-28 22:55] lorvent opened #235 "checkbox not working"
Hello,
checkbox is not working, if i choose checkbox as htmltype then it throws error.

and looking at sample json https://github.com/InfyOmLabs/laravel-generator/blob/develop/samples/fields_sample.json#L75 for checkbox, we need to pass value aswell

but in generator builder https://github.com/InfyOmLabs/generator-builder/blob/master/views/builder.blade.php#L394

you are not showing extra field fo

[2016-07-28 23:47] lorvent opened #236 "Not checking migrate checkbox leads to timeout"
Hello,

If i don't select "migrate" then it leads to timeout

looking at code, below line looks like the culprit

https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Commands/BaseCommand.php#L138

[2016-07-30 05:18] mitulgolakiya commented on #236
@lorvent Can you describe it in more detail ? What exact problem that you have ?

Are you using command line option ? Or you are using generator-builder gui interface ?

[2016-07-30 05:24] lorvent commented on #236
Hi,
I am using gui interface and if you look at above link i gave, you will understand why its timing out.

in above line, it asks for a confirmation but since i am doing on gui, its just not doing anything and i am getting time out error.

[2016-07-30 05:25] mitulgolakiya commented on #236
@lorvent gui interface is still in Beta. it's not fully compatible with all changes made to the generator. I will recommend you to use command line interface as of now.

[2016-07-30 05:27] mitulgolakiya commented on #236
@lorvent We are going to work on all fixes with some major features in GUI builder once we hit 1.0 for the generator in around 2-3 months.

[2016-07-30 05:28] mitulgolakiya commented on #234
@FlorientR great catch. I will add this to the documentation.

[2016-07-30 05:30] lorvent commented on #236
hmm ok, thanks for your work.

in the meantime, can you suggest a fix for it?

currently if i check "migrate" checkbox then its working fine and i am doing like that but would like to know if you have any other option

[2016-07-30 05:31] mitulgolakiya commented on #234
I think it's already there in docs: http://labs.infyom.com/laravelgenerator/docs/master/generator-options#test-cases

[2016-07-30 05:31] #234 closed

[2016-07-30 05:56] mitulgolakiya commented on #235
duplicate of https://github.com/InfyOmLabs/laravel-generator/issues/236

[2016-07-30 05:56] #235 closed

[2016-07-30 06:13] mitulgolakiya commented on #233
@garenk02 Our [BaseRepository](https://github.com/InfyOmLabs/laravel-generator/blob/develop/src/Common/BaseRepository.php) class is extending repository class of prettus repository. so you can modify your template by any way which is compatible with prettus repository. so  I think its fully compatible.

[2016-07-30 06:13] #233 closed

[2016-07-30 06:49] lorvent commented on #235
Actually not exact duplicate, but since you said gui is in beta...it may be related to that.

[2016-07-30 07:01] mitulgolakiya commented on #232
@lamberttraccard I fixed it. Check with the latest version.

[2016-07-30 10:10] #232 closed

[2016-07-30 10:41] mitulgolakiya commented on #231
@Ashwin012 its fixed. check with the latest changes.

[2016-07-30 10:41] #231 closed

[2016-07-30 10:50] Ashwin012 commented on #231
Thanks Mitul, great work on this package!

[2016-07-30 13:20] janbolat opened #238 "doesn't work on Laravel 5.1"
Hello,

just installed your package, it seems it doesn't work on Laravel 5.1.
my composer.json:

[code]
When I try to generate CRUD:

`php artisan infyom:scaffold Bond`

it returns me this error:

`PHP Fatal error:  Call to undefined method InfyOm\Generator\Commands\Scaffold\ScaffoldGeneratorCommand::hasOption() in /var/www/site/html/vendor/infyomlabs/laravel-generator/src/Common/GeneratorConfig.p

[2016-07-31 06:02] mitulgolakiya commented on #238
@janbolat will fix it soon.

[2016-07-31 06:15] mitulgolakiya commented on #238
@janbolat its fixed. checked with the latest version.

[2016-07-31 06:15] #238 closed

[2016-07-31 07:41] janbolat commented on #238
thanks, it works!

[2016-08-01 07:40] FlorientR commented on #234
Ho yes sorry....

Thanks

[2016-08-02 10:11] microdesign opened #240 "Missing file inside the package"
This error happend right after I type exit and you package must generate the code

[ErrorException]
  file_get_contents(/Volumes/Storage/Projects/net-manager_new/vendor/infyomlabs/swagger-generator/templates/model/model.stub): failed to open stream: No such file or directory
Also, in your package folder have only two directories:

core-templates
laravel-generator

there is not a folder called 'swa

[2016-08-02 22:14] rasouza opened #241 "Laravel generator creates migration class without proper camelCase"
Once you run `php artisan infyom...` to generate your API, it creates the migration without uppercase in the second word (in my case: `CreatetemplatesTable`instead of `CreateTemplatesTable`). So when you need to rollback, laravel can't find the proper class to rollback due to mispelled name. The workaround is to rename the migration class, `composer dump-autoload` and then rollback.

[2016-08-04 19:06] mitulgolakiya commented on #240
@microdesign I think you are missing swagger-generator package. Read installation steps carefully here: http://labs.infyom.com/laravelgenerator/docs/master/installation#add-packages

[2016-08-04 19:07] #240 closed

[2016-08-05 03:19] lsc20051426 opened #243 "Any plan for I18N and L10N?"
Currently, the generated blade template only contains ENGLISH content.
Is there any plan to add Internationalization and Localization?

FYI: https://laravel.com/docs/5.2/localization

[2016-08-07 01:58] thandonguocmo2020 opened #245 "Have you prepared for laravel 5.3"
5.3 laravel upcoming new and changing many advantages laravel infyom packet matches.

[2016-08-07 16:15] john5db commented on #245
this is the first package i like to see in laravel 5.3 .

waiting to see it working with L5.3

[2016-08-08 06:01] youngerrainbow opened #249 "php artisan infyom:scaffold users --fromTable --tableName=users --prefix=admin"
on usercontroller.php    use App\Http\Controllers\Admin\AppBaseController as InfyOmBaseController;

but  appBaseController is  under  Http\Controllers\      not with Admin   so need to remove this Admin.

[2016-08-08 09:14] proverbial-ninja opened #250 "[Enhancement]: Compatibility rappasoft/laravel-5-boilerplate"
I'm a big fan of laravel generaator project ... I also use rappasoft to quickly set up my environment however mixing these two projects is hard .. These two projects combined would really shorten dev time ... please consider this.

[2016-08-08 18:34] mitulgolakiya commented on #245
@thandonguocmo2020 @john5db yes, its already on plan as next. Right now, I am working on some major refactoring for relationships and supprot for vuejs templates.

Once, its done. I am planning to have a version for 5.3.

[2016-08-08 18:35] mitulgolakiya commented on #185
Closing this in/with reference of https://github.com/InfyOmLabs/laravel-generator/issues/243

[2016-08-08 18:35] #185 closed

[2016-08-08 18:37] mitulgolakiya commented on #243
Yes, once we complete current major things, I have this feature in a plan.

[2016-08-08 18:39] mitulgolakiya commented on #250
@kmarima great one. I will fork that repo and will try to integrate generator into it. OR I will write some post on how to integrate it with rappasoft/laravel-5-boilerplate.

[2016-08-09 08:45] redmagi opened #252 "bug on jquery ajax"
i found problem "MethodNotAllowedHttpException in RouteCollection.php line 218:"

because bug on  jQuery v1.12.0 .

to fixed it. i change file \resources\views\infyom\generator-builder\builder.blade.php line 312 from **type**: "POST" to  **method**: "POST",

i knows this is bug on jquery but may help someone.

[2016-08-10 08:24] vesper8 commented on #250
I have been using these two projects together for months now and have had no trouble at all.. wondering why you say it's hard

[2016-08-10 14:51] samurex opened #253 "can't access documentation"
I can't access http://labs.infyom.com/laravelgenerator/docs/introduction all the links there link to http://labs.infyom.com/laravelgenerator/docs/introduction#

[2016-08-10 20:17] neosin opened #254 "I harken to the days long past where..."
one could download a script and have it run right out of the box without composer and the myriad other hoops necessary now days with Laravel... RIP Laravel 3.2 you are sorely missed

[2016-08-10 21:19] tpharaoh commented on #254
Quick admin from laraveldaily has a site which is close then. Free in beta
but full version will be cost/site

Still need composer but 2 commands and you are ready.

I don't use it but I am impressed.

On Aug 10, 2016 10:17 PM, "neosin" <notifications@github.com> wrote:

[2016-08-11 01:52] bencyn opened #255 "datatables in adminlte template is not working.."
while trying to load a new model route i get this error

No hint path defined for [datatables]. (View: C:\xampp\htdocs\laravel\adminLte\resources\views\orders\table.blade.php) (View: C:\xampp\htdocs\laravel\adminLte\resources\views\orders\table.blade.php)

[2016-08-12 08:02] garenk02 opened #256 "using ValidatorInterface::RULE_CREATE & RULE_UPDATE & image upload"
Hi @mitulgolakiya ,

I'm really appreciate & exciting with your package.
Now I have some questions:
1. Can u give example how to use/implement the ValidatorInterface::RULE_CREATE & RULE_UPDATE that came from Presttus package?
2. How if I want to do file upload on create and/or update? Would u give same example?

Many thank's

[2016-08-13 06:12] mitulgolakiya commented on #253
I think you are trying to click on content- on introduction. But that's just features list. They don't have any link.

[2016-08-13 06:12] #253 closed

[2016-08-13 06:13] #254 closed

[2016-08-13 06:17] mitulgolakiya commented on #255
@bencyn have you installed `yajra/laravel-datatables` properly? which is described [here](http://localhost/InfyOm/Generator/generator-docs/docs/generator-options#datatables).

[2016-08-13 06:47] tjimenez opened #257 "Datatable Not Working - Clean Install"
When a scaffold is generated all views works perfectly except the index.
It happends with a clean install.

If you try with an existing boilerplate eg: [bootstrap](https://github.com/InfyOmLabs/bootstrap-generator), works correctly. If you want to add new composer packages after running "composer update" stop working again.

Very nice work you have done guys! I hope you can find a soon solution to

[2016-08-13 12:34] Its-rahulG opened #258 "Can i use it in laravel 5.3"
Hi, i'm currently working on laravel 5.3, because taylor said that coding part is done only the documentation part is left. becuase laravel 5.3 is so cool and even more better then 5.2 i'm creating my new project API with it. Since laravel 5.3 routes dir has changed  can i still make use of this awesome library, ?

[2016-08-14 01:01] bencyn commented on #255
Thanks reviewed my process and its working.

[2016-08-14 01:01] #255 closed

[2016-08-14 03:33] motia commented on #258
In laravel 5.3, there is 4 changes that affect enjoying laravel-generator directly:

 1. the App\Http\routes.php file is replaced by routes\web.php and routes\api.php
 2. route names are not affected by group prefixes so using api_scaffold will result in duplicate names for resources so scaffolding will not work right.
 3. Both of AuthController and PasswordController are split on two, so the auth

[2016-08-14 12:49] mitulgolakiya commented on #258
@Its-rahulG No, it's currently not supported with laravel 5.3. Right now I'm working on specifying relationships. Once that's done it will be on a plan as a next thing.

[2016-08-14 12:50] mitulgolakiya commented on #258
@motia Thanks for pointing out required changes. It will be really helpful.

[2016-08-14 12:50] mitulgolakiya commented on #245
Closing in reference of https://github.com/InfyOmLabs/laravel-generator/issues/258

[2016-08-14 12:50] #245 closed

[2016-08-14 17:40] tjimenez commented on #257
Solved @mitulgolakiya seems like the something was missing in the template.
@yield('scripts')

[2016-08-16 09:35] gsc89 opened #259 "Hyphens"
Is there some issue with using hyphens in column names on tables then generating the model from table?

It generated the code but the view keeps assuming the column name is "subscription" for:

[code]

Error on the view is:

[code]

[2016-08-17 04:57] it9xpro opened #260 "Not Using"
full tutorial
![screenshot_1](https://cloud.githubusercontent.com/assets/6617916/17725042/adc6fd34-6471-11e6-8ad2-e939bf6d2219.png)

[2016-08-17 04:58] it9xpro commented on #260
Command "infyom.publish:generator-builder" is not defined.      [39;49m
[37;41m  Did you mean one of these?                                      [39;49m
[37;41m      infyom.publish:layout                                       [39;49m
[37;41m      infyom.publish:templates

[2016-08-17 09:32] jackleblack commented on #250
I also use these 2 wonderfull tools !

[2016-08-17 15:01] folkevil commented on #257
i got same problem, @tjimenez which is template file need to fix ?

[2016-08-17 15:06] tjimenez commented on #257
@folkevil you may be working in an existing project or a custom template, if so, just paste @yield('scripts') in the footer after all inclusion JS files.

I'm not sure but I think this instruction is not documented, that's why it works in the boilerplates but not in a custom or existing project.

[2016-08-18 02:11] lsc20051426 commented on #250
I am also using these 2 tools.How about Let's writing a doc for combining these 2 tools together? @jackleblack @vesper8

[2016-08-18 14:12] mitulgolakiya commented on #260
This was a documentation problem. It's fixed now.

And I think you are trying to use generator-builder without including that package. so you need to add that.

But I will recommend you to use it from command line, because generator-builder is in beta and not in sync with some latest features of generator.

[2016-08-18 14:12] #260 closed

[2016-08-18 14:13] mitulgolakiya commented on #259
@gsc89 I think its not a good practice. you should use _ (underscore) instead hyphens.

[2016-08-18 14:13] #259 closed

[2016-08-18 14:17] mitulgolakiya commented on #241
@rasouza its fixed in develop branch. will merge it soon.

[2016-08-18 14:17] #241 closed

[2016-08-18 15:06] gsc89 commented on #259
I realized that thanks, but this is an existing database someone else made.

[2016-08-18 18:07] #218 closed

[2016-08-18 18:07] mitulgolakiya commented on #218
Fixed in develop.

[2016-08-18 18:43] mitulgolakiya commented on #217
added in core-templates app.blade.php & ModelDataTable.php.
done in develop branch.

[2016-08-18 18:43] #217 closed

[2016-08-18 19:22] mitulgolakiya commented on #206
api routes are now snake cased.
folder name for model views is not snake cased.
Also, we are using bit more user-friendly name at various places like views, flash messages etc.
e.g. instead of "UserStatues" in view & flash messages, we are using "User Statues".

[2016-08-18 19:22] #206 closed

[2016-08-18 19:33] mitulgolakiya commented on #51
@NightZpy @codingquark @gsc89 It's almost completed. It's still just supporting adding relationship functions in model. Creating views for various relationship type is next thing to work.
You can check code in develop branch. I will share docs soon.

[2016-08-18 19:35] mitulgolakiya commented on #99
@chungbin1  we do not have currently support to generate foreign key from generator builder.

[2016-08-18 19:36] NightZpy commented on #51
@mitulgolakiya, thanks for that! I will soon test this feature and join to vuejs! <3

[2016-08-18 19:41] mitulgolakiya commented on #51
@NightZpy What my plan is, if we can separate out VueJs support with a total separate package, like we have for bootstrap, adminlte, metronic etc. Then it will good.

I am going to review the whole process in detail of VueJs and then will come up with some solution and will post it in issue #171.

[2016-08-18 19:51] NightZpy commented on #51
@mitulgolakiya Of course, is better choice. Currently the vuejs crud procces have more features for support relations. I can share to you (it's in a private project for a client)!

[2016-08-18 19:55] mitulgolakiya commented on #51
@NightZpy great. I know that CRUD generation for VueJs also needs some more steps than regular generator classes of blade.

But I am thinking to add support to extend it, so it can be possible with it. Still not any robust plan, but it's in a queue. :)

[2016-08-18 20:00] NightZpy commented on #51
Really the new steps:
- install packages in the package.json with npm install.
- (in my way) add crud.js to every index file that use vuejs and config.js (file with specific config for the current model).

I 'll give you access so you can see!

[2016-08-20 10:17] LucianoVandi opened #264 "Api Response using Pagination"
Hi there, when I use $this->repo->paginate(n) the response looks like this:

[code]

So if I want to access an item I need to do something like $res->data->data[0]->name.

I'm thinking to extend ResponseUtil to make it more readable like $res->data->items[0]->name, but I'm not sure if it's the proper way... some advice? :)

[2016-08-22 19:27] nasAtchia opened #265 "No hint path defined for [core-templates]"
Hi, I'm getting this error when I click on the Add New Button or the Edit Button in the dataTable:

`ErrorException in FileViewFinder.php line 112:
No hint path defined for [core-templates]. (View: /var/www/html/project/resources/views/users/create.blade.php)`

The View Button for a single record works fine though. FYI I'm using the adminlte templates. Any help please :)

[2016-08-22 20:19] phillipmadsen commented on #200
what do you use to output the html for docs. just wondering.  phpdocumentor as an example. also what theme did you finally end up using.

[2016-08-22 20:20] phillipmadsen opened #266 "What markup documentor do you use for the docs?"
what do you use to output the html for docs. just wondering. phpdocumentor as an example. also what theme did you finally end up using.

[2016-08-23 13:59] mitulgolakiya commented on #265
@nasAtchia Have you included `\InfyOm\CoreTemplates\CoreTemplatesServiceProvider::class,` service provider in your `config/app.php` ?

[2016-08-23 14:00] mitulgolakiya commented on #264
@LucianoVandi I like the approach. I will change it to `$data->items` in next version.

[2016-08-23 14:00] mitulgolakiya commented on #264
You can extend it as of now and can change it via template customization.

[2016-08-23 14:03] mitulgolakiya commented on #266
@phillipmadsen We were using `parsedown-extra` for output HTML in a previous theme. But with a new theme, I have written every page in individual blade page.

Current theme is not compatible with parsedown. But will change it later once I got time.

[2016-08-23 14:03] #266 closed

[2016-08-23 19:04] nasAtchia commented on #265
@mitulgolakiya In the doc it says:

"infyomlabs/core-templates": "dev-master" from your composer.json

\InfyOm\CoreTemplates\CoreTemplatesServiceProvider::class, from your config/app.php

Then add this:

Do I need to include both service provider?

[2016-08-23 20:22] mitulgolakiya commented on #265
@nasAtchia which templates you are using ? AdminLTE or Core ?
Based on that, you have to include service provider for that package.

[2016-08-23 20:24] nasAtchia commented on #265
@mitulgolakiya AdminLTE. Ok Thanks :)

[2016-08-23 20:24] #265 closed

[2016-08-24 12:41] LucianoVandi commented on #264
Thanks @mitulgolakiya! What do you mean with change it via template customization? Without the need of extending the util class?

While looking for a solution I started playing with League\Fractal, I really like that kind of abstraction for transformers and I think it could play very well with InfyOm generator.

I've already set up JWT so including Fractal will meet all my needs without having to

[2016-08-24 15:37] gsc89 opened #268 "Incorrect Wrapper Closure"
Just used (what I think is the default template) and the layout.app that was generated contained

`@if (Auth::guest())`

The else statement of that if statement has the black side bar inside it. The closing of the:

`
@else
    <div id="wrapper" class="">`

Needs to be after the main content otherwise the side bar menu appears over the top of the content area

![image](https://cloud.githubusercont

[2016-08-25 09:37] ergonomicus opened #269 "Uncaught TypeError: Cannot read property 'Buttons' of undefined"
Boilerplate worked fine, but when I tried to add generators to an existing project I get this in console:

Uncaught TypeError: Cannot read property 'Buttons' of undefined
Uncaught TypeError: Cannot read property 'ext' of undefined
Uncaught TypeError: $(...).DataTable is not a function

Index page is not working, only table headers are loaded.

Anyone already had this situation?

[2016-08-25 09:43] mitulgolakiya commented on #269
@ergonomicus I think you are may be missing some js and css files for datatables. Check here for a full list of files needed in our app layout. https://github.com/InfyOmLabs/core-templates/blob/master/templates/scaffold/layouts/app.stub

[2016-08-25 09:57] ergonomicus commented on #269
You are right, I was missing script call in my blade file.

Thanks a lot!

[2016-08-25 09:57] #269 closed

[2016-08-26 04:01] ergonomicus opened #270 "How to enable datatables caching?"
Like stated in title, how to enable/set up cache?

[2016-08-26 08:49] folkevil commented on #171
how about this update :D

[2016-08-26 08:53] NightZpy commented on #51
@mitulgolakiya remember that vuejs is agnostic to frontend styels, can be used with metronic, bootstrad, etc...

One package for every css framework for vuejs.

[2016-08-27 03:33] fgvicente opened #272 "[ErrorException] Array to string conversion"
php artisan infyom:api_scaffold monitores
Specify fields for the model (skip id & timestamp fields, we will add it automatically)
Enter "exit" to finish

 Field: (field_name:field_database_type) []:

 Enter field html input type (text):  [text]:

 Enter validations:  []:

 Is Searchable (y/N):  []:

 Field: (field_name:field_database_type) []:

 Enter field html input type (text):  [text]:

 Enter

[2016-08-28 04:21] vwijaya03 opened #273 "Routes in api.php not found"
i create route

Route::group(array('prefix' => 'api/v1.1'), function()
{
	Route::get('/user', 'UserController@index');
});

and when i try it, the route not working NotFoundHttpException.
how make it work ?

[2016-08-29 03:46] mitulgolakiya commented on #258
@Its-rahulG @motia 5.3 support is now available.

[2016-08-29 03:46] #258 closed

[2016-08-29 03:46] mitulgolakiya commented on #223
@normkatz check with the latest version. It should work now.

[2016-08-29 03:46] #223 closed

[2016-08-29 03:48] mitulgolakiya commented on #62
@phillipmadsen foreign key support is now added. Check docs [here](http://labs.infyom.com/laravelgenerator/docs/5.3/getting-started#field-inputs) & [here for file inputs](http://labs.infyom.com/laravelgenerator/docs/5.3/generator-options#fields-from-file)

[2016-08-29 03:48] #62 closed

[2016-08-29 03:55] mitulgolakiya commented on #273
@vwijaya03 Can you let me know which generator version and laravel version you are using ?
Are you using the latest version of a generator which is just released 2 days ago?

[2016-08-29 04:09] normkatz commented on #223
did not work for me.  In fact the behavior of the black left panel is
erratic when you change the width of the browser window from small to very
large.  I'm not really using the tool anymore so it's not a priority for
me.  But thanks for looking into this.

Norm

On Sun, Aug 28, 2016 at 8:46 PM, Mitul Golakya <notifications@github.com>
wrote:

[2016-08-29 04:21] mitulgolakiya commented on #272
@fgvicente we have just released one new version 2 days ago. Can you check with the latest version ? There are significant changes in inputs as well.

[2016-08-29 05:21] willmkt opened #274 "Add Graphql support"
Graphql is getting very popular now, and i thing it would be cool to add support.

Api with graphql reduces server requests and consumes less data from the client, and it is the future of apis.

Thanks.

[2016-08-29 08:43] schealex opened #275 "--fromTable does not generate rules"
Hello Guys, i'm quite new to this but i'm trying to setup a api for a very large project and i need to generate the files from existing db.

the generation itself works great and is a huge help but i would like to have the validation rules generated with it.

this is my example table:

[code]

the model is allright but it's missing the rules eg fieldtype + fieldlength
and if the field is NOT NULL

[2016-08-29 11:07] janbolat commented on #272
Hello, I have the same problem on Laravel 5.2.
My composer:
"infyomlabs/laravel-generator": "5.2.x-dev"

[2016-08-29 17:17] mitulgolakiya commented on #272
@janbolat Can you post your table schema here ?

[2016-08-29 17:18] mitulgolakiya commented on #274
@willmkt ok, thanks. will consider it for future development roadmap.

[2016-08-29 17:18] #274 closed

[2016-08-29 17:20] mitulgolakiya commented on #275
@schealex `--fromTable` is not generating validation rules based on NOT NULL. Because that can not be a case in all situations. And required is not the only validation. sometimes there will be many more validations like email,min,max etc. so at the end, we have to review it once and correct it.

so you have to specify rules by your self.

[2016-08-29 17:20] #275 closed

[2016-08-29 17:20] mitulgolakiya commented on #249
@youngerrainbow test with the latest version with full setup from scratch. It's fixed.

[2016-08-29 17:20] #249 closed

[2016-08-30 07:49] vijaythecoder commented on #171
I cant find any documentation regarding this feature on the site, also i tried to check the files to see how I can generate vuejs files and found this `php artisan infyom:vuejs Item --fromTable --tableName=items` but it gives me error

[code]
can some one help me what could go wrong? I am using laravel 5.3 and my api is already generated. I want to generate only vuejs files and I dont mind generat

[2016-08-30 07:50] mitulgolakiya commented on #171
@vijaythecoder vuejs support for 5.3 is currently under progress.

[2016-08-30 07:54] vijaythecoder commented on #171
@mitulgolakiya thanks a lot for quick response. any ETA on vuejs command, I will hold on my development if it is going to be soon. or if you can send me generated folder of vuejs files for one of the module, that would be great. And last thing, you guys rock (y)

[2016-08-30 07:56] mitulgolakiya commented on #171
@vijaythecoder @NightZpy is currently working on it. And actually, he is the actual developer of vuejs support to the generator. so maybe he can help you.

[2016-08-30 07:57] vijaythecoder commented on #171
sure thanks @mitulgolakiya

[2016-08-30 07:59] NightZpy commented on #171
@vijaythecoder i can give you access to my private project, you check ;) but is with laravel 5.2 yet! You want?

[2016-08-30 08:00] vijaythecoder commented on #171
wow @NightZpy that would great 👍

[2016-08-30 08:02] NightZpy commented on #171
@vijaythecoder only for copy needed files, but generator package vuejs support even don't ready!

[2016-08-30 08:03] vijaythecoder commented on #171
yeah I just want to see structure

[2016-08-30 08:56] vijaythecoder commented on #171
you can remove the access @NightZpy I copied the structure. Thanks a lot for your help 👍

[2016-08-30 09:01] NightZpy commented on #171
Ok, i hope that help you! :D

[2016-08-30 09:03] vijaythecoder commented on #171
yeah my folder structure is completely different than you did setup. but I can see lot of useful info from your code and following some logics.  I am using structure that reads data from api and then should work standalone so that it can be used in electron and also hybrid apps :) Thanks a lot for your time and help  .  Hope to see this released soon

[2016-08-30 19:50] kirchaj opened #276 "missing info in fields.blade.php"
I ran the generator and created a very simple scaffold with 1 field status_text    text   required

Everything appears to be created correctly but the fields.blade.php file which only has text below (no entry field)

<div class="form-group col-sm-12">
    {!! Form::submit('Save', ['class' => 'btn btn-primary']) !!}
    <a href="{!! route('orderStatuses.index') !!}" class="btn btn-default">Cancel</

[2016-08-31 02:35] phillipmadsen commented on #276
I will replicate it and take a look.  Give me a few

[2016-08-31 02:54] phillipmadsen opened #277 "Re: new options to consider"
1.  Make generate model command plural / singular depending on developer preference.

2.  Ad flag option to prefix's to put them in a names pace and prefix for the routes.  If option true it would generate the prefix in the routes for both namespace and prefix it also.  If beg just the suffix.
3.  Add ability to compartmentalize each generated crud into models / components / plug-ins that can be a

[2016-08-31 03:17] janbolat commented on #272
@mitulgolakiya here it is:

CREATE TABLE IF NOT EXISTS `companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) NOT NULL,
  `address1` varchar(100) DEFAULT NULL,
  `address2` varchar(100) DEFAULT NULL,
  `city` varchar(100) NOT NULL,
  `state` char(2) NOT NULL,
  `zip` varchar(15) NOT NULL,
  `county` varchar(250) DEFAULT NULL,
  `lat` decimal(9,6) DEFAULT NULL,
  `lng` decimal(

[2016-08-31 12:17] john5db opened #278 "Uncaught Unknown button type: colvis"
I am getting error while creating crud in laravel 5.3 .
following error in in browser console, And no data  in datatable.
[code]

[2016-08-31 15:49] underdpt commented on #272
Hi,
This is triggered when trying to use htmlType: checkbox.
There's another exception if you try to use htmlType: radio:

Also, maybe related, if I try to use "radio,Yes,No" or "checkbox,yes" the input doesn't appears on the form.

Thanging the htmlType to text, for example, works correctly.

[2016-08-31 16:05] underdpt opened #279 "Datatables and --paginate"
Hi,

If you enable datatables and try to use --paginate cli option, the index view throws an exception:

It seems it's trying to access the model variable, but that's not defined.
Looking at index.blade.php i found this:
`        @include('core-templates::common.paginate', ['records' => $empresas])`

If I remove that line, the exception dissapears.

I think using --paginate with datatables should

[2016-08-31 16:13] underdpt commented on #257
I think this is related to #230.
In my case, the template I'm using (Josh Template, based on AdminLTE) names the script section as 'footer_scripts' instead of 'scripts'. I added the @yield('scripts') command after the @yield('footer_scripts') on views\admin\layouts\default.blade.php to make it work.

Maybe there should be an option for setting the scripts section name?

[2016-08-31 16:39] mitulgolakiya commented on #278
@john5db Are you using the latest core-templates package 5.3 version ? Or have you include `dataTables.buttons.min.js` & `buttons.colVis.min.js` in your layout ?

You can find it here: https://github.com/InfyOmLabs/core-templates/blob/develop/templates/scaffold/layouts/app.stub#L130

[2016-08-31 16:51] mitulgolakiya commented on #272
@underdpt @fgvicente Can you check `checkbox` stuff again ?

[2016-08-31 17:20] mitulgolakiya commented on #276
@kirchaj what exact input you passed to field input ? this one: `status_text text required` ?

I think it should be `status_text string text` or `status_text text textarea`.

It should be in this format: `field_name db_type html_type`.

[2016-08-31 17:23] mitulgolakiya commented on #270
@ergonomicus I think you should refer [yajra/laravel-datatables](https://github.com/yajra/laravel-datatables) for more information.

Also worth to consider:
https://github.com/yajra/laravel-datatables/issues/252
https://github.com/yajra/laravel-datatables/issues/130

[2016-08-31 17:23] #270 closed

[2016-08-31 17:23] mitulgolakiya commented on #268
@gsc89 Can you post your full layout file somewhere ?

[2016-08-31 17:30] mitulgolakiya commented on #272
@underdpt get the latest version of core-templates. It should fix a problem. I just fixed it sometime ago.

[2016-08-31 18:07] underdpt opened #281 "Datatables: missing scripts"
Hi,

When generating scaffold with datatables, the package creates a table.blade.php like this:
[code]
In my case, it doesn't loads the buttons.server-side.js as it's missing a bar and tries to load it from the relative path of the url, which this time is "admin" but could be anything. To load it from the root path (public) it should be:
[code]
or even better:
[code]

I also updated datatables and

[2016-08-31 18:25] underdpt commented on #272
Hmmm. It didn't work, but I've double-checked and I've downloaded that latest commit.

I found a `resources\infyom\infyom-generator-templates\scaffold\fields\checkbox.stub` without the fix applied. I've tried to republish without luck. I don't know where it's comming from and why it's in use. Any hint?

I'm using an AdminLTE template ([Josh](https://codecanyon.net/item/josh-laravel-admin-template-

[2016-08-31 18:37] underdpt opened #282 "Datatables: error on routes"
Hi,

When generating a new scaffold with datatables, the generator creates the next routes, but the controller is missing the corresponding methods:
[code]
Also, in datatables_actions.blade.php there's a route that doesn't exists on custom_routes.php:
[code]
Also the delete button shows a javascript modal, not using any bootstrap modal (I think those are the missing methods on the controller).

[2016-08-31 19:09] ergonomicus commented on #270
Thanks for taking time to answer my question, though I find it very disappointing. I'll have to stick with my current solution.

[2016-08-31 20:24] kirchaj commented on #276
Mitulgolakiya,
I believe you are correct.  It had something to do with my entry to the field input.  I am unsure of the exact entry I made. I have been using it correctly since and the problem has not reoccurred.
Kirchaj

[2016-08-31 20:24] #276 closed

[2016-09-01 04:52] john5db commented on #278
i am using adminlte template

[2016-09-01 05:48] janbolat opened #283 "labels are not generated for SELECT and RADIO"
Hello,
I am trying to generate `select` and `radio` buttons with labels from json file. But it doesn't generate labels. I even tried to use examples from fields_sample.json:
`{
        "name": "category_short",
        "dbType": "string",
        "htmlType": "select,Technology:tech,LifeStyle:ls,Education:edu,Games:game"
},
{
        "name": "author_gender",
        "dbType": "integer",
        "ht

[2016-09-01 17:07] phillipmadsen opened #285 "typo in docs"
on 5.3 homepage for the docs you have a type at the bottom

[2016-09-01 18:18] mitulgolakiya commented on #285
Fixed.

[2016-09-01 18:18] #285 closed

[2016-09-02 09:59] thandonguocmo2020 opened #286 "Who can explain me define $MODEL_NAME_CAMEL$ in php file stub"
help I need something like that in :
\vendor\infyomlabs\laravel-generator\templates\scaffold\controller\controller.stub

         $theme = $this->gettheme();
         $name_set_magic$ = ucfirst($MODEL_NAME_CAMEL$);
        Theme::set$name_set_magic$($$MODEL_NAME_CAMEL$);

[2016-09-02 13:32] motia commented on #286
PHP function names are case insensetive so you can just put:
`Theme::set$MODEL_NAME_CAMEL$($$MODEL_NAME_CAMEL$);`

Otherwise, Theme::set$MODEL_NAME$($$MODEL_NAME_CAMEL$); if your model names are TitleCased.
Or Theme::set$MODEL_NAME_HUMAN$ if they don't contain underscores.

[2016-09-03 22:26] thandonguocmo2020 commented on #286
Good.  Thank Your comment

😊

[2016-09-03 22:26] #286 closed

[2016-09-05 03:10] gabrieldasilva opened #288 "Checkbox generation error"
Hi! Testing the 5.2 update in the adminLTE template boilerplate I found that checkbox generation from model schema (.json file) is not working well.  Even if activate the inForm flag the checkbox field is not added to the view.

This is my block in model schema

`{
        "name": "is_active",
        "dbType": "tinyInteger",
        "htmlType": "checkbox:Yes",
        "inForm": true
    },`

Some

[2016-09-05 15:32] gabrieldasilva commented on #288
I was checking de source code and found that this is a real issue. In src/Generators/Scaffold/ViewsGenerator.php the old code (with switch statement) used to generate the fields is under comments and now uses the utility HTMLFieldGenerator.php from src/Utils/.

If the htmlType is passed how is show on documentation "checkbox:1" or "checkbox:yes" then the switch doesn't recognize it and ignores the

[2016-09-05 15:34] gabrieldasilva commented on #288
Ok, i have and error in my json sintax.

Omitt this issue.

[2016-09-05 15:34] #288 closed

[2016-09-05 17:40] underdpt commented on #282
My bad, these were because the templates were published on the theme and aren't synced with the latest changes on the package.

[2016-09-05 17:40] #282 closed

[2016-09-05 18:28] underdpt commented on #279
I'm sorry this seems to be because an older template was published by my theme creator, and the template isn't synced with the latest updates from the package.
Once synced the templates, it seems to work correctly.

[2016-09-05 18:28] #279 closed

[2016-09-05 18:33] underdpt commented on #272
It works for me now that I've synced the published templates with the newest updates of the package.
¡Thanks!

[2016-09-06 21:28] kirchaj opened #289 "examples"
Does anyone have examples of the generator and what it produces?  Specifically, I am interested in how to implement the relationships and what it produces.  I am fairly new to laravel and documentation is a little slim for a newbie like me.  Seeing the end result would certainly help.

kirchaj

[2016-09-08 00:40] krugerdavid opened #290 "DataTables: send Request to the builder()"
Hi Guys

Is there a way to send parameters for the Builder? I'm using infyom and it comes with this great library. Was able to create a great collection with multiple joins. But I'm working on a report table, which I must send parameters for the filters. But right now I'm unable to set those parameters using the PHP classes itself and not the javascript code. Please let me know if there is an alte

[2016-09-08 13:57] Hayanno commented on #289
Same here ! An example on how to implements relationship (mtm in my case) would be amazing.

[2016-09-09 02:53] briano-jabico opened #291 "Defaults value in database migration doesn't work (infyom:scaffold)"
Greetings,

I'm using the 5.3 command-line interface to generate a migration for a line_items table. I've got a few fields for which I'd like to add database defaults. This is something Laravel supports, and the InfyOm generator **almost** supports it.

Here's the command I'm running.
[code]

Here's an excerpt from that file.
[code]

Here's an excerpt from what it's generating.
[code]

Here's what

[2016-09-09 18:01] underdpt opened #292 "Ambiguous route for show action"
Hi,

The generated scaffold routes contais one route like:

`Route::get('admin/{empresas}', ['as'=> 'admin.empresas.show', 'uses' => 'EmpresaController@show']);`

That route makes it impossible to properly generate another model's scaffold, because it's main route would be:

`Route::get('admin/test', ['as'=> 'admin.test.index', 'uses' => 'TestController@index']);`

This route would generate an url

[2016-09-10 11:26] mitulgolakiya commented on #289
closing in reference of https://github.com/InfyOmLabs/laravel-generator/issues/118

[2016-09-10 11:26] #289 closed

[2016-09-10 11:27] swash13 opened #293 "How to display image in datatables?"
I need to display image in datatables. How to add <img> tag and display for example image of the post ?
That's what i mean:
https://gyazo.com/7766af3258367c0116421a157f64f424

[2016-09-10 11:31] mitulgolakiya commented on #293
@swash13 you can do directly do it while generating files. You can generate your files with datatable then you need to do it manually.

You can find some reference here: https://datatables.net/forums/discussion/32924/is-it-possible-to-show-image-in-datatable

[2016-09-10 11:31] #293 closed

[2016-09-10 11:36] mitulgolakiya commented on #292
@underdpt I am not sure, how generator generated this route:

`Route::get('admin/{empresas}', ['as'=> 'admin.empresas.show', 'uses' => 'EmpresaController@show']);`

Because it always generates `resource`. Can you put some more information on this ?

[2016-09-10 12:24] mitulgolakiya commented on #291
@briano-jabico Great catch. Yes, that would be a possible fix. Will fix it.

[2016-09-10 12:35] #291 closed

[2016-09-10 12:35] mitulgolakiya commented on #291
@briano-jabico fixed.

[2016-09-10 13:36] mitulgolakiya commented on #283
@janbolat fixed.

[2016-09-10 13:36] #283 closed

[2016-09-11 12:46] mitulgolakiya commented on #257
@tjimenez great to it's working.
@underdpt will consider in future to specify section name.

[2016-09-11 12:46] #257 closed

[2016-09-11 12:48] mitulgolakiya commented on #236
@lorvent I don't think we have any other option as of now.

[2016-09-11 12:49] #224 closed

[2016-09-11 12:51] mitulgolakiya commented on #167
@abdullaheid will consider this feature in next roadmap.

[2016-09-11 12:54] #83 closed

[2016-09-12 05:33] underdpt commented on #292
I see two stubs for routes:
[code]
The first one is being used on my project, I think because on the config file i have the route prefix set:

[code]

The second one is the one with the resource route, but that's not being use when generating the scaffold.

So it's not always using the resource, isn't it? Maybe that's the problem, we should adapt the prefix_routes.stub to use `resource`?

[2016-09-14 01:52] shemgp opened #295 "Use aginev/datagrid"
Hello,

I would like to use https://github.com/aginev/datagrid with patches (https://github.com/aginev/datagrid/pull/6) in the generated table.blade.php as it has sorting and filters, etc and would like to have you input on how to go about it.  I realize that I probably need to edit generateBladeTableBody() in ViewGenerator.php to make it work I want it also to only be an option and not a replacem

[2016-09-15 12:13] underdpt commented on #295
Hi,

You know you can use [datatables](http://labs.infyom.com/laravelgenerator/docs/5.3/generator-options#datatables)?

It doesn't have a per-column filter (only a global search field), but that can be easily achieved (see [here](https://datatables.net/examples/api/multi_filter.html))

[2016-09-15 12:23] shemgp commented on #295
Hello,
Yes, but it only works with js enabled. I tried using datatables and it would not show the data.  Probably because of a library problem. Plus, looking at the code, it's hard to customize the columns.  
Hopefully, you would you accept a pull request. I kind of have it working locally with a patched Repository (need to patch to make filters filter using AND) and it'll need to add files to cor

[2016-09-15 22:51] briano-jabico commented on #291
Sorry about being slow to get back to you; I've been involved in other things. I can confirm that the fix works. Thanks!

[2016-09-16 03:02] shemgp commented on #295
Here's the pull request:  #296

[2016-09-16 10:51] gsc89 opened #297 "Searching on a Foreign key feild"
I have this table:

id
name
customer_id

I have output the customer name by using this in my ajax() function:

[code]
QueryException in Connection.php line 713:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'customer' in 'where clause' (SQL: select count(*) as aggregate from (select '1' as `row_count` from `boats` where (LOWER(`sage_ref`) LIKE %company% or LOWER(`name`) LIKE %company% or

[2016-09-16 10:57] gsc89 commented on #297
Thinking about it if someone could tell me how to disable a column from being searchable I can hook into the query function to add the facility to search by customer name or what ever the relationship requires myself.

[2016-09-16 12:12] gsc89 commented on #297
Closing this:

'customer' => ['name' => 'customer', 'data' => 'customer', 'searchable' => false]

To disable searching on a single column, I will hook into query for searching on the relationship.

[2016-09-16 12:12] #297 closed

[2016-09-17 11:40] mgazelle commented on #278
Please add the following line around 145 in the app.blade.php file after the datatables script

<script src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.colVis.js"></script>

[2016-09-18 09:53] mgazelle opened #299 "Error Generating PDF Files"
From all views when generating PDF files, an error occurs:

PHPExcel_Writer_Exception in DomPDF.php line 34:
Unable to load PDF Rendering library

Debugging the code it looks like the PHPExcel is looking for a file in the dompdf called dompdf_config.inc.php which is missing from the package and according to the versions of dompdf is not needed anymore

[2016-09-18 18:53] badgeek opened #300 "LaravelDatabaseDesigner support for Laravel Generator"
hi, im working on integrate laravel generator with

https://github.com/BioDesignRealWorld/LaravelDatabaseDesigner

ps im the author of laravel database designer.

cheers

[2016-09-19 04:50] redmagi opened #301 "search"
i search by http://localhost/contents?search=2&searchFields=website_id
with ContentsRepository
`<?php

namespace App\Repositories;

use App\Models\Contents;
use InfyOm\Generator\Common\BaseRepository;

class ContentsRepository extends BaseRepository
{
    protected $fieldSearchable = [
        'title' => 'like',
        'website_id' => '=',
    ];

[code]

}`

but no condition in sql like **select

[2016-09-19 08:08] betoflakes opened #302 "What is colvis at DataTable?"
My datatables wasn't working, so re-create and re-create the api scaffolding, so I copied the previous version of laravel generator and it worked, so then I found the parameter 'colvis' create the error that not allow load the datatable.

What is the functionality? Or I needed to remove before to load the table? Is was just me?

[code]

[2016-09-19 08:59] swash13 commented on #293
i can't find where to change it in generator ? Can you explain a little bit more?

[2016-09-19 09:03] swash13 opened #303 "Images in datatable"
Hello, i've already asked this question and i get a link here:
https://datatables.net/forums/discussion/32924/is-it-possible-to-show-image-in-datatable

But i still can't understand where to change this in generator ?
I will be very thankfully to get more details and what steps i should do. Thank you.

[2016-09-19 12:51] MightySCollins commented on #171
This looks really good, can't wait for this in Laravel 5.3!

[2016-09-19 17:22] schealex opened #306 "php artisan infyom:scaffold not working"
Hey volks,

i'm trying to use your awesome project but i'm failing horrible.

i've tried to setup json files to generate the scaffold from but it didn't work, gives me:
[code]

now i'm trying to use the GUIGenerator which btw is totally awesome (if it would work for me)
when clicking generate it shows "Files created successfully" but they are not,
i've dumped the output of the GeneratorBuilderCont

[2016-09-19 19:41] mltroutt commented on #306
Can you post the content of `customer.json`? The first part sounds like malformed json.

[2016-09-20 18:12] mitulgolakiya commented on #306
@schealex we recommend to use command line interface instead of GUI. GUI is still in beta and not in a sync with the latest development of laravel generator.

Also as @mltroutt said, can you post your `customer.json` ? so we can figure out a problem.

[2016-09-20 18:18] madsynn opened #308 "need to adjust generate from table output"
The first item generated is the id:increments  and its being generated like  "fieldInput": "id:integer,true,true", and reverse these two.     "inForm": true,   "inIndex": false

[code]

### Model.php
[code]
Also on the date fields you should change to false by default.
[code]

[2016-09-20 18:19] mitulgolakiya commented on #302
@betoflakes you can find more information here: https://datatables.net/reference/button/colvis

And try to use the latest version of a generator and re-publish your layout with the backup of an original one. It should work. Maybe you are missing the script files of colvis which is introduced in a new version.

[2016-09-20 18:20] mitulgolakiya commented on #300
@badgeek great. let me know once its ready.

[2016-09-20 18:20] #300 closed

[2016-09-20 18:20] madsynn commented on #308
also on the date fields you should change to false by default.
[code]

[2016-09-20 18:49] betoflakes commented on #302
Thank you, man. I will do more research about it.

[2016-09-20 19:08] madsynn commented on #308
I also noticed in your sample file you have it formatting the fields like this:
[code]
but in the actual output from table they are formatted like this:
[code]

What is this are is it now part of the generator?
[code]
if they are now part of it i would format the main sample file to copy the new format accordingly weather they are used on everyfield or not. Its getting a bit confusing. Also in rel

[2016-09-20 19:27] madsynn opened #309 "fields file in config not being used."
if the the path in the config is being used for the fields file we should not need to put absolute path we should be able to just use something like this.

php artisan infyom:api_scaffold User  --fieldsFile='User.json'

**instead of**

php artisan infyom:api_scaffold User  --fieldsFile='resources/model_schemas/User.json'

[2016-09-20 19:34] madsynn opened #310 "relations not working"
php artisan infyom:scaffold Account --relations

doesnt work.

[2016-09-20 19:42] ton212 opened #311 "API Version defined in configuration is not being used"
Hello

I just setup laravel-generator with `api_prefix = 'api'` and `api_version = 'v1'`. But when I run `php artisan infyom:api_scaffold Test` the `TestAPIController` is placed directly in  `app/Http/Controllers/API/` without separate namespace for each version, and also the route registed by the package is not has `v1` prefix too.

I this normal or it's has something to do with my configuration?

[2016-09-20 21:07] gabrieldasilva opened #312 "Managin relationships"
Hi everyone!

I'm trying to do something and I want to know what is the best way.

I have two tables: categories and category_translations. The relationship is one to many. A category has many category_translations.

When I run the generator with scaffold option for both tables i'm obtaining a complete CRUD. I want to have a create form for the category where I could add directly the translations

[2016-09-20 21:48] schealex commented on #306
never mind got it working i was assuming the json the gui generates would be valid from file but i think thats the problem why the gui is not working anymore because the structure has changed.
it's working fine now!

but as i'm here already, let me ask two more little questions:

1. is there a easy way to add filters to the datatables with input/select stuff (example would be great)
2. using the g